{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}  {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>{{ blog_details.blog_title }}</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i><a href="{% url 'blog:blog_list' %}">Blog List</a></span>  <span><i class="fa fa-angle-double-right"></i>{{ blog_details.blog_title }}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="blog-details-wrap mr-40">
                    <div class="blog-details-top">
                    {% if blog_details.blog_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
                            {% thumbnail blog_details.blog_image "830x370" as im %}
                            <img src="{{ im.url }}" alt="{{ blog_details.blog_title }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail blog_details.blog_image "830x370" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ blog_details.blog_title }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/blog/blog-details.jpg' %}" alt="{{ blog_details.blog_title }}">
                    {% endif %}
                        <div class="blog-details-content-wrap">
                            <div class="b-details-meta-wrap">
                                <div class="b-details-meta">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> {{ blog_details.date|date }}</li>
                                        <li><i class="fa fa-comments-o"></i> {{ blog_details.blogs_comment.count }}</li>
                                    </ul>
                                </div>
                                <span>{{ blog_details.category.title }}</span>
                            </div>

                            {{ blog_details.description|safe }}

                            <div class="blog-share-tags">
                                <div class="blog-share">
                                    <!-- <div class="blog-btn">
                                        <a href="#"><i class="fa fa-share-alt"></i></a>
                                    </div> -->
                                    <div class="blog-social">
                                        <ul>
                                            <li><a class="facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fa fa-facebook"></i></a></li>

                                            <!-- <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li> -->

                                            <li><a class="twitter" href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20{{ request.build_absolute_uri }}" target="_blank"><i class="fa fa-twitter"></i></a></li>

                                            <!-- <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-tag">
                                    <ul>
                                    {% for item in blog_details.tags.all %}
                                        <li><a href="{% url 'blog:blog_tag_details' blog_tag_slug=item.slug %}">{{ item.name }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if related_blogs %}
                    <div class="related-course pt-70">
                        <div class="related-title mb-45">
                            <h3>Related Blog</h3>

                        </div>
                        <div class="related-slider-active related-blog-slide pb-80">
                        {% for item in related_blogs %}
                            <div class="single-blog">
                                <div class="blog-img">
                                    <a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">
                                    	{% if item.blog_image %}
                                    		{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
                                    			{% thumbnail item.blog_image "260x200" as im %}
                                    			<img src="{{ im.url }}" alt="{{ item.blog_title }}">
                                    			{% endthumbnail %}
                                    		{% else %}
                                    			{% thumbnail item.blog_image "260x200" format="WEBP" as im %}
                                    			<img src="{{ im.url }}" alt="{{ item.blog_title }}">
                                    			{% endthumbnail %}
                                    		{% endif %}
                                    	{% else %}
		                                	<img src="{% static 'assets/img/blog/blog-15.jpg' %}" alt="{{ item.blog_title }}">
		                                {% endif %}
                                    </a>
                                </div>
                                <div class="blog-content-wrap">
                                    <span>{{ item.category.title }}</span>
                                    <div class="blog-content">
                                        <h4><a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">{{ item.blog_title }}</a></h4>
                                        {{ item.description|safe|truncatewords:"10" }}
                                        <div class="blog-meta">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-comments-o"></i> {{ item.blogs_comment.count }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-date">
                                        <a href="#"><i class="fa fa-calendar-o"></i> {{ item.date|date }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% endif %}
<!--                     <div class="blog-comment">
                        <div class="blog-comment-btn mb-80 commrnt-toggle">
                            <a href="#">VIEW COMMENT</a>
                        </div>
                        <div class="blog-comment-content-wrap">
                            <h4>COMMENT</h4>
                            <div class="single-blog-comment">
                                <div class="blog-comment-img">
                                    <img src="assets/img/blog/blog-comment.jpg" alt="">
                                </div>
                                <div class="blog-comment-content">
                                    <h5>AYESHA HOQUE</h5>
                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusm od tempor incidi dunt ut laboperspiciatis und.</p>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <div class="single-blog-comment child-comment">
                                <div class="blog-comment-img">
                                    <img src="assets/img/blog/blog-comment-2.jpg" alt="">
                                </div>
                                <div class="blog-comment-content">
                                    <h5>AYESHA HOQUE</h5>
                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusm od tempor incidi dunt ut laboperspiciatis und.</p>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                            <div class="single-blog-comment">
                                <div class="blog-comment-img">
                                    <img src="assets/img/blog/blog-comment-3.jpg" alt="">
                                </div>
                                <div class="blog-comment-content">
                                    <h5>AYESHA HOQUE</h5>
                                    <p>Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusm od tempor incidi dunt ut laboperspiciatis und.</p>
                                    <a href="#">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="leave-comment-area">
                        <h3>Leave A Comment</h3>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="leave-form">
                                        <input placeholder="Name" type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="leave-form">
                                        <input placeholder="Email" type="email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="leave-form leave-btn">
                                        <textarea placeholder="Message"></textarea>
                                        <input type="submit" value="POST YOUR COMMENT">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
                        <div class="col-xl-3 col-lg-4">
                <div class="sidebar-style">
                    <div class="sidebar-search mb-40">
                        <div class="sidebar-title mb-40">
                            <h4>Search</h4>
                        </div>
                        <form method="GET" action="{% url 'blog:search_blog' %}">

                            <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>

                        </form>
                    </div>
                    <div class="sidebar-recent-post mb-35">
                        <div class="sidebar-title mb-40">
                            <h4>Recent Post</h4>
                        </div>
                        <div class="recent-post-wrap">
                        {% for item in recent_blogs %}
                            <div class="single-recent-post">
                                <div class="recent-post-img">
                                    <a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">
                                    	{% if item.blog_image %}
	                                    	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
	                                    		{% thumbnail item.blog_image "260x200" as im %}
	                                    		<img src="{{ im.url }}" alt="{{ item.blog_title }}">
	                                    		{% endthumbnail %}
	                                    	{% else %}
	                                    		{% thumbnail item.blog_image "260x200" format="WEBP" as im %}
	                                    		<img src="{{ im.url }}" alt="{{ item.blog_title }}">
	                                    		{% endthumbnail %}
	                                    	{% endif %}
	                                    {% else %}
	                                    	<img src="{% static 'assets/img/blog/blog-5.jpg' %}" alt="{{ item.blog_title }}">
	                                    {% endif %}
                                    </a>
                                </div>
                                <div class="recent-post-content">
                                    <h5><a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">{{ item.blog_title }}</a></h5>
                                    <span>{{ item.category.title }}</span>
                                    {{ item.description|safe|truncatewords:"8" }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="sidebar-category mb-40">
                        <div class="sidebar-title mb-40">
                            <h4>Blog Categories</h4>
                        </div>
                        <div class="category-list">
                            <ul>
                            {% for item in blog_categories %}
                                <li><a href="{% url 'blog:blog_category_details' blog_category_slug=item.slug %}">{{ item.title }} <span>{{ item.blogs.count }}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-tag-wrap">
                        <div class="sidebar-title mb-40">
                            <h4>Tag</h4>
                        </div>
                        <div class="sidebar-tag">
                            <ul>
                            {% for item in tag_list %}
                                <li><a href="{% url 'blog:blog_tag_details' blog_tag_slug=item.slug %}">{{ item.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}