{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Search Blogs {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Search Result For {{ search_result }}</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>Search Result For {{ search_result }}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="blog-all-wrap mr-40">
                    <div class="row">
                    {% for item in blog_list %}
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-blog mb-30">
                                <div class="blog-img">
                                    <a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">
	                                    {% if item.blog_image %}
	                                    	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
	                                    		{% thumbnail item.blog_image "260x200" as im %}
	                                    		<img src="{{ im.url }}" alt="{{ item.blog_title }}">
	                                    		{% endthumbnail %}
	                                    	{% else %}
	                                    		{% thumbnail item.blog_image "260x200" format="WEBP" as im %}
	                                    		<img src="{{ im.url }}" alt="{{ item.blog_title }}">
	                                    		{% endthumbnail %}
	                                    	{% endif %}
	                                    {% else %}
	                                    	<img src="{% static 'assets/img/blog/blog-5.jpg' %}" alt="{{ item.blog_title }}">
	                                    {% endif %}
                                    </a>
                                </div>
                                <div class="blog-content-wrap">
                                    <span>{{ item.category.title }}</span>
                                    <div class="blog-content">
                                        <h4><a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">{{ item.blog_title }}</a></h4>
                                        {{ item.description|safe|truncatewords:"10" }}
                                        <div class="blog-meta">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-comments-o"></i> {{ item.blogs_comment.count }}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="blog-date">
                                        <a href="#"><i class="fa fa-calendar-o"></i> {{ item.date|date }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>

                    {% if is_paginated %}
                    <div class="pro-pagination-style text-center mt-25">
                        <ul>
                        {% if page_obj.has_previous %}
                            <li><a class="prev" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                        	{% if page_obj.number == i %}
                            	<li><a class="active" href="#">{{ i }}</a></li>
                            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                            	<li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a class="next" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                        {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-style">
                    <div class="sidebar-search mb-40">
                        <div class="sidebar-title mb-40">
                            <h4>Search</h4>
                        </div>
                        <form method="GET" action="{% url 'blog:search_blog' %}">

                            <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>

                        </form>
                    </div>
                    <div class="sidebar-recent-post mb-35">
                        <div class="sidebar-title mb-40">
                            <h4>Recent Post</h4>
                        </div>
                        <div class="recent-post-wrap">
                        {% for item in latest_blogs %}
                            <div class="single-recent-post">
                                <div class="recent-post-img">
                                    <a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">
                                    	{% if item.blog_image %}
	                                    	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
	                                    		{% thumbnail item.blog_image "260x200" as im %}
	                                    		<img src="{{ im.url }}" alt="{{ item.blog_title }}">
	                                    		{% endthumbnail %}
	                                    	{% else %}
	                                    		{% thumbnail item.blog_image "260x200" format="WEBP" as im %}
	                                    		<img src="{{ im.url }}" alt="{{ item.blog_title }}">
	                                    		{% endthumbnail %}
	                                    	{% endif %}
	                                    {% else %}
	                                    	<img src="{% static 'assets/img/blog/blog-5.jpg' %}" alt="{{ item.blog_title }}">
	                                    {% endif %}
                                    </a>
                                </div>
                                <div class="recent-post-content">
                                    <h5><a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">{{ item.blog_title }}</a></h5>
                                    <span>{{ item.category.title }}</span>
                                    {{ item.description|safe|truncatewords:"8" }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <div class="sidebar-category mb-40">
                        <div class="sidebar-title mb-40">
                            <h4>Blog Categories</h4>
                        </div>
                        <div class="category-list">
                            <ul>
                            {% for item in blog_categories %}
                                <li><a href="{% url 'blog:blog_category_details' blog_category_slug=item.slug %}">{{ item.title }} <span>{{ item.blogs.count }}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-tag-wrap">
                        <div class="sidebar-title mb-40">
                            <h4>Tag</h4>
                        </div>
                        <div class="sidebar-tag">
                            <ul>
                            {% for item in blog_tags %}
                                <li><a href="{% url 'blog:blog_tag_details' blog_tag_slug=item.slug %}">{{ item.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}