

<div>
    <div class="certificado_pagina">
        <div class="certificado_conteudo">
            <div class="row end-xs">
                <div class="col-xs-10">
                    <div class="box">
                        <p class="padding_top_35 center">
                            <span class="font-40 negrito  quebra_linha serif"> Ankr Global </span>
                        </p>
                        <p class="center altura_linhas_19">
                            <span class="font-17 quebra_linha">Your Trusted Partner</span>
                        </p>
                    </div>
                    <div class="box">
                        <p class="padding_top_35 margin_bottom_35 center">
                            <span class="font-31 negrito-2  quebra_linha">CONCLUSION OF THE 2nd segment of fundamental EDUCATION</span>
                        </p>
                        <div class="caixa_informacoes_aluno_cea serif">
                            <p class="esquerda">This is to certify thay</p>
                            <p>
                                <span class="sublinhar negrito">Niladry Kar,</span>has competed the course <span class="sublinhar negrito">Course Name</span>
                            </p>
                            <p>
                                Thus, we give you this <span class="negrito">Certificate</span>, in accordance with Law 9.394 / 96, to enjoy your rights at the national level.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row end-xs">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="caixa_informacoes_aluno_cea">
                            <p class="esquerda data_entrega_cea">
                                MACAPÁ - AP, 10 DE NOVEMBRO DE 2017
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row end-xs">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="assinatura_cea serif">
                            <p class="negrito center">____________________________</p>
                            <p class="negrito center">Concluinte</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row end-xs">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="assinatura_cea serif">
                            <p class="negrito center">____________________________</p>
                            <p class="negrito center">Diretora</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="box">
                        <div class="assinatura_cea serif">
                            <p class="negrito center">____________________________</p>
                            <p class="negrito center">Secretária</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>