{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Profile {% endblock %}


{% block content %}


                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">




                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">Your Profile</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">


                    <div class="row">

                        <div class="col-md-9">

                            <div class="row">
                                <div class="col-md-2">
                                    {% if profile.image %}
                                        {% thumbnail profile.image "84x84" as im %}
                                        <img src="{{ im.url }}" class="rounded-circle" alt="{{ profile.user.username }}" style="max-width: 84px;">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% static 'avatar.jpg' %}" class="rounded-circle" alt="{{ profile.user.username }}" style="max-width: 84px;">
                                    {% endif %}

                                </div>
                                <div class="col-md-5">  
                                    <h3>{{ profile.user.username }}</h3>
                                    {% if profile.phone_no %}<span>Phone - {{ profile.phone_no }}</span>
                                    <br>{% endif %}
                                    <span>Email - {{ profile.email }}</span>
                                </div>
                            </div>

                            

                            <br>

                            <div class="row">

                                <div class="col-lg-12">

                                    <div class="tabs tabs-alt clearfix" id="tabs-profile">

                                        <div class="tab-container">

                                            <div class="tab-content clearfix" id="tab-feeds">

                                            {% if profile.basic_info %}
                                                <p class="">{{ profile.basic_info }}</p>
                                                <br>
                                            {% endif %}

                                            {% if not user.is_superuser %}

                                                <h3>Your Courses</h3>
                                                <table class="table table-bordered table-striped">
                                                  <thead>
                                                    <tr>
                                                      <th>Course Name</th>
                                                      <th>Date of Purchase</th>
                                                      <th>Date of Expiry</th>
                                                      <th>Total</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                  {% for item in user_courses %}
                                                    <tr>
                                                      <td>
                                                        <code>{{ item.course.name }}</code>
                                                      </td>
                                                      <td>{{ item.date_of_subscription|date }}</td>
                                                      <td>{{ item.date_of_expiry|date }}</td>
                                                      <td>&#8377; {{ item.total }}</td>
                                                    </tr>
                                                {% endfor %}

                                                  </tbody>
                                                </table>
                                            {% endif %}

                                            </div>
                                            
                                            
                                            

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="w-100 line d-block d-md-none"></div>

                        <div class="col-md-3 clearfix">

                            <div class="list-group">
                                <a href="{% url 'user_profile:profile_edit' %}" class="list-group-item list-group-item-action clearfix">Edit Profile <i class="icon-user float-right"></i></a>
                                <a href="{% url 'accounts:change_password' %}" class="list-group-item list-group-item-action clearfix">Change Password <i class="icon-laptop2 float-right"></i></a>
                                <a href="{% url 'courses:my_course_list' %}" class="list-group-item list-group-item-action clearfix">My Courses <i class="icon-envelope2 float-right"></i></a>
                                <a href="{% url 'accounts:logout' %}" class="list-group-item list-group-item-action clearfix">Logout <i class="icon-line2-logout float-right"></i></a>
                            </div>


                        </div>

                    </div>



                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}