{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} All Students {% endblock %}


{% block content %}


                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">




                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">All Students</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">

                                        <div class="card card-form">
                                            <div class="row no-gutters">
                                                
                                                <div class="col-lg-12 card-form__body">

                                                    <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>

                                                        <div class="search-form search-form--light m-3">

                                                            <input type="text" id="id_input" class="form-control search" placeholder="Search Student by name / email / User Type">

                                                            <button class="btn" type="button"><i class="material-icons">search</i></button>
                                                        </div>

                                                        <div id="profile_list">
                                                            {% include 'user_profile/user_ajax_list.html' %}
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                        {% if is_paginated %}
                                            <hr>
                                            <div class="d-flex flex-row align-items-center mb-3">
                                                
                                                <ul class="pagination m-0">

                                                    {% if page_obj.has_previous %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}#activity_user" aria-label="Previous">
                                                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                                                            <span>Prev</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}

                                                    {% for i in paginator.page_range %}
                                                        {% if page_obj.number == i %}
                                                            <li class="page-item active">
                                                                <a class="page-link" href="#" aria-label="{{ i }}">
                                                                    <span>{{ i }}</span>
                                                                </a>
                                                            </li>
                                                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page={{ i }}#activity_user" aria-label="{{ i }}">
                                                                    <span>{{ i }}</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}


                                                    {% if page_obj.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}#activity_user" aria-label="Next">
                                                            <span>Next</span>
                                                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                            {% endif %}

                                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}

{% block js %}

<script type="text/javascript">
    jQuery(function() {
    $("#id_input").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: '{% url "user_profile:student_search" %}',
            data: {
              'search': value 
            },
            dataType: 'json',
            success: function (data) {
                $('#profile_list').html(data['html'])
                if (data.query != ""){
                  $('#user_autocomplete').show()
                }
                       
            }
        });        
    });
  });
</script>

{% endblock %}