{% if user_list %}

<div class="wrapper wrapper-content animated fadeInRight ecommerce" id="user_autocomplete">

<table class="table mb-0 thead-border-top-0">
    <thead>
        <tr>

            <th style="width: 37px;">Name</th>

            <th style="width: 37px;">Email</th>
            <th style="width: 37px;">User Type</th>
            <th style="width: 120px;">User Since</th>
            <th style="width: 50px;">View Purchased Courses</th>
            <th style="width: 120px;">Add Courses</th>
        </tr>
    </thead>
    <tbody class="list" id="staff02">
        {% for people in user_list %}
        <tr>

            <td>

                <span class="js-lists-values-employee-name">{{ people.user.username }}</span>

            </td>

                 <td>
                    {{ people.email }}
                </td>


            <td>
            {% if people.user_type == 'STUDENT' %}
                <span class="badge badge-success">{{ people.user_type }}
                </span>
            {% elif people.user_type == 'TEACHER' %}
                <span class="badge badge-primary">{{ people.user_type }}
                </span>
            {% else %}
                <span class="badge badge-warning">{{ people.user_type }}
                </span>
            {% endif %}
            </td>

            <td><small class="text-muted">{{ people.user.date_joined|timesince }}&nbsp;ago</small></td>

            <td><a href="{% url 'courses:user_courses_list' profile_pk=people.pk %}" class="btn btn-info">View</a></td>

            <td><a href="{% url 'courses:user_course_manual_subscription_list' profile_pk=people.pk %}" class="btn btn-primary">Add</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

</div>
{% else %}

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissable" id="limit-alert">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <strong>No User Found</strong>
            </div>
        </div>
    </div>
</div>

{% endif %}