{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} FAQs {% endblock %}

{% block css %}

<style type="text/css">
        /* Portfolio - Filter
    -----------------------------------------------------------------*/

    .portfolio-filter {
        position: relative;
        margin: 0 0 40px 0;
        list-style: none;
        border: 1px solid rgba(0,0,0,0.07);
        float: left;
        border-radius: 4px;
    }

    .portfolio-filter li {
        float: left;
        position: relative;
    }

    .portfolio-filter li a {
        display: block;
        position: relative;
        padding: 12px 18px;
        font-size: 13px;
        line-height: 15px;
        color: #666;
        border-left: 1px solid rgba(0,0,0,0.07);
    }

    .portfolio-filter li:first-child a {
        border-left: none;
        border-radius: 4px 0 0 4px;
    }

    .portfolio-filter li:last-child a { border-radius: 0 4px 4px 0; }

    .portfolio-filter li a:hover { color: #1ABC9C; }

    .portfolio-filter li.activeFilter a {
        color: #FFF !important;
        background-color: #1ABC9C;
        margin: -1px 0;
        padding: 13px 18px;
        font-weight: bold;
    }

    /* Toggle - FAQs
-----------------------------------------------------------------*/

    .faqs .toggle {
        border-bottom: 1px solid #EEE;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .faqs .toggle .togglet,
    .faqs .toggle .toggleta { font-size: 15px; }

    .faqs .toggle .togglet i {
        top: 1px;
        font-size: 14px;
    }

    .faqs .toggle .togglec { padding-bottom: 10px; }


/* ----------------------------------------------------------------
</style>

{% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Frequently Asked Questions</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a>  <span><i class="fa fa-angle-double-right"></i>FAQs</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-details-wrap mr-40">
                    <div class="blog-details-top">
                        <div class="blog-details-content-wrap">


                            <ul id="portfolio-filter" class="portfolio-filter customjs clearfix">

                                <li class="activeFilter"><a href="#" data-filter="all">All</a></li>
                                {% for item in faq_categories %}
                                    <li><a href="#" data-filter=".{{ item.slug }}">{{ item.name }}</a></li>
                                {% endfor %}

                            </ul>

                            <br>
                            <br>

                            <div id="faqs" class="faqs" style="margin-top: 50px;">

                                {% for item in faq_list %}
                                    <div class="toggle faq {{ item.category.slug }}">
                                        <div class="togglet"><i class="fa fa-question-circle"></i>&nbsp; <strong>{{ item.question }}</strong></div>
                                        <div class="togglec">{{ item.answer|safe }}</div>
                                    </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
    jQuery(document).ready(function($){
        var $faqItems = $('#faqs .faq');
        if( window.location.hash != '' ) {
            var getFaqFilterHash = window.location.hash;
            var hashFaqFilter = getFaqFilterHash.split('#');
            if( $faqItems.hasClass( hashFaqFilter[1] ) ) {
                $('#portfolio-filter li').removeClass('activeFilter');
                $( '[data-filter=".'+ hashFaqFilter[1] +'"]' ).parent('li').addClass('activeFilter');
                var hashFaqSelector = '.' + hashFaqFilter[1];
                $faqItems.css('display', 'none');
                if( hashFaqSelector != 'all' ) {
                    $( hashFaqSelector ).fadeIn(500);
                } else {
                    $faqItems.fadeIn(500);
                }
            }
        }

        $('#portfolio-filter a').on( 'click', function(){
            $('#portfolio-filter li').removeClass('activeFilter');
            $(this).parent('li').addClass('activeFilter');
            var faqSelector = $(this).attr('data-filter');
            $faqItems.css('display', 'none');
            if( faqSelector != 'all' ) {
                $( faqSelector ).fadeIn(500);
            } else {
                $faqItems.fadeIn(500);
            }
            return false;
       });
        
    });
</script>

{% endblock %}