{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} {{ technology_details.name }} {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>{{ technology_details.name }}</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i><a href="{% url 'technology:technology_list' %}">Technology</a></span> <span><i class="fa fa-angle-double-right"></i>{{ technology_details.name }}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-details-wrap mr-40">
                    <div class="blog-details-top">
                    {% if technology_details.image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
                            {% thumbnail technology_details.image "1000x550" as im %}
                            <img src="{{ im.url }}" alt="{{ technology_details.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail technology_details.image "1000x550" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ technology_details.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/blog/blog-details.jpg' %}" alt="{{ technology_details.name }}">
                    {% endif %}
                        <div class="blog-details-content-wrap">
                            

                            {{ technology_details.detailed_description|safe }}


                        </div>

                        <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8">
                                <div class="course-tab-list nav pt-10 pb-10 mb-35">
                                {% for item in tab_list %}
                                    <a {% if forloop.first %}class="active"{% endif %} href="#{{ item.slug }}" data-toggle="tab" >
                                        <h4>{{ item.name }}</h4>
                                    </a>
                                {% endfor %}
                                </div>
                                <div class="tab-content jump">
                                {% for item in tab_list %}
                                    <div class="tab-pane active" id="{{ item.slug }}">
                                        <div class="over-view-content">
                                            {{ item.text|safe }}
                                            
                                        </div>
                                    </div>
                                {% endfor %}

                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4">
                                <div class="sidebar-category mb-40">
                                    <div class="sidebar-title mb-40">
                                        <h4>Technology</h4>
                                    </div>
                                    <div class="category-list">
                                        <ul>
                                            {% for item in technology_list %}
                                                <li><a href="{% url 'technology:technology-details' technology_slug=item.slug %}">{{ item.name }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                        <div class="text-center">
                            <a href="{% url 'technology:technical_enquiry' technology_slug=technology_details.slug %}" class="btn btn-success">Enquire Now</a>
                        </div>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}