{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} Technology {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Technology</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p> -->
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>Technology</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="blog-details-wrap mr-40">
                    <div class="blog-details-top">
                    {% if technology_elements.image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail technology_elements.image "830x372" as im %}
                            <img src="{{ im.url }}" alt="Consultancy Image" title="Consultancy Image">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail technology_elements.image "830x372" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="Consultancy Image" title="Consultancy Image">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/blog/blog-details.jpg' %}" alt="Consultancy Image" title="Consultancy Image">
                    {% endif %}
                        <div class="blog-details-content-wrap">
                            <h3>{{ technology_elements.heading }}</h3>
                            {{ technology_elements.text|safe }}
                            <blockquote>
                                <i class="quote-top fa fa-quote-left"></i>
                                {{ technology_elements.quote }}
                                <i class="quote-bottom fa fa-quote-right"></i>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-style">
                    <div class="sidebar-about mb-40">
                        <div class="sidebar-title mb-15">
                            <h4>About Us</h4>
                        </div>
                        {{ about.about_description|safe|truncatewords:"38" }}
                        <a href="{% url 'about_us:about_ankr' %}" class="btn btn-outline-secondary btn-sm">Read More</a>
                        <a href="{% url 'about_us:about_ankr' %}">
                        {% if technology_elements.about_us_image %}
                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                {% thumbnail technology_elements.about_us_image "268x99" as im %}
                                <img src="{{ im.url }}" alt="About Us Image" title="About Us Image">
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail technology_elements.about_us_image "268x99" format="WEBP" as im %}
                                <img src="{{ im.url }}" alt="About Us Image" title="About Us Image">
                                {% endthumbnail %}
                            {% endif %}
                        {% else %}
                            <img src="{% static 'assets/img/banner/banner-4.jpg' %}" alt="About Us Image" title="About Us Image">
                        {% endif %}
                        </a>
                        <div class="sidebar-social">
                            <ul>
                                {% if common_info.facebook_link %}
                                <li><a class="facebook" href="{{ common_info.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}

                                {% if common_info.youtube_link %}
                                    <li><a class="youtube" href="{{ common_info.youtube_link }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                                {% endif %}

                                {% if common_info.twitter_link %}
                                    <li><a class="twitter" href="{{ common_info.twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}

                                {% if common_info.linkedin_link %}
                                    <li><a class="facebook" href="{{ common_info.linkedin_link }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}

                                {% if common_info.instagram_link %}
                                    <li><a class="instagram" href="{{ common_info.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}

                                {% if common_info.google_link %}
                                    <li><a class="google-plus" href="{{ common_info.google_link }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-category mb-40">
                        <div class="sidebar-title mb-40">
                            <h4>Technology</h4>
                        </div>
                        <div class="category-list">
                            <ul>
                            {% for item in technology_list %}
                                <li><a href="{% url 'technology:technology-details' technology_slug=item.slug %}">{{ item.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="event-area pt-40 pb-40" style="padding-bottom: 5px;">
    <div class="container">
        <div class="section-title mb-75 course-mrg-small">
            <h2> <span>Technology</span> Used</h2>
            
        </div>
        <div class="row">
        {% for item in technology_list %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="single-event mb-55 event-gray-bg">
                    <div class="event-img">
                        <a href="{% url 'technology:technology-details' technology_slug=item.slug %}">
                            {% if item.image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail item.image "260x202" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.name }}">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.image "260x202" format="WEBP" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.name }}">
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                <img src="{% static 'assets/img/event/event-5.jpg' %}" alt="{{ item.name }}">
                            {% endif %}
                        </a>
                        <!-- <div class="event-date-wrap">
                            <span class="event-date">1st</span>
                            <span>Dec</span>
                        </div> -->
                    </div>
                    <div class="event-content">
                        <h3><a href="{% url 'technology:technology-details' technology_slug=item.slug %}">{{ item.name }}</a></h3>
                        {{ item.short_description|safe|truncatewords:"25" }}
                        <div class="event-meta-wrap">
                            <!-- <div class="event-meta">
                                <i class="fa fa-location-arrow"></i>
                                <span>Mascot Plaza ,Uttara</span>
                            </div>
                            <div class="event-meta">
                                <i class="fa fa-clock-o"></i>
                                <span>05:30 am</span>
                            </div> -->
                            <div class="text-center">
                                <a class="btn btn-success btn-sm" href="{% url 'technology:technology-details' technology_slug=item.slug %}">Explore More</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>


<div class="achievement-area pt-70 pb-70">
    <div class="container">
        <div class="section-title mb-75">
            <h2>User <span>Feedbacks</span></h2>
            
        </div>
        <div class="testimonial-slider-wrap mt-45">
            <div class="testimonial-text-slider">
            {% for item in review_list %}
                <div class="testi-content-wrap">
                    <div class="testi-big-img">
                    {% if item.client_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.client_image "580x450" as im %}
                            <img alt="{{ item.name }}" src="{{ im.url }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.client_image "580x450" format="WEBP" as im %}
                            <img alt="{{ item.name }}" src="{{ im.url }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img alt="{{ item.name }}" src="{% static 'assets/img/testimonial/testi-b1.jpg' %}" title="{{ item.name }}">
                    {% endif %}
                    </div>
                   <div class="row no-gutters">
                       <div class="ml-auto col-lg-6 col-md-12">
                           <div class="testi-content bg-img default-overlay" 
                            {% if item.background_image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail item.background_image "580x450" format="PNG" as im %}
                                    style="background-image:url('{{ im.url }}');"
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.background_image "580x450" format="WEBP" as im %}
                                    style="background-image:url('{{ im.url }}');"
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                style="background-image:url({% static 'assets/img/bg/testi.png' %});"
                            {% endif %}
                                    >
                                <div class="quote-style quote-left">
                                   <i class="fa fa-quote-left"></i>
                                </div>
                                {{ item.review|safe }}
                                <div class="testi-info">
                                   <h5>{{ item.name }}</h5>
                                  <!--  <span>Students Of AMMT Department</span> -->
                                </div>
                                <div class="quote-style quote-right">
                                   <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testi-arrow">
                                    <img alt="Arrow Image" src="{% static 'assets/img/icon-img/testi-icon.png' %}" title="Arrow Image">
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
            {% endfor %}
            </div>
            <div class="testimonial-image-slider">
                {% for item in review_list %}
                <div class="sin-testi-image">
                    {% if item.client_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.client_image "120x100" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.client_image "120x100" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/testimonial/testi-s2.jpg' %}" alt="{{ item.name }}" title="{{ item.name }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="testimonial-text-img">
            <img alt="People Image" src="{% static 'assets/img/icon-img/testi-text.png' %}" title="People Image">
        </div>
    </div>
</div>
{% endblock %}