{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Certificate {% endblock %}

{% block css %}

<link type="text/css" href="{% static 'assets/css/certificate.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">


                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">Your Certificate</h1>
                            <div class="pull-right" style="margin-left: 682px;">
                                <input class='btn btn-info' type="button" onclick="printDiv('printableArea')" value="Print Certificate" />
                            </div>
                            
                        </div>
                    </div>

            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="container-fluid page__container">
                        

                            <div id="printableArea">
                                <div class="certificado_pagina">
                                    <div class="certificado_conteudo" style="background-image: url({% static 'certificate-of-completion.png' %});">
                                        <div class="row end-xs">
                                            <div class="col-xs-10">



                                                <div class="box" style="margin-top: 295px;">
                                                <span style="margin-left: 830px;color: #979797;">{{ user_course.certificate_no }}</span>
                                                <h1 style="color: #01A54E;margin-left: 630px; ">{{ user.profile.full_name }}</h1>
                                                    <div class="caixa_informacoes_aluno_cea serif">
                                                        <p class="esquerda text-center" style="margin-left: 300px;color: #979797;font-style: italic;"><small>This is to certify that, {{ user.profile.full_name }} has successfully completed {{ course_details.duration }} training program of {{ course_details.name }} with 100% attendence.</small></p>
                                                        
                                                    </div>
                                                    <style>
                                                        * {
                                                          box-sizing: border-box;
                                                        }

                                                        .column {
                                                          float: left;
                                                          width: 33.33%;
                                                          padding: 5px;
                                                        }

                                                        /* Clearfix (clear floats) */
                                                        .row-image::after {
                                                          content: "";
                                                          clear: both;
                                                          display: table;
                                                        }
                                                    </style>
                                                    <div class="row-image">
                                                        <div class="column">
                                                        {% if signatures.ceo_signature %}
                                                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                                {% thumbnail signatures.ceo_signature "100x100" format="PNG" as im %}
                                                                <img class="animated" src="{{ im.url }}" alt="CEO Signature" width="100" height="100" style="margin-left: 650px;">
                                                                {% endthumbnail %}
                                                            {% else %}
                                                                {% thumbnail signatures.ceo_signature "100x100" format="WEBP" as im %}
                                                                <img class="animated" src="{{ im.url }}" alt="CEO Signature" width="100" height="100" style="margin-left: 650px;">
                                                                {% endthumbnail %}
                                                            {% endif %}
                                                        {% else %}
                                                            <img class="animated" src="{% static 'Signature.png' %}" alt="CEO Signature" width="100" height="100" style="margin-left: 650px;">
                                                        {% endif %}
                                                        </div>
                                                        
                                                        <div class="column">
                                                        {% if signatures.co_founder_signature %}
                                                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                                {% thumbnail signatures.co_founder_signature "100x100" format="PNG" as im %}
                                                                <img class="animated" src="{{ im.url }}" alt="CEO Signature" width="100" height="100" style="margin-left: 500px;">
                                                                {% endthumbnail %}
                                                            {% else %}
                                                                {% thumbnail signatures.co_founder_signature "100x100" format="WEBP" as im %}
                                                                <img class="animated" src="{{ im.url }}" alt="CEO Signature" width="100" height="100" style="margin-left: 500px;">
                                                                {% endthumbnail %}
                                                            {% endif %}
                                                        {% else %}
                                                            <img class="animated" src="{% static 'Signature.png' %}" alt="CEO Signature" width="100" height="100" style="margin-left: 500px;">
                                                        {% endif %}
                                                        </div> 

                                                    </div>

                                                    
                                                        
                                                    
                                                </div>

                                                <div style="margin-top: 90px;">
                                                    <span style="color: #979797;margin-left: 75px;">{{ user_course.date_of_subscription|date }}</span>
                                                </div>

                                                <div style="margin-top: 20px;">
                                                    <span style="color: #979797;margin-left: 70px;">{{ user_course.certificate_no }}</span>
                                                </div>

                                            </div>
                                        </div>
                            <!--             <div class="row end-xs">
                                            <div class="col-xs-5">
                                                <div class="box">
                                                    <div class="assinatura_cea serif">
                                                        <p class="negrito center">____________________________</p>
                                                        <p class="negrito center">Diretora</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <div class="box">
                                                    <div class="assinatura_cea serif">
                                                        <p class="negrito center">____________________________</p>
                                                        <p class="negrito center">Secretária</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>

                            </div>

 



                    </div>
                </div>
                
            </div>
                    


                </div>
                <!-- // END header-layout__content -->

                
{% endblock %}

{% block js %}

  <script type="text/javascript">

    function printDiv(divName) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;

      document.body.innerHTML = printContents;

      window.print();

      document.body.innerHTML = originalContents;
    }

    // function myFunction() {
    //   /* Get the text field */
    //   var copyText = document.getElementById("saleslink");

    //   /* Select the text field */
    //   copyText.select();
    //   copyText.setSelectionRange(0, 99999); /*For mobile devices*/

    //   /* Copy the text inside the text field */
    //   document.execCommand("copy");

    //   /* Alert the copied text */
    //   alert("Copied the text: " + copyText.value);
    // }
  </script>

{% endblock %}