{% load crispy_forms_tags %}
<form method="post" data-url="{% url 'courses:course_update' course_pk=form.instance.id profile_pk=profile_details.pk %}" class="update-form">
	{% csrf_token %}
		<div class="modal-header">
		<h5 class="modal-title" >Change Expiry Date</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
		{{ form|crispy }}
		</div>
		<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="submit" id="reload_answer_update" class="btn btn-primary">Update</button>
		</div>
</form>


<script type="text/javascript">
$('#reload_answer_update').click(function() {
    location.reload();
});
</script>