{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} {{ course_sub_category_details.name }} {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>{{ course_sub_category_details.name }}</h2>
            {{ course_sub_category_details.sub_heading_text|safe }}
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>{{ course_sub_category_details.name }}</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
        {% for item in course_list %}
            <div class="col-lg-4 col-md-6">
                <div class="single-event mb-55 event-gray-bg">
                    <div class="event-img">
                        <a href="{% url 'courses:course_details' course_slug=item.slug %}">
                        {% if item.image %}
                        	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                        		{% thumbnail item.image "370x227" as im %}
                        		<img src="{{ im.url }}" alt="{{ item.name }}">
                        		{% endthumbnail %}
                        	{% else %}
                        		{% thumbnail item.image "370x227" format="WEBP" as im %}
                        		<img src="{{ im.url }}" alt="{{ item.name }}">
                        		{% endthumbnail %}
                        	{% endif %}
                        {% else %}
                        	<img src="{% static 'assets/img/event/event-5.jpg' %}" alt="{{ item.name }}">
                        {% endif %}
                        </a>
                        <div class="event-date-wrap">
                            <span class="event-date">{{ item.duration|make_list|slice:':2'|join:'' }}</span>
                            <span>{{ item.duration|make_list|slice:'2:'|join:'' }}</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h3><a href="{% url 'courses:course_details' course_slug=item.slug %}">{{ item.name|truncatewords:"5" }}</a></h3>
                        {{ item.description|safe|truncatewords:"12" }}
                        <div class="credit-duration-wrap">
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Price : INR <del>{{ item.course_price }}</del></span>
                                </div>
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Discounted Price : {{ item.course_total }}</span>
                                </div>
                                
                            </div>
                            <div class="credit-duration-wrap">
                                
                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Duration : {{ item.duration }}</span>
                                </div>

                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Mode : {{ item.mode_of_delivery }}</span>
                                </div>
                            </div>
                    </div>
                    <div class="course-btn">
                        {% if user in item.subscribed_users.all %}
                            <a class="applied-btn" href="#">Already Applied</a>
                        {% elif item.course_in_demo.all and user.user_demo_items.all %}
                        <a class="cart-btn" href="{% url 'ecommerce_cart:cart_view' %}">GO TO CART</a>
                        {% else %}
                            <a class="default-btn" href="{% url 'ecommerce_cart:add_to_cart' course_id=item.id %}">ADD TO CART</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% if course_list.has_other_pages %}
	        <div class="pro-pagination-style text-center mt-25">
	            <ul>
	                {% if course_list.has_previous %}
	                <li><a class="prev" href="?page={{ course_list.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
	                {% endif %}

	                {% for i in course_list.paginator.page_range %}
	                    {% if course_list.number == i %}
	                        <li><a class="active" href="#">{{ i }}</a></li>
	                    {% elif i > course_list.number|add:'-3' and i < course_list.number|add:'3' %}
	                        <li><a href="?page={{ i }}">{{ i }}</a></li>
	                    {% endif %}
	                {% endfor %}

	                {% if course_list.has_next %}
	                    <li><a class="next" href="?page={{ course_list.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
	                {% endif %}
	            </ul>
	        </div>
	    {% endif %}
    </div>
</div>

<div class="event-area pt-10 pb-10">
    <div class="container">
    <h3 class="cart-page-title">Packages you might like</h3>
        <div class="row">
            {% for item in package_list %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">{{ item.package_name }}</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                            {% for obj in item.courses.all %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="{% url 'courses:course_details' course_slug=obj.slug %}">
                                        {% if obj.image %}
                                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                {% thumbnail obj.image "82x82" as im %}
                                                <img src="{{ im.url }}" alt="{{ obj.name }}" title="{{ obj.name }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                {% thumbnail obj.image "82x82" format="WEBP" as im %}
                                                <img src="{{ im.url }}" alt="{{ obj.name }}" title="{{ obj.name }}">
                                                {% endthumbnail %}
                                            {% endif %}
                                        {% else %}
                                            <img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ obj.name }}" title="{{ obj.name }}">
                                        {% endif %}
                                        </a>
                                    </td>
                                    <td class="product-name"><a href="{% url 'courses:course_details' course_slug=obj.slug %}">{{ obj.name }}</a></td>
                                    <td class="product-price-cart"><span class="amount"><del>INR {{ obj.course_total }}</del></span></td>
                                   
                                    
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td class="product-thumbnail">
                                    {% if user in item.subscribed_users.all %}
                                        <a class="default-btn" href="#">Already Applied</a> 
                                    {% elif item.package_in_demo.all and user.user_demo_items_packages.all %}
                                        <a class="default-btn" href="{% url 'ecommerce_cart:cart_view' %}">Go To Cart</a>
                                    {% else %}
                                        <a class="default-btn" href="{% url 'ecommerce_cart:add_package_to_cart' package_id=item.id %}">Add To Cart</a>
                                    {% endif %}
                                    </td>
                                    <td class="product-name"><a href="#">Package Offer</a></td>
                                    <td class="product-price-cart"><span class="amount"><h3>INR {{ item.package_total }}</h3></span></td>
                                  
                                </tr>
                                
                            </tbody>

                        </table>

                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}