{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load poll_extras %}

{% block title %} {{ course_details.name }} {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>{{ course_details.name }}</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>{{ course_details.name }}</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="course-details-area pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="course-left-wrap mr-40">
                    <div class="apply-area">
                        {% if course_details.image %}
                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                {% thumbnail course_details.image "829x400" as im %}
                                <img src="{{ im.url }}" alt="{{ course_details.name }}" title="{{ course_details.name }}">
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail course_details.image "829x400" format="WEBP" as im %}
                                <img src="{{ im.url }}" alt="{{ course_details.name }}" title="{{ course_details.name }}">
                                {% endthumbnail %}
                            {% endif %}
                        {% else %}
                            <img src="{% static 'educasta/assets/images/preview_1.0.png' %}" alt="{{ course_details.name }}" title="{{ course_details.name }}">
                        {% endif %}
                        <div class="course-apply-btn">
                        </div>
                    </div>
                    <div class="course-tab-list nav pt-40 pb-25 mb-35">
                        <a class="active" href="#course-details-1" data-toggle="tab" >
                            <h4>Over View  </h4>
                        </a>
                        <a href="#course-details-2" data-toggle="tab">
                            <h4>Course Contents </h4>
                        </a>
                        <a href="#course-details-3" data-toggle="tab">
                            <h4> Reviews </h4>
                        </a>
                    </div>
                    <div class="tab-content jump">
                        <div class="tab-pane active" id="course-details-1">
                            <div class="over-view-content">
                                <h4>COURSE  DETAILS</h4>
                                <h5>Course Name : {{ course_details.name }}</h5>
                                {{ course_details.description|safe }}
                                <br>
                                <br>
                                <div class="course-summary-wrap">
                                    <div class="single-course-summary">
                                        <h4>Total Students</h4>
                                        <span><i class="fa fa-user"></i> {{ course_details.subscribed_users.count }}</span>
                                    </div>
                                    <div class="single-course-summary">
                                        <h4>Course Duration</h4>
                                        <span><i class="fa fa-clock-o"></i> {{ course_details.duration }}</span>
                                    </div>
                                    <div class="single-course-summary">
                                        <h4>Valid Upto</h4>
                                        {% if applied_course %}
                                            <span><i class="fa fa-calendar"></i> {{ applied_course.date_of_expiry|date }}</span>
                                        {% else %}
                                            <span><i class="fa fa-calendar"></i> {{ course_details.course_valid_till_months }} Months</span>
                                        {% endif %}
                                    </div>
                                    <div class="single-course-summary">
                                        <h4>Course Starts</h4>
                                        <span><i class="fa fa-book"></i> {{ course_details.course_starts }}</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane" id="course-details-2">
                            <div class="over-view-content">
                                <h4>Course Contents</h4>
                                 {{ course_details.course_content_heading_text|safe }}                               
                                <br>
                                <div class="">
                                    <ul class="list-group list-lessons">
                                    {% for item in course_content %}
                                        <li class="list-group-item d-flex">
                                            <a href="#">{{ forloop.counter }}. {{ item.name }}</a>
                                            <div class="ml-auto d-flex align-items-center">
                                            
                                                <span class="text-muted"><i class="fa fa-clock-o"></i> {{ item.duration_in_minutes }}:{{ item.duration_in_seconds }}</span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="course-details-3">
                            {% if course_reviews %}
                                <div class="review-wrapper">
                                    
                                        {% for item in course_reviews %}
                                            <div class="single-review">
                                                <div class="review-img">
                                                {% if item.user.profile.image %}
                                                    {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                        {% thumbnail item.user.profile.image "90x93" as im %}
                                                        <img src="{{ im.url }}" alt="{{ item.name }}">
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        {% thumbnail item.user.profile.image "90x93" format="WEBP" as im %}
                                                        <img src="{{ im.url }}" alt="{{ item.name }}">
                                                        {% endthumbnail %}
                                                    {% endif %}
                                                {% else %}
                                                    <img src="{% static 'user-demo.png' %}" alt="{{ item.name }}">
                                                {% endif %}
                                                </div>
                                                <div class="review-content">
                                                    <div class="review-top-wrap">
                                                        <div class="review-left">
                                                            <div class="review-name">
                                                                <h4>{{ item.user.username }}</h4>
                                                            </div>
                                                            <div class="review-rating">
                                                            {% for i in item.rating|times %}
                                                                <i class="fa fa-star"></i>
                                                            {% endfor %}
                                                            </div>
                                                        </div>
                                                        <!-- <div class="review-btn">
                                                            <a href="#">Reply</a>
                                                        </div> -->
                                                    </div>
                                                    <div class="review-bottom">
                                                        <p>{{ item.review }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                </div>
                                {% endif %}
                        </div>
                    </div>
                    <div class="related-course pt-70">
                        <div class="related-title mb-45 mrg-bottom-small">
                            <h3>Related Course</h3>
                            <p>Students also applied for the following courses</p>
                        </div>
                        <div class="related-slider-active">
                            {% for obj in related_courses %}
                                <div class="single-course">
                                    <div class="course-img">
                                        <a href="{% url 'courses:course_details' course_slug=obj.slug %}">
                                        {% if obj.image %}
                                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                {% thumbnail obj.image "290x270" as im %}
                                                <img class="animated" src="{{ im.url }}" alt="{{ obj.name }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                {% thumbnail obj.image "290x270" format="WEBP" as im %}
                                                <img class="animated" src="{{ im.url }}" alt="{{ obj.name }}">
                                                {% endthumbnail %}
                                            {% endif %}
                                        {% else %}
                                            <img class="animated" src="{% static 'assets/img/course/course-1.jpg' %}" alt="{{ obj.name }}">
                                        {% endif %}
                                        </a>
                                        <span>Addmission Going On</span>
                                    </div>
                                    <div class="course-content">
                                        <h4><a href="{% url 'courses:course_details' course_slug=obj.slug %}">{{ obj.name }}</a></h4>
                                        {{ obj.description|safe }}
                                    </div>
                                    <div class="course-position-content">
                                        <div class="credit-duration-wrap">
                                            <div class="sin-credit-duration">
                                                <i class="fa fa-inr"></i>
                                                <span>Course Price : INR {{ obj.course_total }}</span>
                                            </div>
                                            <div class="sin-credit-duration">
                                                <i class="fa fa-clock-o"></i>
                                                <span>Duration : {{ obj.duration }}</span>
                                            </div>
                                        </div>
                                        <div class="course-btn">
                                            <a class="default-btn" href="#">APPLY NOW</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="sidebar-style sidebar-res-mrg-none">
                    <div class="card card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="dropdown">
                                    <a href="#" class="text-body">Price</a>
                                </div>
                                <div class="ml-auto h2 mb-0"><strong>&#8377; {{ course_details.course_total }}</strong></div>
                            </div>

                            <div class="mb-4">
                            {% if applied_course %}
                                <button class="btn btn-success btn-block btn-lg">Already Applied</button>
                            {% elif cart_course %}
                                <a href="{% url 'ecommerce_cart:cart_view' %}" class="btn btn-warning btn-block btn-lg">Go To Cart</a>
                            {% else %}
                                <a href="{% url 'ecommerce_cart:add_to_cart' course_id=course_details.id %}" class="btn btn-success btn-block btn-lg">Add to Cart</a>
                            {% endif %}
                                <!-- <button class="btn btn-light btn-block">Preview</button> -->
                            </div>

                            <div class="mb-4 text-center">
                                <div class="d-flex flex-column align-items-center justify-content-center">

                                    <span class="mb-1">
                                        <a href="#" class="rating-link active"><i class="fa fa-star"></i></a>
                                        <a href="#" class="rating-link active"><i class="fa fa-star"></i></a>
                                        <a href="#" class="rating-link active"><i class="fa fa-star"></i></a>
                                        <a href="#" class="rating-link active"><i class="fa fa-star-half"></i></a>
                                    </span>
                                    <div class="d-flex align-items-center">
                                        <strong>{{ review_avg }}/5</strong>
                                        <span class="text-muted ml-1">&mdash; {{ course_details.course_comment.count }} review{{ course_details.course_comment.count|pluralize }}</span>
                                    </div>

                                </div>
                            </div>

                            <div class="list-group list-group-flush mb-4">
                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Duration</strong>
                                    <div class="ml-auto">{{ course_details.duration }}</div>
                                </div>
                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Course Starts</strong>
                                    <div class="ml-auto">{{ course_details.course_starts }}</div>
                                </div>
                                {% if applied_course %}
                                    <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                        <strong>Valid Upto</strong>
                                        <div class="ml-auto">{{ applied_course.date_of_expiry|date }} </div>
                                    </div>
                                {% else %}
                                    <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                        <strong>Valid Upto</strong>
                                        <div class="ml-auto">{{ course_details.course_valid_till_months }} Months from date of purchase</div>
                                    </div>
                                {% endif %}

                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Students</strong>
                                    <div class="ml-auto">{{ course_details.subscribed_users.count }}</div>
                                </div>
                                
                                {% if user.is_authenticated %}
                                    {% if course_details.upload_course_brochure %}
                                    <br>
                                    <br>
                                    <div class="text-center">
                                        <a href="{{ course_details.upload_course_brochure.url }}" class="btn btn-warning" target="_blank">View Course Brochure</a>
                                    </div>
                                    {% endif %}
                                {% else %}
                                    <br>
                                    <br>
                                    <div class="text-center">
                                        <button class="btn btn-warning" id="demo">View Course Brochure</button> 
                                    </div>
                                {% endif %}
                                
                            </div>


                        </div>
                        <br>
                        <br>

                    <div class="sidebar-category mb-40">
                        <div class="sidebar-title mb-40">
                            <h4>Course Category</h4>
                        </div>
                        <div class="category-list">
                            <ul>
                                {% for item in category_list %}
                                <li><a href="{% url 'courses:course_category_details' category_slug=item.slug %}">{{ item.name }} <span>{{ item.get_courses_count }}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="course-area bg-img pt-130" style="padding-top: 2px;">
    <div class="container">
        <div class="section-title mb-75 course-mrg-small">
            <h2> <span>Training</span> Videos</h2>
            
        </div>
        <div class="course-slider-active-3">
        {% for item in video_list %}
            <div class="single-course" style="padding-right: 8px;">
                <div class="course-img">
                    <a href="#">
                        
                        {% video item.video_link as my_video %}
                        <iframe width="100%" height="40%" src="{{ my_video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endvideo %}
                    </a>
                </div>

            </div>
        {% endfor %}
        </div>
    </div>
</div>


<div class="achievement-area pt-10 pb-10">
    <div class="container">
        <div class="section-title mb-75">
            <h2>User <span>Feedbacks</span></h2>
            
        </div>
        <div class="testimonial-slider-wrap mt-45">
            <div class="testimonial-text-slider">
            {% for item in review_list %}
                <div class="testi-content-wrap">
                    <div class="testi-big-img">
                    {% if item.client_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.client_image "580x450" as im %}
                            <img alt="{{ item.name }}" src="{{ im.url }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.client_image "580x450" format="WEBP" as im %}
                            <img alt="{{ item.name }}" src="{{ im.url }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img alt="{{ item.name }}" src="{% static 'assets/img/testimonial/testi-b1.jpg' %}" title="{{ item.name }}">
                    {% endif %}
                    </div>
                   <div class="row no-gutters">
                       <div class="ml-auto col-lg-6 col-md-12">
                           <div class="testi-content bg-img default-overlay" 
                            {% if item.background_image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail item.background_image "580x450" format="PNG" as im %}
                                    style="background-image:url('{{ im.url }}');"
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.background_image "580x450" format="WEBP" as im %}
                                    style="background-image:url('{{ im.url }}');"
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                style="background-image:url({% static 'assets/img/bg/testi.png' %});"
                            {% endif %}
                                    >
                                <div class="quote-style quote-left">
                                   <i class="fa fa-quote-left"></i>
                                </div>
                                {{ item.review|safe }}
                                <div class="testi-info">
                                   <h5>{{ item.name }}</h5>
                                  <!--  <span>Students Of AMMT Department</span> -->
                                </div>
                                <div class="quote-style quote-right">
                                   <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testi-arrow">
                                    <img alt="Arrow Image" src="{% static 'assets/img/icon-img/testi-icon.png' %}" title="Arrow Image">
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
            {% endfor %}
            </div>
            <div class="testimonial-image-slider">
                {% for item in review_list %}
                <div class="sin-testi-image">
                    {% if item.client_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.client_image "120x100" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.client_image "120x100" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/testimonial/testi-s2.jpg' %}" alt="{{ item.name }}" title="{{ item.name }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="testimonial-text-img">
            <img alt="People Image" src="{% static 'assets/img/icon-img/testi-text.png' %}" title="People Image">
        </div>
    </div>
</div>
        <br>
        <br>
        <br>

{% endblock %}

{% block scripts %}

<script>

    $(document).ready(function () {

        $('#demo').click(function(){
            swal({
                title: "Alert!",
                text: "Please Login to View Brochure!",
                type: "error"
              });
        });


    });

</script>

{% endblock %}