{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} {{ course_category_details.name }} {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>{{ course_category_details.name }}</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>{{ course_category_details.name }}</span></li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
{% for item in sub_category_list %}
    {% if item.course_sub_category.all %}
        <div class="course-area bg-img">
            <div class="container">
                <div class="section-title mb-75 course-mrg-small">
                    <h2> <span>{{ item.name }}</span></h2>
                    {{ item.sub_heading_text|safe }}
                </div>
                <div class="course-slider-active-5">
                    {% for obj in item.course_sub_category.all %}
                    {% if obj.show_course == True %}
                    <div class="single-course" style="margin-right: 20px;margin-bottom: 80px;">
                        <div class="course-img">
                            <a href="{% url 'courses:course_details' course_slug=obj.slug %}">
                            {% if obj.image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail obj.image "290x270" as im %}
                                    <img class="animated" src="{{ im.url }}" alt="{{ obj.name }}">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail obj.image "290x270" format="WEBP" as im %}
                                    <img class="animated" src="{{ im.url }}" alt="{{ obj.name }}">
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                <img class="animated" src="{% static 'assets/img/course/course-1.jpg' %}" alt="{{ obj.name }}">
                            {% endif %}
                            </a>
                            {% if obj.action_text %}
                                <span>{{ obj.action_text }}</span>{% endif %}
                        </div>
                        <div class="course-content">
                            <h4><a href="{% url 'courses:course_details' course_slug=obj.slug %}">{{ obj.name }}</a></h4>
                            {{ obj.description|safe }}
                        </div>
                        <div class="course-position-content">
                            <div class="credit-duration-wrap">
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Price : INR <del>{{ obj.course_price }}</del></span>
                                </div>
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Discounted Price : {{ obj.course_total }}</span>
                                </div>
                                
                            </div>
                            <div class="credit-duration-wrap">
                                
                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Duration : {{ obj.duration }}</span>
                                </div>

                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Mode : {{ obj.mode_of_delivery }}</span>
                                </div>
                            </div>
                            <div class="course-btn">
                                {% if user in obj.subscribed_users.all %}
                                    <a class="applied-btn" href="#">Already Applied</a>
                                {% elif obj.course_in_demo.all and user.user_demo_items.all %}
                                    <a class="cart-btn" href="{% url 'ecommerce_cart:cart_view' %}">GO TO CART</a>
                                {% else %}
                                    <a class="default-btn" href="{% url 'ecommerce_cart:add_to_cart' course_id=obj.id %}">ADD TO CART</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}



{% endblock %}