{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} My Courses {% endblock %}


{% block content %}

                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">


                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0" style="margin-bottom: 5px;">{{ course_content_details.course.name }}</h1>
                        </div>
                        <div class="container-fluid page__container d-flex align-items-center">
                            
                            <h3 style="margin-top: 5px;">{{ course_content_details.name }}</h3>
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        <div class="row">
                            <div class="col-lg-8">
                                <a href="" class="dp-preview card">
                                <style type="text/css">
                                    @media (max-width: 1960px) and (min-width: 960px) {
                                        #youtube_video { width: 620px; } /* Show 1 stock per row on large devices (tablets, phones in landscape) */
                                      }
                                      @media (max-width: 960px) and (min-width: 501px) {
                                        #youtube_video { width: 620px;  } /* Show 1 stock per row on medium devices (tablets, phones in landscape) */
                                      }
                                      @media (max-width: 500px) {
                                        #youtube_video { width: 320px; } /* On small screens, show one stock per row */
                                      }
                                </style>

                                {% if course_content_details.video_link %}
                                    {% video course_content_details.video_link as my_video %}
                                        <iframe id="youtube_video" height="330" src="{{ my_video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    {% endvideo %}
                                {% else %}
                                    <iframe id="youtube_video" height="330" src="https://www.youtube.com/embed/0T4RmwcZxYY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                {% endif %}
                                    
                                </a>
                                <div class="mb-3"><strong class="text-dark-gray">DESCRIPTION</strong></div>
                                <p class="mb-3">
                                    {{ course_content_details.description|safe }}
                                </p>


                                <div class="">
                                    <ul class="list-group list-lessons">
                                    {% for item in course_content %}
                                        <li class="list-group-item d-flex">
                                            <a href="{% url 'courses:my_course_content' course_content_pk=item.pk %}">{{ forloop.counter }}. {{ item.name }}</a>
                                            <div class="ml-auto d-flex align-items-center">
                                            {% if item.pk == course_content_details.pk %}
                                                <span class="badge badge-success mr-2">Running Now</span>
                                            {% endif %}
                                                <span class="text-muted"><i class="fa fa-clock-o"></i> {{ item.duration_in_minutes }}:{{ item.duration_in_seconds }}</span>

                                            {% for obj in item.course_contents.all %}
                                                    {% if obj.user == user and obj.completed == True %}
                                                    <span style="margin-left: 5px;color: #1BB40F;"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-body">

                                   <div class="list-group list-group-flush mb-4">
                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Duration</strong>
                                    <div class="ml-auto">{{ course_content_details.duration_in_minutes }} min: {{ course_content_details.duration_in_seconds }} sec</div>
                                </div>
                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Students</strong>
                                    <div class="ml-auto">{{ course_content_details.course.subscribed_users.count }}</div>
                                </div>
                                <center><strong>Course Completion Status</strong></center>
                                <div class="progress" style="margin-bottom: 20px;">

                                  <div class="progress-bar" role="progressbar" style="width: {{ percentage_completed }}%;" aria-valuenow="{{ percentage_completed }}" aria-valuemin="0" aria-valuemax="100">{{ percentage_completed|floatformat:2 }}%</div>
                                </div>
                                <a href="{% url 'courses:download_zip_files' course_pk=course_content_details.course.pk %}" class="btn btn-success" style="margin-bottom: 10px;">Download Resourses</a>

                                <a href="{% url 'courses:my_course_details' course_slug=course_content_details.course.slug %}" class="btn btn-warning">View Course</a>
                            </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}

{% block js %}

<script type="text/javascript">
    $(document).bind("contextmenu",function(e) {
         e.preventDefault();
        });
    $(document).keydown(function(e){
        if(e.which === 123){
           return false;
        }
    });
</script>

{% endblock %}