{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %} Quiz {% endblock %}


{% block content %}


                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">




                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">Quiz for {{ course_details.name }}</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        <div class="row">

                            <div class="col-md-8">
                            {% for field in form %}
                                {% if field.errors %}
                                <div class="alert alert-danger alert-dismissable" id="limit-alert">
                                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                  <strong>{% for err in field.errors %}Atleast one answer should be selected{% endfor %}</strong>
                                </div>
                                {% endif %}
                            {% endfor %}

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media align-items-center">
                                            <div class="media-left">
                                                <h4 class="m-0 text-primary mr-2"><strong>#{{ question_details.order }}</strong></h4>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="card-title m-0">
                                                {{ question_details.question }}
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <form method='POST'>
                                    {% csrf_token %}
                                        <div class="card-body">
                                        
                                        
                                            {{ form|crispy }}
                                       
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" class="btn btn-light">Question {{ question_details.order }} of {{ questions_count }}</button>
                                            <button type="submit" class="btn btn-success float-right">Submit <i class="material-icons btn__icon--right">arrow_forward</i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- <div class="col-md-4 ">
                                <div class="list-group">

                                    <a href="#" class="list-group-item active">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#9</span>
                                            </span>
                                            <span class="media-body">
                                                Github command to deploy comits?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#10</span>
                                            </span>
                                            <span class="media-body">
                                                What's the difference between private and public repos?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#11</span>
                                            </span>
                                            <span class="media-body">
                                                What is the purpose of a branch?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#12</span>
                                            </span>
                                            <span class="media-body">
                                                Final Question?
                                            </span>
                                        </span>
                                    </a>

                                </div>
                            </div> -->
                        </div>

                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}