{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} My Courses {% endblock %}


{% block content %}

                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">


                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">{{ course_details.name }}</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        <div class="row">
                            <div class="col-lg-8">
                                <a href="" class="dp-preview card">
                                <style type="text/css">
                                    @media (max-width: 1960px) and (min-width: 1520px) {
                                        #youtube_video { width: 100%; } /* Show 1 stock per row on large devices (tablets, phones in landscape) */
                                      }
                                      @media (max-width: 1519px) and (min-width: 501px) {
                                        #youtube_video { width: 620px;  } /* Show 1 stock per row on medium devices (tablets, phones in landscape) */
                                      }
                                      @media (max-width: 500px) {
                                        #youtube_video { width: 335px; } /* On small screens, show one stock per row */
                                      }
                                </style>


                                    {% if course_details.course_video_link %}
                                        {% video course_details.course_video_link as my_video %}
                                            <iframe id="youtube_video" height="330" src="{{ my_video.url }}"></iframe>
                                        {% endvideo %}
                                    {% else %}
                                        <iframe id="youtube_video" height="330" src="https://www.youtube.com/embed/0T4RmwcZxYY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    {% endif %}
                                    
                                </a>
                                <div class="mb-3"><strong class="text-dark-gray">DESCRIPTION</strong></div>
                                <p class="mb-3">
                                    {{ course_details.description|safe }}
                                </p>


                                <div class="">
                                    <ul class="list-group list-lessons">
                                    {% for item in course_content %}
                                        <li class="list-group-item d-flex">
                                            <a href="{% url 'courses:my_course_content' course_content_pk=item.pk %}">{{ forloop.counter }}. {{ item.name }}</a>
                                            <div class="ml-auto d-flex align-items-center">
                                                <span class="text-muted"><i class="material-icons icon-16pt icon-light">watch_later</i> {{ item.duration_in_minutes }} mins : {{ item.duration_in_seconds }} sec</span>
                                                {% for obj in item.course_contents.all %}
                                                    {% if obj.user == user and obj.completed == True %}
                                                    <span style="margin-left: 5px;color: #1BB40F;"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                        </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-body">
                                    <div class="mb-4 text-center">
                                        <div class="d-flex flex-column align-items-center justify-content-center">

                                            <span class="mb-1">
                                            {% for i in rating_avg  %}
                                                <a href="#" class="rating-link active"><i class="material-icons ">star</i></a>
                                            {% endfor %}
                                            </span>
                                            <div class="d-flex align-items-center">
                                                <strong>{{ review_avg }}/5</strong>
                                                <span class="text-muted ml-1">&mdash; {{ course_details.course_comment.count }} reviews</span>
                                            </div>

                                        </div>
                                    </div>
                                   <div class="list-group list-group-flush mb-4">
                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Duration</strong>
                                    <div class="ml-auto">{{ course_details.duration }}</div>
                                </div>
                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Course Starts</strong>
                                    <div class="ml-auto">{{ course_details.course_starts }}</div>
                                </div>

                                {% if applied_course %}
                                    <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                        <strong>Valid Upto</strong>
                                        <div class="ml-auto">{{ applied_course.date_of_expiry|date }} </div>
                                    </div>
                                {% else %}
                                    <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                        <strong>Valid Upto</strong>
                                        <div class="ml-auto">{{ course_details.course_valid_till_months }} Months from date of purchase</div>
                                    </div>
                                {% endif %}

                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Students</strong>
                                    <div class="ml-auto">{{ course_details.subscribed_users.count }}</div>
                                </div>
                                <center><strong>Course Completion Status</strong></center>
                                <div class="progress" style="margin-bottom: 20px;">

                                  <div class="progress-bar" role="progressbar" style="width: {{ percentage_completed }}%;" aria-valuenow="{{ percentage_completed }}" aria-valuemin="0" aria-valuemax="100">{{ percentage_completed|floatformat:2 }}%</div>
                                </div>


                                <a href="{% url 'courses:download_zip_files' course_pk=course_details.pk %}" class="btn btn-success" style="margin-bottom: 10px;">Download Resourses</a>

                                <button class="btn btn-warning" style="margin-bottom: 10px;" data-toggle="modal" data-target="#modalQuestionForm">Ask a Question</button>

                                
                            </div>

                                    <div class="card card-body mb-0 bg-light">
                                        <ul class="list-unstyled text-white ml-1 mb-0">
                                            <li class="d-flex align-items-center pb-1"><button class="btn btn-info btn-sm" style="margin-right: 5px;" data-toggle="modal" data-target="#modalLoginForm">Leave a Review</button>

                                            {% if percentage_completed == 100 and unlock_certificate %}
                                            <a href="{% url 'courses:course_certificate' course_slug=course_details.slug %}" class="btn btn-primary btn-sm" style="margin-left: 5px;">Unlock Certificate</a>
                                            {% endif %}
                                            </li>
                                            
                                            
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- // END header-layout__content -->

                
{% endblock %}

{% block js %}

<script type="text/javascript">
    $(document).bind("contextmenu",function(e) {
         e.preventDefault();
        });
    $(document).keydown(function(e){
        if(e.which === 123){
           return false;
        }
    });
</script>

{% endblock %}