{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} All Packages {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>All Packages</h2>
            
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>All Packages</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
        {% for item in course_package_list %}
            <div class="col-lg-4 col-md-6">
                <div class="single-event mb-55 event-gray-bg">
                    <div class="event-img">
                        <a href="{% url 'courses:package_details' package_slug=item.slug %}">
                        {% if item.image %}
                        	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                        		{% thumbnail item.image "370x227" as im %}
                        		<img src="{{ im.url }}" alt="{{ item.name }}">
                        		{% endthumbnail %}
                        	{% else %}
                        		{% thumbnail item.image "370x227" format="WEBP" as im %}
                        		<img src="{{ im.url }}" alt="{{ item.name }}">
                        		{% endthumbnail %}
                        	{% endif %}
                        {% else %}
                        	<img src="{% static 'assets/img/event/event-5.jpg' %}" alt="{{ item.name }}">
                        {% endif %}
                        </a>
                        <div class="event-date-wrap">
                            <span class="event-date">{{ item.courses.count }}</span>
                            <span>Course{{ item.courses.count|pluralize }}</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h3><a href="{% url 'courses:package_details' package_slug=item.slug %}">{{ item.package_name|truncatewords:"5" }}</a></h3>
                        {{ item.description|safe|truncatewords:"12" }}
                        <div class="event-meta-wrap">
                            <div class="event-meta">
                                <i class="fa fa-inr"></i>
                                <span>INR {{ item.package_total }}</span>
                            </div>
                            <!-- <div class="event-meta">
                                <i class="fa fa-clock-o"></i>
                                <span>{{ item.duration }}</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="course-btn">
                        {% if user in item.subscribed_users.all %}
                            <a class="applied-btn" href="#">Already Applied</a>
                        {% elif item.package_in_demo.all and user.user_demo_items_packages.all %}
                        <a class="cart-btn" href="{% url 'ecommerce_cart:cart_view' %}">GO TO CART</a>
                        {% else %}
                            <a class="default-btn" href="{% url 'ecommerce_cart:add_package_to_cart' package_id=item.id %}">ADD TO CART</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% if is_paginated %}
            <div class="pro-pagination-style text-center mt-25">
                <ul>
                {% if page_obj.has_previous %}
                    <li><a class="prev" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li><a class="active" href="#">{{ i }}</a></li>
                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a class="next" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}