{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load poll_extras %}

{% block title %} {{ package_details.package_name }} {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>{{ package_details.package_name }}</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>{{ package_details.package_name }}</span></li>
            </ul>
        </div>
    </div>
</div>

        <div class="course-details-area pt-130">
            <div class="container page__container">
                <div class="row">
                    <div class="col-lg-8">
                        <a href="" class="dp-preview card">
                        {% if package_details.image %}
                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                {% thumbnail package_details.image "829x400" as im %}
                                <img src="{{ im.url }}" alt="{{ package_details.package_name }}" class="img-fluid">
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail package_details.image "829x400" format="WEBP" as im %}
                                <img src="{{ im.url }}" alt="{{ package_details.package_name }}" class="img-fluid">
                                {% endthumbnail %}
                            {% endif %}
                        {% else %}
                            <img src="{% static 'educasta/assets/images/preview_1.0.png' %}" alt="{{ package_details.package_name }}" class="img-fluid">
                        {% endif %}
                            <!-- <span class="dp-preview__overlay">
                                <span class="btn btn-light">Preview</span>
                            </span> -->
                        </a>
                        <div class="mb-3"><strong class="text-dark-gray">DESCRIPTION</strong></div>
                        {{ package_details.description|safe }}


                        <div class="related-course pt-70">
                        <div class="related-title mb-45 mrg-bottom-small">
                            <h3>Courses</h3>
                            <p>All Courses Under {{ package_details.package_name }}</p>
                        </div>
                        <div class="related-slider-active">
                            {% for obj in course_list %}
                                <div class="single-course">
                                    <div class="course-img">
                                        <a href="{% url 'courses:course_details' course_slug=obj.slug %}">
                                        {% if obj.image %}
                                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                {% thumbnail obj.image "290x270" as im %}
                                                <img class="animated" src="{{ im.url }}" alt="{{ obj.name }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                {% thumbnail obj.image "290x270" format="WEBP" as im %}
                                                <img class="animated" src="{{ im.url }}" alt="{{ obj.name }}">
                                                {% endthumbnail %}
                                            {% endif %}
                                        {% else %}
                                            <img class="animated" src="{% static 'assets/img/course/course-1.jpg' %}" alt="{{ obj.name }}">
                                        {% endif %}
                                        </a>
                                        <span>Addmission Going On</span>
                                    </div>
                                    <div class="course-content">
                                        <h4><a href="{% url 'courses:course_details' course_slug=obj.slug %}">{{ obj.name }}</a></h4>
                                        {{ obj.description|safe }}
                                    </div>
                                    <div class="course-position-content">
                                        <div class="credit-duration-wrap">
                                            <div class="sin-credit-duration">
                                                <i class="fa fa-inr"></i>
                                                <span>Course Price : INR {{ obj.course_total }}</span>
                                            </div>
                                            <div class="sin-credit-duration">
                                                <i class="fa fa-clock-o"></i>
                                                <span>Duration : {{ obj.duration }}</span>
                                            </div>
                                        </div>
                                        <!-- <div class="course-btn">
                                            <a class="default-btn" href="#">APPLY NOW</a>
                                        </div> -->
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                    </div>

                </div>
                    <div class="col-lg-4">
                        <div class="card card-body">
                            <div class="d-flex align-items-center mb-3">
                                <div class="dropdown">
                                    <a href="#" class="text-body">Price</a>
                                </div>
                                <div class="ml-auto h2 mb-0"><strong>&#8377; {{ package_details.package_total }}</strong></div>
                            </div>

                            <div class="mb-4">
                            {% if user in package_details.subscribed_users.all %}
                                <button class="btn btn-success btn-block btn-lg">Already Applied</button>
                            {% elif cart_course %}
                                <a href="{% url 'ecommerce_cart:cart_view' %}" class="btn btn-warning btn-block btn-lg">Go To Cart</a>
                            {% else %}
                                <a href="{% url 'ecommerce_cart:add_package_to_cart' package_id=package_details.id %}" class="btn btn-success btn-block btn-lg">Add to Cart</a>
                            {% endif %}
                                <!-- <button class="btn btn-light btn-block">Preview</button> -->
                            </div>

                            <div class="mb-4 text-center">
                                <div class="d-flex flex-column align-items-center justify-content-center">

                                    <span class="mb-1">
                                        <a href="#" class="rating-link active"><i class="fa fa-star"></i></a>
                                        <a href="#" class="rating-link active"><i class="fa fa-star"></i></a>
                                        <a href="#" class="rating-link active"><i class="fa fa-star"></i></a>
                                        <a href="#" class="rating-link active"><i class="fa fa-star"></i></a>
                                        <a href="#" class="rating-link active"><i class="fa fa-star-half"></i></a>
                                    </span>
                                    <div class="d-flex align-items-center">
                                        <strong>4.7/5</strong>
                                        <span class="text-muted ml-1">&mdash; 4 reviews</span>
                                    </div>

                                </div>
                            </div>

                            <div class="list-group list-group-flush mb-4">
                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Package Price</strong>
                                    <div class="ml-auto">&#8377; {{ package_details.package_price }}</div>
                                </div>
                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Discount</strong>
                                    <div class="ml-auto">{{ package_details.discount }}%</div>
                                </div>

                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Total Price</strong>
                                    <div class="ml-auto">&#8377; {{ package_details.package_total }} </div>
                                </div>

                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Total Courses</strong>
                                    <div class="ml-auto">{{ package_details.courses.count }} </div>
                                </div>


                                <div class="list-group-item bg-transparent d-flex align-items-center px-0">
                                    <strong>Students</strong>
                                    <div class="ml-auto">{{ package_details.subscribed_users.count }}</div>
                                </div>
                                
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>

{% endblock %}