{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %} Quiz Result {% endblock %}


{% block content %}


                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">




                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">Quiz Result for {{ course_details.name }}</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        <div class="row">

                            <div class="col-md-8">
                            {% for field in form %}
                                {% if field.errors %}
                                <div class="alert alert-danger alert-dismissable" id="limit-alert">
                                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                  <strong>{% for err in field.errors %}Atleast one answer should be selected{% endfor %}</strong>
                                </div>
                                {% endif %}
                            {% endfor %}

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media align-items-center">
                                            <div class="media-left">
                                                <h4 class="m-0 text-primary mr-2"><strong>#</strong></h4>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="card-title m-0">
                                                Your Result
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="card-body">
                                        
                                        
                                            <h2 class="text-center">You have scored</h2>
                                            <p class="text-center">{{ right_answer_count }} of {{ total_questions }}</p>

                                            <br>
                                            <h2 class="text-center">Percentage Gained</h2>
                                            <p class="text-center">{{ percentage }} %</p>

                                            <br>

                                            <h4 class="text-center">Remark</h4>
                                            {% if percentage >= 90 %}
                                                <p class="text-center" style="color: #1BB40F;">Excellent</p>
                                            {% elif percentage >= 70 and percentage < 90 %}
                                                <p class="text-center" style="color: #428BCA;">Good</p>
                                            {% elif percentage >= 50 and percentage < 70 %}
                                                <p class="text-center" style="color: #F0AD4E;">You can do much better</p>
                                            {% elif percentage >= 35 and percentage < 50 %}
                                                <p class="text-center" style="color: #428BCA;">You must study much harder!</p>
                                            {% elif percentage < 35 %}
                                                <p class="text-center" style="color: #D9534F;">Fail!</p>
                                            {% endif %}
                                       
                                        </div>
                                        <div class="card-footer">
                                            <a href="{% url 'courses:restart_quiz' course_slug=course_details.slug %}" class="btn btn-light">Restart Quiz<i class="material-icons btn__icon--right">arrow_forward</i></a>
                                            <a href="{% url 'courses:quiz_answers' course_slug=course_details.slug %}" class="btn btn-success float-right">See Your Answers <i class="material-icons btn__icon--right">arrow_forward</i></a>
                                        </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-4 ">
                                <div class="list-group">

                                    <a href="#" class="list-group-item active">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#9</span>
                                            </span>
                                            <span class="media-body">
                                                Github command to deploy comits?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#10</span>
                                            </span>
                                            <span class="media-body">
                                                What's the difference between private and public repos?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#11</span>
                                            </span>
                                            <span class="media-body">
                                                What is the purpose of a branch?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#12</span>
                                            </span>
                                            <span class="media-body">
                                                Final Question?
                                            </span>
                                        </span>
                                    </a>

                                </div>
                            </div> -->
                        </div>

                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}