{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Search Result {% endblock %}


{% block content %}


                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">




                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">Search Result for {{ search_result }}</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        <form action="#" class="mb-3 border-bottom pb-3">
                            <div class="d-flex">
                                <div class="search-form mr-3 search-form--light">
                                    <input type="text" class="form-control" placeholder="Search courses" id="searchSample02">
                                    <button class="btn" type="button"><i class="material-icons">search</i></button>
                                </div>

<!--                                 <div class="form-inline ml-auto">
                                    <div class="form-group mr-3">
                                        <label for="custom-select" class="form-label mr-1">Category</label>
                                        <select id="custom-select" class="form-control custom-select" style="width: 200px;">
                                            <option selected>All categories</option>
                                            <option value="1">Vue.js</option>
                                            <option value="2">Node.js</option>
                                            <option value="3">GitHub</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="published01" class="form-label mr-1">Status</label>
                                        <select id="published01" class="form-control custom-select" style="width: 200px;">
                                            <option selected>All</option>
                                            <option value="1">In Progress</option>
                                            <option value="3">New Releases</option>
                                        </select>
                                    </div>
                                </div> -->
                            </div>
                        </form>

                        <div class="row">
                        {% for item in course_list %}
                            <div class="col-md-3" style="margin-right: 50px;">
                                <div class="card" style="width: 18rem;">
                                {% if item.image %}
                                	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
	                                	{% thumbnail item.image "286x180" as im %}
									  	<img class="card-img-top" src="{{ im.url }}" alt="{{ item.name }}">
									  	{% endthumbnail %}
									{% else %}
										{% thumbnail item.image "286x180" format="WEBP" as im %}
									  	<img class="card-img-top" src="{{ im.url }}" alt="{{ item.name }}">
									  	{% endthumbnail %}
									{% endif %}
								{% else %}
									<img class="card-img-top" src="..." alt="{{ item.name }}">
								{% endif %}
								  <div class="card-body">
								    <h5 class="card-title">{{ item.name|truncatewords:"3" }}</h5>
								    <p class="card-text">{{ item.description|safe|truncatewords:"8" }}</p>
								    <a href="{% url 'courses:my_course_details' course_slug=item.slug %}" class="btn btn-primary">View Course</a>
								  </div>
								</div>
                            </div>
                       	{% endfor %}


                        </div>
                        {% if course_list.has_other_pages %}
                        <hr>
                        <div class="d-flex flex-row align-items-center mb-3">
                            
                            <ul class="pagination m-0">

                                {% if course_list.has_previous %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="?page={{ course_list.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true" class="material-icons">chevron_left</span>
                                        <span>Prev</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for i in course_list.paginator.page_range %}
                                    {% if course_list.number == i %}
                                        <li class="page-item active">
                                            <a class="page-link" href="#" aria-label="{{ i }}">
                                                <span>{{ i }}</span>
                                            </a>
                                        </li>
                                    {% elif i > course_list.number|add:'-3' and i < course_list.number|add:'3' %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ i }}" aria-label="{{ i }}">
                                                <span>{{ i }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}


                                {% if course_list.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ course_list.next_page_number }}" aria-label="Next">
                                        <span>Next</span>
                                        <span aria-hidden="true" class="material-icons">chevron_right</span>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                        {% endif %}

                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}