{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Search Result {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Search Result</h2>
            <p>Search Result for {{ search_result }}</p>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>Search Result</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="event-area pt-130 pb-130">
    <div class="container">
    {% if course_list %}
        <div class="row">
        {% for item in course_list %}
            <div class="col-lg-4 col-md-6">
                <div class="single-event mb-55 event-gray-bg">
                    <div class="event-img">
                        <a href="{% url 'courses:course_details' course_slug=item.slug %}">
                        {% if item.image %}
                        	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                        		{% thumbnail item.image "370x227" as im %}
                        		<img src="{{ im.url }}" alt="{{ item.name }}">
                        		{% endthumbnail %}
                        	{% else %}
                        		{% thumbnail item.image "370x227" format="WEBP" as im %}
                        		<img src="{{ im.url }}" alt="{{ item.name }}">
                        		{% endthumbnail %}
                        	{% endif %}
                        {% else %}
                        	<img src="{% static 'assets/img/event/event-5.jpg' %}" alt="{{ item.name }}">
                        {% endif %}
                        </a>
                        <div class="event-date-wrap">
                            <span class="event-date">{{ item.duration|make_list|slice:':2'|join:'' }}</span>
                            <span>{{ item.duration|make_list|slice:'2:'|join:'' }}</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h3><a href="{% url 'courses:course_details' course_slug=item.slug %}">{{ item.name|truncatewords:"5" }}</a></h3>
                        {{ item.description|safe|truncatewords:"12" }}
                        <div class="credit-duration-wrap">
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Price : INR <del>{{ item.course_price }}</del></span>
                                </div>
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Discounted Price : {{ item.course_total }}</span>
                                </div>
                                
                            </div>
                            <div class="credit-duration-wrap">
                                
                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Duration : {{ item.duration }}</span>
                                </div>

                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Mode : {{ item.mode_of_delivery }}</span>
                                </div>
                            </div>
                    </div>
                    <div class="course-btn">
                        {% if user in item.subscribed_users.all %}
                            <a class="applied-btn" href="#">Already Applied</a>
                        {% elif item.course_in_demo.all and user.user_demo_items.all %}
                        <a class="cart-btn" href="{% url 'ecommerce_cart:cart_view' %}">GO TO CART</a>
                        {% else %}
                            <a class="default-btn" href="{% url 'ecommerce_cart:add_to_cart' course_id=item.id %}">ADD TO CART</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% else %}

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="alert alert-danger alert-dismissable" id="limit-alert">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  <strong>No Course Found</strong>
                </div>
            </div>
            
        </div>
        {% endif %}



        {% if course_list.has_other_pages %}
	        <div class="pro-pagination-style text-center mt-25">
	            <ul>
	                {% if course_list.has_previous %}
	                <li><a class="prev" href="?page={{ course_list.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
	                {% endif %}

	                {% for i in course_list.paginator.page_range %}
	                    {% if course_list.number == i %}
	                        <li><a class="active" href="#">{{ i }}</a></li>
	                    {% elif i > course_list.number|add:'-3' and i < course_list.number|add:'3' %}
	                        <li><a href="?page={{ i }}">{{ i }}</a></li>
	                    {% endif %}
	                {% endfor %}

	                {% if course_list.has_next %}
	                    <li><a class="next" href="?page={{ course_list.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
	                {% endif %}
	            </ul>
	        </div>
	    {% endif %}
    </div>
</div>

{% endblock %}