{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} All Skills {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>All Skills</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>All Skills</span></li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="blog-details-wrap mr-40">
                    <div class="blog-details-top">
                    {% if course_elements.image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail course_elements.image "830x372" as im %}
                            <img src="{{ im.url }}" alt="Consultancy Image" title="Consultancy Image">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail course_elements.image "830x372" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="Consultancy Image" title="Consultancy Image">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/blog/blog-details.jpg' %}" alt="Consultancy Image" title="Consultancy Image">
                    {% endif %}
                        <div class="blog-details-content-wrap">
                            <h3>{{ course_elements.heading }}</h3>
                            {{ course_elements.text|safe }}
                            <blockquote>
                                <i class="quote-top fa fa-quote-left"></i>
                                {{ course_elements.quote }}
                                <i class="quote-bottom fa fa-quote-right"></i>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="sidebar-style">
                    <div class="sidebar-about mb-40">
                        <div class="sidebar-title mb-15">
                            <h4>About Us</h4>
                        </div>
                        {{ about.about_description|safe|truncatewords:"38" }}
                        <a href="{% url 'about_us:about_ankr' %}" class="btn btn-outline-secondary btn-sm">Read More</a>
                        <a href="{% url 'about_us:about_ankr' %}">
                        {% if course_elements.about_us_image %}
                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                {% thumbnail course_elements.about_us_image "268x99" as im %}
                                <img src="{{ im.url }}" alt="About Us Image" title="About Us Image">
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail course_elements.about_us_image "268x99" format="WEBP" as im %}
                                <img src="{{ im.url }}" alt="About Us Image" title="About Us Image">
                                {% endthumbnail %}
                            {% endif %}
                        {% else %}
                            <img src="{% static 'assets/img/banner/banner-4.jpg' %}" alt="About Us Image" title="About Us Image">
                        {% endif %}
                        </a>
                        <div class="sidebar-social">
                            <ul>
                                {% if common_info.facebook_link %}
                                <li><a class="facebook" href="{{ common_info.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}

                                {% if common_info.youtube_link %}
                                    <li><a class="youtube" href="{{ common_info.youtube_link }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                                {% endif %}

                                {% if common_info.twitter_link %}
                                    <li><a class="twitter" href="{{ common_info.twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}

                                {% if common_info.linkedin_link %}
                                    <li><a class="facebook" href="{{ common_info.linkedin_link }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                {% endif %}

                                {% if common_info.instagram_link %}
                                    <li><a class="instagram" href="{{ common_info.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                {% endif %}

                                {% if common_info.google_link %}
                                    <li><a class="google-plus" href="{{ common_info.google_link }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-category mb-40">
                        <div class="sidebar-title mb-40">
                            <h4>Skills</h4>
                        </div>
                        <div class="category-list">
                            <ul>
                            {% for item in category_list %}
                                <li><a href="{% url 'courses:course_category_details' category_slug=item.slug %}">{{ item.name }}<span>{{ item.get_courses_count }}</span></a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% for item in category_list %}
        <div class="course-area bg-img" style="padding-top: 2px;">
            <div class="container">
                <div class="section-title mb-75 course-mrg-small">
                    <h2> <span>{{ item.name }}</span></h2>
                </div>
                <div class="course-slider-active-5">
                    {% for obj in item.get_courses %}
                    <div class="single-course" style="margin-right: 20px;margin-bottom: 80px;">
                        <div class="course-img">
                            <a href="{% url 'courses:course_details' course_slug=obj.slug %}">
                            {% if obj.image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail obj.image "290x270" as im %}
                                    <img class="animated" src="{{ im.url }}" alt="{{ obj.name }}">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail obj.image "290x270" format="WEBP" as im %}
                                    <img class="animated" src="{{ im.url }}" alt="{{ obj.name }}">
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                <img class="animated" src="{% static 'assets/img/course/course-1.jpg' %}" alt="{{ obj.name }}">
                            {% endif %}
                            </a>
                            {% if obj.action_text %}
                                <span>{{ obj.action_text }}</span>{% endif %}
                        </div>
                        <div class="course-content">
                            <h4><a href="{% url 'courses:course_details' course_slug=obj.slug %}">{{ obj.name }}</a></h4>
                            {{ obj.description|safe }}
                        </div>
                        <div class="course-position-content">
                            <div class="credit-duration-wrap">
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Price : INR <del>{{ obj.course_price }}</del></span>
                                </div>
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Discounted Price : {{ obj.course_total }}</span>
                                </div>
                                
                            </div>
                            <div class="credit-duration-wrap">
                                
                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Duration : {{ obj.duration }}</span>
                                </div>

                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Mode : {{ obj.mode_of_delivery }}</span>
                                </div>
                            </div>
                            <div class="course-btn">
                                {% if user in obj.subscribed_users.all %}
                                    <a class="applied-btn" href="#">Already Applied</a>
                                {% elif obj.course_in_demo.all and user.user_demo_items.all %}
                                    <a class="cart-btn" href="{% url 'ecommerce_cart:cart_view' %}">GO TO CART</a>
                                {% else %}
                                    <a class="default-btn" href="{% url 'ecommerce_cart:add_to_cart' course_id=obj.id %}">ADD TO CART</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
{% endfor %}

<div class="course-area bg-img pt-130" style="padding-top: 2px;">
    <div class="container">
        <div class="section-title mb-75 course-mrg-small">
            <h2> <span>Training</span> Videos</h2>
            
        </div>
        <div class="course-slider-active-3">
        {% for item in video_list %}
            <div class="single-course" style="padding-right: 8px;">
                <div class="course-img">
                    <a href="#">
                        
                        {% video item.video_link as my_video %}
                        <iframe width="100%" height="40%" src="{{ my_video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endvideo %}
                    </a>
                </div>

            </div>
        {% endfor %}
        </div>
    </div>
</div>


<div class="achievement-area pt-10 pb-10">
    <div class="container">
        <div class="section-title mb-75">
            <h2>User <span>Feedbacks</span></h2>
            
        </div>
        <div class="testimonial-slider-wrap mt-45">
            <div class="testimonial-text-slider">
            {% for item in review_list %}
                <div class="testi-content-wrap">
                    <div class="testi-big-img">
                    {% if item.client_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.client_image "580x450" as im %}
                            <img alt="{{ item.name }}" src="{{ im.url }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.client_image "580x450" format="WEBP" as im %}
                            <img alt="{{ item.name }}" src="{{ im.url }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img alt="{{ item.name }}" src="{% static 'assets/img/testimonial/testi-b1.jpg' %}" title="{{ item.name }}">
                    {% endif %}
                    </div>
                   <div class="row no-gutters">
                       <div class="ml-auto col-lg-6 col-md-12">
                           <div class="testi-content bg-img default-overlay" 
                            {% if item.background_image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail item.background_image "580x450" format="PNG" as im %}
                                    style="background-image:url('{{ im.url }}');"
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.background_image "580x450" format="WEBP" as im %}
                                    style="background-image:url('{{ im.url }}');"
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                style="background-image:url({% static 'assets/img/bg/testi.png' %});"
                            {% endif %}
                                    >
                                <div class="quote-style quote-left">
                                   <i class="fa fa-quote-left"></i>
                                </div>
                                {{ item.review|safe }}
                                <div class="testi-info">
                                   <h5>{{ item.name }}</h5>
                                  <!--  <span>Students Of AMMT Department</span> -->
                                </div>
                                <div class="quote-style quote-right">
                                   <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testi-arrow">
                                    <img alt="Arrow Image" src="{% static 'assets/img/icon-img/testi-icon.png' %}" title="Arrow Image">
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
            {% endfor %}
            </div>
            <div class="testimonial-image-slider">
                {% for item in review_list %}
                <div class="sin-testi-image">
                    {% if item.client_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.client_image "120x100" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.client_image "120x100" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/testimonial/testi-s2.jpg' %}" alt="{{ item.name }}" title="{{ item.name }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="testimonial-text-img">
            <img alt="People Image" src="{% static 'assets/img/icon-img/testi-text.png' %}" title="People Image">
        </div>
    </div>
</div>



{% endblock %}