{% load static %}
{% load thumbnail %}
{% load l10n %}
{% load mathfilters %}
{% load poll_extras %}



                {% for item in user_courses %}
                <tr>

                    <td>

                        <div class="media align-items-center">
                            <div class="avatar avatar-xs mr-2">
                            {% if item.course.image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail item.course.image "128x128" as im %}
                                    <img src="{{ im.url }}" alt="Avatar" class="avatar-img rounded-circle">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.course.image "128x128" format="WEBP" as im %}
                                    <img src="{{ im.url }}" alt="Avatar" class="avatar-img rounded-circle">
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                <img src="{% static 'educasta/assets/images/256_luke-porter-261779-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                            {% endif %}
                            </div>
                            <div class="media-body">

                                <span class="js-lists-values-employee-name">{{ item.course.name }}</span>

                            </div>
                        </div>

                    </td>

                    <td>
                        <div class="media align-items-center">
                            {{ item.date_of_subscription|date }}
                            
                        </div>
                    </td>

                    <td>{{ item.date_of_expiry|date }}</td>
                    <td>{{ item.subscription_type }}</td>
                    <td>&#8377;  {{ item.total }}</td>
                    <td><button class="show-form-update btn btn-warning btn-xs" data-url="{% url 'courses:course_update' course_pk=item.id profile_pk=profile_details.pk %}">Change</button></td>
                    <td>{% if item.is_certificate_unlocked != True %}<a class="btn btn-info btn-xs" href ="{% url 'courses:unlock_certificate' user_courses_pk=item.id %}">Unlock</a>{% else %}<a class="btn btn-success btn-xs" href ="#">Unlocked Already</a>{% endif %}</td>
                </tr>
                {% endfor %}

