{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %} Quiz Answers {% endblock %}


{% block content %}


                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">




                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">Quiz Answers for {{ course_details.name }}</h1>
                            <a href="{% url 'courses:quiz_result' course_slug=course_details.slug %}" class="btn btn-success float-right">Go To Results <i class="material-icons btn__icon--right">arrow_forward</i></a>
                        </div>
                    </div>

                    <div class="container-fluid page__container">
                        <div class="row">

                        {% for item in user_answers %}
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="media align-items-center">
                                            <div class="media-left">
                                                <h4 class="m-0 text-primary mr-2"><strong>#{{ item.question.order}}</strong></h4>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="card-title m-0">
                                                    {{ item.question.question }}
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                    {% for obj in item.question.quiz_answers.all %}
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                {% if obj.id == item.answer.id %}
                                                    <input id="customCheck01" type="checkbox" class="custom-control-input" checked="" onclick="return false;"/>
                                                {% endif %}
                                           
                                                <label class="custom-control-label">{{ obj.answer }}</label> 
                                                {% if obj.id == item.answer.id and item.answer.is_correct == True %}
                                                    <i class="fa fa-check" aria-hidden="true" style="color: #1BB40F;"></i>
                                                {% elif obj.id == item.answer.id and item.answer.is_correct != True %}
                                                    <i class="fa fa-times" aria-hidden="true" style="color: #E34947;"></i>
                                                {% elif obj.is_correct == True %}
                                                    <i class="fa fa-check" aria-hidden="true" style="color: #1BB40F;"></i>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    </div>
                                    
                                </div>
                            </div>
                        {% endfor %}
                            <!-- <div class="col-md-4 ">
                                <div class="list-group">

                                    <a href="#" class="list-group-item active">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#9</span>
                                            </span>
                                            <span class="media-body">
                                                Github command to deploy comits?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#10</span>
                                            </span>
                                            <span class="media-body">
                                                What's the difference between private and public repos?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#11</span>
                                            </span>
                                            <span class="media-body">
                                                What is the purpose of a branch?
                                            </span>
                                        </span>
                                    </a>


                                    <a href="#" class="list-group-item">
                                        <span class="media align-items-center">
                                            <span class="media-left mr-2">
                                                <span class="btn btn-light btn-sm">#12</span>
                                            </span>
                                            <span class="media-body">
                                                Final Question?
                                            </span>
                                        </span>
                                    </a>

                                </div>
                            </div> -->
                        </div>

                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}