{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load l10n %}
{% load mathfilters %}
{% load poll_extras %}

{% block title %} All Courses for {{ profile_details.user.username }} {% endblock %}


{% block content %}

<!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">





                    <div class="page__heading">
                        <div class="container-fluid page__container">
                            <h1 class="mb-0">All Courses Purchased By {{ profile_details.user.username }}</h1>
                        </div>
                        
                        
                    </div> 

                    <div class="container-fluid page__container">
                        <div class="tab-content">
                            <div class="tab-pane active show fade">
                                <!-- FIRST TAB CONTENT -->
                                <div class="row card-group-row">
                                    <div class="col-lg-4 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted mb-2 d-flex">Total Earnings</div>
                                                    <span class="h4 m-0">&#8377; {{ total_earning|abs|format_number }} </span>
                                                </div>
                                                <div><i class="material-icons icon-muted icon-40pt ml-3">monetization_on</i></div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Total Orders</div>
                                                    <span class="h4 m-0">{{ total_orders }} </span>
                                                </div>
                                                <div><i class="fa fa-user fa-2x"></i></div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted mb-2">Average Earnings</div>

                                                    <div class="d-flex align-items-center">
                                                        <div class="h4 m-0">{{ average_earning|abs|format_number }} </div>
                                                        <!-- <div class="progress ml-1" style="width:100%;height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div><i class="material-icons icon-muted icon-40pt ml-3">contacts</i></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>




                            </div>


                                    <div class="card">
                                        <div class="card-header card-header-large bg-white">
                                            <h4 class="card-header__title">All Courses</h4>
                                        </div>


                                        <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>

                                            <table class="table mb-0 thead-border-top-0" id="book-table">
                                                <thead>
                                                    <tr>

                                                        <th style="width: 150px;">Course Name</th>
                                                        <th style="width: 150px;">Date of Subscription</th>
                                                        <th style="width: 150px;">Date of Expiry</th>
                                                        <th style="width: 57px;">Subscription Method</th>
                                                        <th style="width: 57px;">Total</th>
                                                        <th style="width: 180px;">Change Expiry Date</th>
                                                        <th style="width: 180px;">Unlock Certificate</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list" id="staff">

                                                    {% include 'user_course_list_ajax.html' %}

                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- <div class="card-body text-right">
                                            15 <span class="text-muted">of 1,430</span> <a href="#" class="text-muted-light"><i class="material-icons ml-1">arrow_forward</i></a>
                                        </div> -->


                                    </div>

                        </div>
                    </div>


                </div>
                <!-- // END header-layout__content -->

                
{% endblock %}

{% block js %}

<!-- Project scripts -->
<script src="{% static 'course_update/plugin.js' %}"></script>

{% endblock %}