{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %} Change Password {% endblock %}


{% block content %}


                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">




                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">Change Password</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">

                        <form method="POST">
                        <div class="card card-form">
                            <div class="row no-gutters">
                                <div class="col-lg-4 card-body">
                                    <p><strong class="headings-color">Update Your Password</strong></p>
                                    <p class="text-muted mb-0">Change your password.</p>
                                </div>
                                <div class="col-lg-8 card-form__body card-body">
                                    {% csrf_token %}
                                    {{ form|crispy }}

                                   
                                </div>  
                            </div>
                        </div>

                        <div class="text-right mb-5">
                            <button type="submit" class="btn btn-success">Change</button>
                        </div>

                        </form>


                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}