{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load l10n %}
{% load mathfilters %}
{% load poll_extras %}

{% block title %} Admin Shortcuts {% endblock %}

{% block content %}
                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">





                    <div class="page__heading">
                        <div class="container-fluid page__container">
                            <h1 class="mb-0">Admin Shortcuts</h1>
                        </div>
                    </div>
                    <div class="container-fluid page__container">
                        <div class="tab-content">
                            <div class="tab-pane active show fade" id="activity_all">
                                <!-- FIRST TAB CONTENT -->
                                <div class="row card-group-row">
                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted mb-2 d-flex">Course List</div>
                                                    <a href="https://ankrglobal.com/admin/courses/courses/" class="btn btn-primary" target="_blank">Course List</a>
                                                </div>
                                                <!-- <div><i class="material-icons icon-muted icon-40pt ml-3">monetization_on</i></div> -->
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Create Courses</div>
                                                    <a href="https://ankrglobal.com/admin/courses/courses/add/" class="btn btn-info" target="_blank">Course Create</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Course Package List</div>
                                                    <a href="https://ankrglobal.com/admin/courses/coursespackages/" class="btn btn-success" target="_blank">Course Package List</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Create Course Package</div>
                                                    <a href="https://ankrglobal.com/admin/courses/coursespackages/add/" class="btn btn-warning" target="_blank">Create Course Package</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Landing Changes</div>
                                                    <a href="https://ankrglobal.com/admin/app/landing/1/change/" class="btn btn-primary" target="_blank">Landing Changes</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Privacy Policy Changes</div>
                                                    <a href="https://ankrglobal.com/admin/app/privacypolicy/1/change/" class="btn btn-info" target="_blank">Privacy Policy Changes</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Terms And Condition</div>
                                                    <a href="https://ankrglobal.com/admin/app/termsandcondition/1/change/" class="btn btn-success" target="_blank">Terms And Condition</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">FAQS</div>
                                                    <a href="https://ankrglobal.com/admin/FAQ/faq/" class="btn btn-warning" target="_blank">FAQS</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Applied Jobs</div>
                                                    <a href="https://ankrglobal.com/admin/JOBS/jobapply/" class="btn btn-primary" target="_blank">Applied Jobs</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Resume's</div>
                                                    <a href="https://ankrglobal.com/admin/JOBS/joinankr/" class="btn btn-info" target="_blank">Resume's</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">About us</div>
                                                    <a href="https://ankrglobal.com/admin/about_us/aboutus/1/change/" class="btn btn-success" target="_blank">About us</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Common Info</div>
                                                    <a href="https://ankrglobal.com/admin/app/commoninfo/1/change/" class="btn btn-warning" target="_blank">Common Info</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Opening Modal</div>
                                                    <a href="https://ankrglobal.com/admin/app/openingmodal/1/change/" class="btn btn-primary" target="_blank">Opening Modal</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">SEOs</div>
                                                    <a href="https://ankrglobal.com/admin/app/seo/1/change/" class="btn btn-info" target="_blank">SEOs</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                        
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Trainers List</div>
                                                    <a href="https://ankrglobal.com/admin/app/trainers/" class="btn btn-success" target="_blank">Trainers List</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Blogs</div>
                                                    <a href="https://ankrglobal.com/admin/blog/blog/" class="btn btn-warning" target="_blank">Blogs List</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Certificate Signatures</div>
                                                    <a href="https://ankrglobal.com/admin/app/certificatesignatures/1/change/" class="btn btn-primary" target="_blank">Certificate Signatures</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Live Events List</div>
                                                    <a href="https://ankrglobal.com/admin/live_events/liveevents/" class="btn btn-info" target="_blank">Live Events List</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Live Events Create</div>
                                                    <a href="https://ankrglobal.com/admin/live_events/liveevents/add/" class="btn btn-success" target="_blank">Live Events Create</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Download User Data</div>
                                                    <a href="https://ankrglobal.com/admin/user_profile/profile/export/?" class="btn btn-warning" target="_blank">Download User Data</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Consultancy Page Header</div>
                                                    <a href="https://ankrglobal.com/admin/courses/courseelements/1/change/" class="btn btn-primary" target="_blank">Consultancy Page Header</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Technology Page Header</div>
                                                    <a href="https://ankrglobal.com/admin/technology/technologyelements/1/change/" class="btn btn-info" target="_blank">Technology Page Header</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Skills Page Header</div>
                                                    <a href="https://ankrglobal.com/admin/courses/courseelements/1/change/" class="btn btn-success" target="_blank">Skills Page Header</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Add New User</div>
                                                    <a href="https://ankrglobal.com/admin/auth/user/add/" class="btn btn-warning" target="_blank">Add New User</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Change Welcome Mail</div>
                                                    <a href="https://ankrglobal.com/admin/email_configurations/welcomemail/1/change/" class="btn btn-primary" target="_blank">Change</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Change Order Placed Mail</div>
                                                    <a href="https://ankrglobal.com/admin/email_configurations/orderplacedmail/1/change/" class="btn btn-info" target="_blank">Change</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Technology Tabs</div>
                                                    <a href="https://ankrglobal.com/admin/technology/technologytabs/" class="btn btn-success" target="_blank">Change</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Consultancy Tabs</div>
                                                    <a href="https://ankrglobal.com/admin/consultancy/consultancytabs/" class="btn btn-warning" target="_blank">Change</a>
                                                </div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>


                </div>
                <!-- // END header-layout__content -->

{% endblock %}
