{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Dashboard {% endblock %}</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="{% static 'educasta/assets/vendor/perfect-scrollbar.css' %}" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="{% static 'educasta/assets/css/app.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'educasta/assets/css/app.rtl.css' %}" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-material-icons.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-material-icons.rtl.css' %}" rel="stylesheet">

    <!-- Font Awesome FREE Icons -->
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-fontawesome-free.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-fontawesome-free.rtl.css' %}" rel="stylesheet">

    <!-- ion Range Slider -->
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-ion-rangeslider.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-ion-rangeslider.rtl.css' %}" rel="stylesheet">


    <!-- Flatpickr -->
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-flatpickr.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-flatpickr.rtl.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-flatpickr-airbnb.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'educasta/assets/css/vendor-flatpickr-airbnb.rtl.css' %}" rel="stylesheet">

    <!-- Vector Maps -->
    <link type="text/css" href="{% static 'educasta/assets/vendor/jqvmap/jqvmap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'toaster/css/toastr.min.css' %}" type="text/css" />

         <!-- Sweet Alert -->
    <link href="{% static 'sweetalert/css/sweetalert.css' %}" rel="stylesheet">

    <style type="text/css">
        .star-rating {
            direction: rtl;
            display: inline-block;
            padding: 10px
        }

        .star-rating input[type=radio] {
            display: none
        }

        .star-rating label {
            color: #bbb;
            font-size: 18px;
            padding: 0;
            cursor: pointer;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out
        }

        .star-rating label:hover,
        .star-rating label:hover ~ label,
        .star-rating input[type=radio]:checked ~ label {
            color: #f2b600
        }
        </style>

            <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176395410-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176395410-1');
    </script>
    
    {% block css %}

    {% endblock %}


</head>

<body class="layout-default">


    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-responsive-width="992px" data-fullbleed>
        <div class="mdk-drawer-layout__content">

            {% block header %}
            <!-- Header Layout -->
            <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

                <!-- Header -->

                <div id="header" class="mdk-header js-mdk-header m-0" data-fixed data-effects="waterfall" data-retarget-mouse-scroll="false">
                    <div class="mdk-header__content">

                        <div class="navbar navbar-expand-sm navbar-main navbar-dark bg-primary pl-md-0 pr-0" id="navbar" data-primary>
                            <div class="container-fluid page__container pr-0">

                                <!-- Navbar toggler -->
                                <button class="navbar-toggler navbar-toggler-custom  d-lg-none d-flex mr-navbar" type="button" data-toggle="sidebar">
                                    <span class="material-icons icon-14pt">menu</span>
                                </button>




                                {% if user.profile.user_type == 'STUDENT' %}

                                    <form class="ml-auto search-form search-form--light d-none d-sm-flex flex" action="{% url 'courses:search_student_courses' %}" method="GET">
                                        <input type="text" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Search Courses">
                                        <button class="btn" type="submit"><i class="material-icons">search</i></button>
                                    </form>

                                {% else %}

                                    <form class="ml-auto search-form search-form--light d-none d-sm-flex flex" action="{% url 'courses:search_admin_courses' %}" method="GET">
                                        <input type="text" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Search Courses">
                                        <button class="btn" type="submit"><i class="material-icons">search</i></button>
                                    </form>
                                    
                                {% endif %}


                                <ul class="nav navbar-nav d-none d-md-flex">
                                    <li class="nav-item dropdown">
                                        <a href="#notifications_menu" class="nav-link dropdown-toggle" data-toggle="dropdown" data-caret="false">
                                            <i class="material-icons nav-icon navbar-notifications-indicator">notifications</i>
                                        </a>
                                        <div id="notifications_menu" class="dropdown-menu dropdown-menu-right navbar-notifications-menu">
                                            <div class="dropdown-item d-flex align-items-center py-2">
                                                <span class="flex navbar-notifications-menu__title m-0">Notifications</span>
                                                <a href="javascript:void(0)" class="text-muted"><small>Clear all</small></a>
                                            </div>
                                            <div class="navbar-notifications-menu__content" data-perfect-scrollbar>
                                                <div class="py-2">
                                                {% for item in notification_list %}
                                                    <div class="dropdown-item d-flex">
                                                        <div class="mr-3">
                                                            <div class="avatar avatar-xs">
                                                            {% if user.profile.image %}
                                                                {% thumbnail user.profile.image "90x90" as im %}
                                                                <img src="{{ im.url }}" alt="Avatar" class="avatar-img rounded-circle">
                                                                {% endthumbnail %}
                                                            {% else %}
                                                                <img src="{% static 'educasta/assets/images/256_daniel-gaffey-1060698-unsplash.jpg' %}" alt="Avatar" class="avatar-img rounded-circle">
                                                            {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="flex">
                                                            {{ item.text }}<br>
                                                            <small class="text-muted">{{ item.date|timesince }} ago</small>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                                </div>
                                            </div>
                                            <!-- <a href="javascript:void(0);" class="dropdown-item text-center navbar-notifications-menu__footer">View All</a> -->
                                        </div>
                                    </li>
                                    
                                   
                                </ul>

                                <div class="dropdown">
                                    <a href="#" data-toggle="dropdown" data-caret="false" class="dropdown-toggle navbar-toggler navbar-toggler-dashboard border-left d-flex align-items-center ml-navbar">
                                        <span class="material-icons mr-2">account_circle</span> {{ user.username }}
                                    </a>
                                    <div id="company_menu" class="dropdown-menu dropdown-menu-right navbar-company-menu">
                                        <div class="dropdown-item d-flex align-items-center py-2 navbar-company-info py-3">

                                            <span class="mr-3">
                                            {% if user.profile.image %}
                                                {% thumbnail user.profile.image "43x43" as im %}
                                                <img src="{{ im.url }}" width="43" height="43" alt="avatar">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img src="{% static 'avatar.jpg' %}" width="43" height="43" alt="avatar">
                                            {% endif %}
                                            </span>
                                            <span class="flex d-flex flex-column">
                                                <strong class="h5 m-0">{{ user.username }}</strong>
                                                <small class="text-muted text-uppercase">{{ user.profile.user_type }}</small>
                                            </span>

                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item d-flex align-items-center py-2" href="{% url 'user_profile:profile_edit' %}">
                                            <span class="material-icons mr-2">account_circle</span> Edit Account
                                        </a>
                                        <!-- <a class="dropdown-item d-flex align-items-center py-2" href="#">
                                            <span class="material-icons mr-2">settings</span> Settings
                                        </a> -->
                                        <a class="dropdown-item d-flex align-items-center py-2" href="{% url 'accounts:logout' %}">
                                            <span class="material-icons mr-2">exit_to_app</span> Logout
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- // END Header -->
                {% endblock %}

                {% block content %}
                
                {% endblock %}

            </div>
            <!-- // END header-layout -->

        </div>
        <!-- // END drawer-layout__content -->

        {% block sidebar %}
        <div class="mdk-drawer  js-mdk-drawer" id="default-drawer" data-align="start">
            <div class="mdk-drawer__content">
                <div class="sidebar sidebar-dark sidebar-left bg-dark-gray" data-perfect-scrollbar>

                    <div class="d-flex align-items-center sidebar-p-a sidebar-account flex-shrink-0">
                        <a href="index.html" class="flex d-flex align-items-center text-underline-0">
                            
                            <span class="flex d-flex flex-column">
                                <span class="sidebar-brand">ANKR Global</span>
                                <small>Your Trusted partner</small>
                            </span>
                        </a>
                    </div>


                        <ul class="sidebar-menu">
                            <li class="sidebar-menu-item active">
                                <a class="sidebar-menu-button" href="{% url 'index' %}">

                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">photo_filter</i>
                                    <span class="sidebar-menu-text">Landing</span>
                                </a>
                            </li>
                        </ul>

                    {% if user.profile.user_type == 'STUDENT' %}
                    <div class="sidebar-heading">Student</div>
                    <div class="sidebar-block p-0">
                        <ul class="sidebar-menu mt-0">
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'index_student' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">star_half</i>
                                    <span class="sidebar-menu-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'courses:my_course_list' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">queue_play_next</i>
                                    <span class="sidebar-menu-text">My Courses</span>
                                </a>
                            </li>
                            
                            
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'courses:quiz_course_list' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">live_help</i>
                                    <span class="sidebar-menu-text">Take Quiz</span>
                                </a>
                            </li>
                           
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'user_profile:profile_details' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">settings</i>
                                    <span class="sidebar-menu-text">Profile</span>
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'accounts:logout' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">exit_to_app</i>
                                    <span class="sidebar-menu-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    {% else %}
           

                    <div class="sidebar-heading">Admin</div>
                    <div class="sidebar-block p-0">
                        <ul class="sidebar-menu mt-0">
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'index_admin' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">dvr</i>
                                    <span class="sidebar-menu-text">Dashboard</span>
                                </a>
                            </li>
                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'courses:all_course_list' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">local_offer</i>
                                    <span class="sidebar-menu-text">Courses</span>
                                    <span class="badge badge-warning badge-notifications ml-auto">All</span>
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'user_profile:student_list' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">local_offer</i>
                                    <span class="sidebar-menu-text">Students</span>
                                    <span class="badge badge-primary badge-notifications ml-auto">All</span>
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'ecommerce_cart:coupon_list' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">local_offer</i>
                                    <span class="sidebar-menu-text">Coupons</span>
                                    <span class="badge badge-info badge-notifications ml-auto">All</span>
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'user_profile:profile_details' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">settings</i>
                                    <span class="sidebar-menu-text">Profile</span>
                                </a>
                            </li>

                            <li class="sidebar-menu-item">
                                <a class="sidebar-menu-button" href="{% url 'admin-shortcuts' %}">
                                    <i class="sidebar-menu-icon sidebar-menu-icon--left material-icons">settings</i>
                                    <span class="sidebar-menu-text">Admin Shortcuts</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
    <!-- // END drawer-layout -->

    <div class="mdk-drawer js-mdk-drawer" id="events-drawer" data-align="end">
        <div class="mdk-drawer__content">
            <div class="sidebar sidebar-light sidebar-left" data-perfect-scrollbar>




                <small class="text-dark-gray px-3 py-1">
                    <strong>Thursday, 28 Feb</strong>
                </small>

                <div class="list-group list-group-flush">

                    <div class="list-group-item bg-light">
                        <div class="row">
                            <div class="col-auto d-flex flex-column">
                                <small>12:30 PM</small>
                                <small class="text-dark-gray">2 hrs</small>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column flex">
                                    <a href="#" class="text-body"><strong class="text-15pt">Marketing Team Meeting</strong></a>

                                    <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">location_on</i> 16845 Hicks Road</small>


                                </div>
                                <div class="avatar-group mt-2">

                                    <div class="avatar avatar-xs">
                                        <img src="assets/images/256_joao-silas-636453-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="assets/images/256_jeremy-banks-798787-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="assets/images/256_daniel-gaffey-1060698-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <small class="text-dark-gray px-3 py-1">
                    <strong>Wednesday, 27 Feb</strong>
                </small>

                <div class="list-group list-group-flush">

                    <div class="list-group-item bg-light">
                        <div class="row">
                            <div class="col-auto d-flex flex-column">
                                <small>07:48 PM</small>
                                <small class="text-dark-gray">30 min</small>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column flex">
                                    <a href="#" class="text-body"><strong class="text-15pt">Call Alex</strong></a>


                                    <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">phone</i> 202-555-0131</small>

                                </div>



                            </div>
                        </div>
                    </div>

                </div>

                <small class="text-dark-gray px-3 py-1">
                    <strong>Tuesday, 26 Feb</strong>
                </small>

                <div class="list-group list-group-flush">

                    <div class="list-group-item bg-light">
                        <div class="row">
                            <div class="col-auto d-flex flex-column">
                                <small>03:13 PM</small>
                                <small class="text-dark-gray">2 hrs</small>
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column flex">
                                    <a href="#" class="text-body"><strong class="text-15pt">Design Team Meeting</strong></a>

                                    <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">location_on</i> 16845 Hicks Road</small>


                                </div>
                                <div class="avatar-group mt-2">

                                    <div class="avatar avatar-xs">
                                        <img src="assets/images/256_rsz_1andy-lee-642320-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="assets/images/256_michael-dam-258165-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="assets/images/256_luke-porter-261779-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                    <div class="avatar avatar-xs">
                                        <img src="assets/images/stories/256_rsz_clem-onojeghuo-193397-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <small class="text-dark-gray px-3 py-1">
                    <strong>Monday, 25 Feb</strong>
                </small>

                <div class="list-group list-group-flush">

                    <div class="list-group-item bg-light">
                        <div class="row">
                            <div class="col-auto d-flex flex-column">
                                <small>12:30 PM</small>
                                <small class="text-dark-gray">2 hrs</small>
                            </div>
                            <div class="col d-flex">
                                <div class="d-flex flex-column flex">
                                    <a href="#" class="text-body"><strong class="text-15pt">Call Wendy</strong></a>


                                    <small class="text-muted d-flex align-items-center"><i class="material-icons icon-16pt mr-1">phone</i> 202-555-0131</small>

                                </div>


                                <div class="avatar avatar-xs">
                                    <img src="assets/images/256_michael-dam-258165-unsplash.jpg" alt="Avatar" class="avatar-img rounded-circle">
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal inmodal" id="modal-book-date" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY"></div>
        </div>
    </div>


    <div class="modal inmodal" id="modal-book" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated flipInY"></div>
        </div>
    </div>

    

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form method="POST">
        {% csrf_token %}
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Your Review</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
                
                <div class="form-group row">

                    <label class="col-lg-2 col-form-label">Review</label>

                    <div class="col-lg-10">
                        {{ form.review }}
                        {{ form.review.errors }}
                    </div>
                </div>

                <div class="form-group">
                                    <div class="col-sm-10">
                                        <div class="input-rating">

                                            <style type="text/css">
                                                .checked {
                                                    color: orange;
                                                }
                                            </style>

                                            <strong class="text-uppercase">Your Rating: </strong>
                                            <!-- <div class="stars">
                                                <input type="hidden" value='{{ Productreview_form.rating }}' />
                                            </div> -->
                                            <div class="star star-rating">
                                                <input id="star-5" type="radio" name="rating" value="5">
                                                <label for="star-5" title="5 stars">
                                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                                </label>
                                                <input id="star-4" type="radio" name="rating" value="4">
                                                <label for="star-4" title="4 stars">
                                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                                </label>
                                                <input id="star-3" type="radio" name="rating" value="3">
                                                <label for="star-3" title="3 stars">
                                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                                </label>
                                                <input id="star-2" type="radio" name="rating" value="2">
                                                <label for="star-2" title="2 stars">
                                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                                </label>
                                                <input id="star-1" type="radio" name="rating" value="1">
                                                <label for="star-1" title="1 star">
                                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-success" name="btnform1">Submit</button>
          </div>
        </form>
        </div>
      </div>
    </div>




    <div class="modal fade" id="modalQuestionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                  aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <form method="POST">
        {% csrf_token %}
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Ask Question</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
                
                <div class="form-group row">

                    <label class="col-lg-2 col-form-label">Question</label>

                    <div class="col-lg-10">
                        {{ question_form.question }}
                        {{ question_form.question.errors }}
                    </div>
                </div>

          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-success" name="btnform2">Submit</button>
          </div>
        </form>
        </div>
      </div>
    </div>

  

    <!-- jQuery -->
    <script src="{% static 'educasta/assets/vendor/jquery.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'educasta/assets/vendor/popper.min.js' %}"></script>
    <script src="{% static 'educasta/assets/vendor/bootstrap.min.js' %}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{% static 'educasta/assets/vendor/perfect-scrollbar.min.js' %}"></script>

    <!-- DOM Factory -->
    <script src="{% static 'educasta/assets/vendor/dom-factory.js' %}"></script>

    <!-- MDK -->
    <script src="{% static 'educasta/assets/vendor/material-design-kit.js' %}"></script>

    <!-- Range Slider -->
    <script src="{% static 'educasta/assets/vendor/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'educasta/assets/js/ion-rangeslider.js' %}"></script>

    <!-- App -->
    <script src="{% static 'educasta/assets/js/toggle-check-all.js' %}"></script>
    <script src="{% static 'educasta/assets/js/check-selected-row.js' %}"></script>
    <script src="{% static 'educasta/assets/js/dropdown.js' %}"></script>
    <script src="{% static 'educasta/assets/js/sidebar-mini.js' %}"></script>
    <script src="{% static 'educasta/assets/js/app.js' %}"></script>

    <!-- App Settings (safe to remove) -->
    <script src="{% static 'educasta/assets/js/app-settings.js' %}"></script>


    <!-- Flatpickr -->
    <script src="{% static 'educasta/assets/vendor/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'educasta/assets/js/flatpickr.js' %}"></script>

    <!-- Global Settings -->
    <script src="{% static 'educasta/assets/js/settings.js' %}"></script>

    <!-- Moment.js -->
    <script src="{% static 'educasta/assets/vendor/moment.min.js' %}"></script>
    <script src="{% static 'educasta/assets/vendor/moment-range.js' %}"></script>


    <!-- Chart.js -->
    <script src="{% static 'educasta/assets/vendor/Chart.min.js' %}"></script>

    <!-- App Charts JS -->
    <script src="{% static 'educasta/assets/js/chartjs-rounded-bar.js' %}"></script>
    <script src="{% static 'educasta/assets/js/charts.js' %}"></script>

    <!-- Chart Samples -->
    <script src="{% static 'educasta/assets/js/page.analytics.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="{% static 'toaster/js/toastr.min.js' %}"></script>

    <!-- Sweet alert -->
    <script src="{% static 'sweetalert/js/sweetalert.min.js' %}"></script>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <script type="text/javascript">
                    $(document).ready(function () {
                      swal({
                        title: "Alert!",
                        text: "{{ message }}",
                        type: "error"
                      });
                    });
                  </script>
            {% else %}
                <script type="text/javascript">
                    $(document).ready(function () {
                        setTimeout(function () {
                            toastr.options = {
                                closeButton: true,
                                progressBar: true,
                                showMethod: 'slideDown',
                                timeOut: 12000
                            };
                            toastr.success('', '{{ message }}');

                        }, 1300);
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block js %}

    {% endblock %}


</body>

</html>