{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load l10n %}
{% load mathfilters %}
{% load poll_extras %}

{% block content %}
                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">





                    <div class="page__heading">
                        <div class="container-fluid page__container">
                            <h1 class="mb-0">Admin Dashboard</h1>
                        </div>
                    </div>
                    <div class="bg-white border-bottom mb-3">
                        <div class="container-fluid nav nav-tabs" role="tablist">
                            <a href="#activity_all" class="active" data-toggle="tab" role="tab" aria-controls="activity_all" aria-selected="true">Overview</a>
                            <a href="#activity_user" data-toggle="tab" role="tab" aria-selected="false">Users</a>
                        </div>
                    </div>
                    <div class="container-fluid page__container">
                        <div class="tab-content">
                            <div class="tab-pane active show fade" id="activity_all">
                                <!-- FIRST TAB CONTENT -->
                                <div class="row card-group-row">
                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted mb-2 d-flex">Lifetime Sales</div>
                                                    <span class="h4 m-0">&#8377; {{ total_sales|abs|format_number }} </span>
                                                </div>
                                                <div><i class="material-icons icon-muted icon-40pt ml-3">monetization_on</i></div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted d-flex mb-2">Students</div>
                                                    <span class="h4 m-0">{{ students_count }} </span>
                                                </div>
                                                <div><i class="fa fa-user fa-2x"></i></div>
                                            </div>
                                            <!-- <div class="progress" style="height: 3px;">
                                                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted mb-2">Orders</div>

                                                    <div class="d-flex align-items-center">
                                                        <div class="h4 m-0">{{ total_orders }} </div>
                                                        <!-- <div class="progress ml-1" style="width:100%;height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div><i class="material-icons icon-muted icon-40pt ml-3">contacts</i></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 card-group-row__col">
                                        <div class="card card-group-row__card">
                                            <div class="card-body-x-lg card-body d-flex flex-row align-items-center">
                                                <div class="flex">
                                                    <div class="card-header__title text-muted mb-2">Average Orders</div>

                                                    <div class="d-flex align-items-center">
                                                        <div class="h4 m-0">&#8377; {{ average_sales|abs|format_number }} </div>
                                                        <!-- <div class="progress ml-1" style="width:100%;height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <div><i class="material-icons icon-muted icon-40pt ml-3">contacts</i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="card-header card-header-large bg-light d-flex align-items-center">
                                                <div class="flex">
                                                    <h4 class="card-header__title">Sales In Chosen Period</h4>
                                                    <div class="card-subtitle text-muted">Selected Period : {{ period_selected.start_date }} to {{ period_selected.end_date }}</div>
                                                </div>
                                                <div class="ml-auto">
                                                    <button class="btn btn-light show-form-update" data-url="{% url 'dateupdate' %}">Select Period</button>
                                                </div>
                                            </div>

                                            <div class="card-body">

                                                <style type="text/css">
                                                    @media (max-width: 1960px) and (min-width: 1560px) {
                                                        #sales_chart { height: 395px; } /* Show 1 stock per row on large devices (tablets, phones in landscape) */
                                                      }
                                                      @media (max-width: 1559px) and (min-width: 501px) {
                                                        #sales_chart { height: 275px;  } /* Show 1 stock per row on medium devices (tablets, phones in landscape) */
                                                      }
                                                      @media (max-width: 500px) {
                                                        #sales_chart { height: 165px; } /* On small screens, show one stock per row */
                                                      }
                                                </style>
                                                <div class="chart" id="sales_chart">
                                                    <canvas id="lineChart_2"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="card">
                                            <div class="card-header card-header-large bg-light d-flex align-items-center">
                                                <div class="flex">
                                                    <h4 class="card-header__title">Coupons</h4>
                                                    <div class="card-subtitle text-muted">Your Valid Coupons and discount Percentage</div>
                                                </div>


                                            </div>


                                            <ul class="list-group list-rankings">
                                            {% for item in coupon_list %}
                                                <li class="list-group-item">
                                                    <div class="media align-items-center">
                                                        <span class="mr-2">{{ forloop.counter }}.</span>
                                                        
                                                        <div class="media-body">
                                                            <a href="#">{{ item.coupon_code }}</a>
                                                        </div>
                                                        <div>{{ item.discount_rate }}%</div>
                                                    </div>
                                                </li>
                                            {% endfor %}


                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <!-- END FIRST TAB CONTENT -->
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="nav nav-tabs">
                                            <li><a class="nav-link active" data-toggle="tab" href="#tab-1"><i
                                                        class="fa fa-user"></i> New Students</a></li>
                                            <li><a class="nav-link" data-toggle="tab" href="#tab-2"><i
                                                        class="fa fa-briefcase"></i> Best Seller</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab-1" class="tab-pane active">
                                                <div class="card">
                                            
                                                    

                                                    <div class="full-height-scroll">
                                                        {% if new_student_list %}
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-hover">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>#</th>
                                                                            <th>Student Name</th>
                                                                            <th>Email</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for item in new_student_list %}
                                                                        <tr>
                                                                            <td>{{ forloop.counter }}</td>
                                                                            <td>{{ item.user.username }}</td>
                                                                            <td>{{ item.email }}</td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        {% else %}
                                                            <div class="alert alert-danger alert-dismissable" id="limit-alert">
                                                                <button aria-hidden="true" data-dismiss="alert" class="close"
                                                                    type="button">×</button>
                                                                <strong>You Dont Have Any Student</strong>
                                                            </div>
                                                        {% endif %}
                                                        </div>

                                                </div>
                                            </div>

                                            <div id="tab-2" class="tab-pane">
                                                <div class="card">
                                            


                                                    <div class="full-height-scroll">
                                                        {% if top_courses_list %}
                                                            <div class="table-responsive">
                                                                <table class="table table-striped table-hover">
                                                                    <thead>
                                                                        <tr>

                                                                            <th>#</th>
                                                                            <th>Course Name</th>
                                                                            <th>Total Quantity Sold</th>
                                                                            <th>Amount</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for item in top_courses_list %}
                                                                            {% if item.quantity_sales != 0 %}
                                                                                <tr>
                                                                                    <td>{{ forloop.counter }}</td>
                                                                                    <td>{{ item.name }}</td>
                                                                                    <td>{{ item.quantity_sales }}</td>
                                                                                    <td>{{ item.total_sales }}</td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        {% else %}
                                                            <div class="alert alert-danger alert-dismissable" id="limit-alert">
                                                                <button aria-hidden="true" data-dismiss="alert" class="close"
                                                                    type="button">×</button>
                                                                <strong>No Courses Purchased By User</strong>
                                                            </div>
                                                        {% endif %}
                                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END FIRST TAB CONTENT -->



                            </div>
                                <div class="tab-pane fade" id="activity_user">
                                    <!-- SECOND TAB CONTENT -->


                                    <div class="container-fluid page__container">

                                        <div class="card card-form">
                                            <div class="row no-gutters">
                                                
                                                <div class="col-lg-12 card-form__body">

                                                    <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>

                                                        <div class="search-form search-form--light m-3">

                                                            <input type="text" id="id_input" class="form-control search" placeholder="Search User by name / email / User Type">

                                                            <button class="btn" type="button"><i class="material-icons">search</i></button>
                                                        </div>

                                                        <div id="profile_list">
                                                            {% include 'user_profile/user_ajax_list.html' %}
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                        {% if user_list.has_other_pages %}
                                            <hr>
                                            <div class="d-flex flex-row align-items-center mb-3">
                                                
                                                <ul class="pagination m-0">

                                                    {% if user_list.has_previous %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="?page={{ user_list.previous_page_number }}#activity_user" aria-label="Previous">
                                                            <span aria-hidden="true" class="material-icons">chevron_left</span>
                                                            <span>Prev</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}

                                                    {% for i in user_list.paginator.page_range %}
                                                        {% if user_list.number == i %}
                                                            <li class="page-item active">
                                                                <a class="page-link" href="#" aria-label="{{ i }}">
                                                                    <span>{{ i }}</span>
                                                                </a>
                                                            </li>
                                                        {% elif i > user_list.number|add:'-3' and i < user_list.number|add:'3' %}
                                                            <li class="page-item">
                                                                <a class="page-link" href="?page={{ i }}#activity_user" aria-label="{{ i }}">
                                                                    <span>{{ i }}</span>
                                                                </a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}


                                                    {% if user_list.has_next %}
                                                    <li class="page-item">
                                                        <a class="page-link" href="?page={{ user_list.next_page_number }}#activity_user" aria-label="Next">
                                                            <span>Next</span>
                                                            <span aria-hidden="true" class="material-icons">chevron_right</span>
                                                        </a>
                                                    </li>
                                                    {% endif %}

                                                </ul>
                                            </div>
                                            {% endif %}

                                    </div>
                                   

                                    <!-- END SECOND TAB -->
                                </div>
                        </div>
                    </div>


                </div>
                <!-- // END header-layout__content -->

{% endblock %}

{% block js %}

<!-- ChartJS-->
<script src="{% static 'chartJS/JS/Chart.min.js' %}"></script>

<!-- Project scripts -->
<script src="{% static 'daterange/plugin.js' %}"></script>

<script>
    //xyz
    $(document).ready(function () {
        var lineData = {
            labels: [{% for key, value in results %}'{{ key.0|month_name }},{{ key.1|unlocalize }}', {% endfor %}],
        datasets: [
        {
            label: "Sales",
            backgroundColor: "rgb(27,175,99)",
            borderColor: "rgb(24,154,87)",
            pointBackgroundColor: "rgb(27,175,99)",
            pointBorderColor: "#fff",
            data: [{% for key, value in results %}{{ value.0|unlocalize }}, {% endfor %}]
                    },
            ]
        };

    var lineOptions = {
        responsive: true
    };


    var ctx = document.getElementById("lineChart_2").getContext("2d");
    new Chart(ctx, { type: 'line', data: lineData, options: lineOptions });
    });
</script>


<script type="text/javascript">
    jQuery(function() {
    $("#id_input").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: '{% url "user_profile:user_search" %}',
            data: {
              'search': value 
            },
            dataType: 'json',
            success: function (data) {
                $('#profile_list').html(data['html'])
                if (data.query != ""){
                  $('#user_autocomplete').show()
                }
                       
            }
        });        
    });
  });
</script>

{% endblock %}