{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load l10n %}
{% load mathfilters %}
{% load poll_extras %}

{% block content %}
              
                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">

                <div class="page__heading">
                        <div class="container-fluid page__container">
                            <h1 class="mb-0">Student Dashboard</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">


                        <div class="row">
                            <div class="col-lg-7">

                                <div class="card">
                                    <div class="card-header card-header-large bg-light d-flex align-items-center">
                                        <div class="flex">
                                            <h4 class="card-header__title">In Progress</h4>
                                            <div class="card-subtitle text-muted">Your recent courses</div>
                                        </div>
                                        <div class="ml-auto">
                                            <a href="{% url 'courses:my_course_list' %}" class="btn btn-light">Browse All</a>
                                        </div>
                                    </div>




                                    <ul class="list-group list-group-flush mb-0" style="z-index: initial;">
                                    {% for item in student_courses %}
                                        <li class="list-group-item" style="z-index: initial;">
                                            <div class="d-flex align-items-center">
                                                <div class="flex">
                                                    <a href="{% url 'courses:my_course_details' course_slug=item.course.slug %}" class="text-body"><strong>{{ item.course.name }}</strong></a>
                                                    <!-- <div class="d-flex align-items-center">
                                                        <div class="progress" style="width: 100px; height:4px;">
                                                            <div class="progress-bar bg-vuejs" role="progressbar" style="width: {{ item.getting_course_completion_percentage }}%" aria-valuenow="{{ item.getting_course_completion_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <small class="text-muted ml-2">{{ item.getting_course_completion_percentage }}%</small>
                                                    </div> -->
                                                </div>
                                                <div class="dropdown ml-3">
                                                    <a href="#" class="dropdown-toggle text-muted" data-caret="false" data-toggle="dropdown">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="{% url 'courses:my_course_details' course_slug=item.course.slug %}">View Course</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}

                                    </ul>
                                </div>

                                <div class="card">
                                    <div class="card-header card-header-large bg-light d-flex align-items-center">
                                        <div class="flex">
                                            <h4 class="card-header__title">My Quizes</h4>
                                            <div class="card-subtitle text-muted">Skill tests</div>
                                        </div>
                                        <div class="dropdown ml-auto">
                                            <a class="btn btn-sm btn-light" href="{% url 'courses:quiz_course_list' %}">View all</a>
                                        </div>
                                    </div>



                                    <ul class="list-group list-group-flush mb-0">
                                    {% for item in student_courses %}
                                        {% if item.getting_quiz_percentage != 0 %}
                                        <li class="list-group-item">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <a class="text-body mb-1" href="#"><strong>{{ item.course.name }}</strong></a><br>
                                                    <div class="d-flex align-items-center">
                                                        <i class="material-icons icon-16pt text-muted mr-1">queue_play_next</i> <a href="take-course.html" class="small text-muted">Quiz Result for  {{ item.course.name }}</a>
                                                    </div>
                                                </div>
                                                {% if item.getting_quiz_percentage >= 80 %}
                                                <div class="media-right text-center d-flex align-items-center">
                                                    <span class="badge badge-success mr-2">
                                                        Great
                                                    </span>
                                                    <h4 class="mb-0 text-success">{{ item.getting_quiz_percentage }} %</h4>
                                                </div>
                                                {% elif item.getting_quiz_percentage >= 50 and item.getting_quiz_percentage < 80 %}
                                                    <div class="media-right text-center d-flex align-items-center">
                                                    

                                                        <span class="badge badge-primary mr-2">
                                                            Good
                                                        </span>
                                                        <h4 class="mb-0 text-primary">{{ item.getting_quiz_percentage }} %</h4>
                                                    </div>
                                                {% elif item.getting_quiz_percentage >= 35 and item.getting_quiz_percentage < 50 %}
                                                    <div class="media-right text-center d-flex align-items-center">
                                                    

                                                        <span class="badge badge-warning mr-2">
                                                            Poor
                                                        </span>
                                                        <h4 class="mb-0 text-warning">{{ item.getting_quiz_percentage }} %</h4>
                                                    </div>
                                                {% elif item.getting_quiz_percentage < 35 %}
                                                    <div class="media-right text-center d-flex align-items-center">
                                                        <span class="badge badge-danger mr-2">
                                                            Failed
                                                        </span>
                                                        <h4 class="mb-0 text-danger">{{ item.getting_quiz_percentage }} %</h4>

                                                    </div>
                                                {% endif %}
                                            </div>
                                        </li>
                                        {% endif %}
                                    {% endfor %}


                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <!-- START ACTIVITY -->
                                <div class="card">
                                    <div class="card-header card-header-large bg-white d-flex align-items-center">
                                        <h4 class="card-header__title flex m-0">Recent Order</h4>
                                        
                                    </div>
                                    
                                    <div class="list-group tab-content list-group-flush">
                                        <div class="tab-pane active show fade" id="activity_all">

                                        {% for item in student_courses %}
                                            <div class="list-group-item list-group-item-action d-flex align-items-center ">

                                                <div class="flex">
                                                    <div class="d-flex align-items-middle">
                                                        <div class="avatar avatar-xxs mr-1">
                                                        {% if item.course.image %}
                                                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                                {% thumbnail item.course.image "80x70" as im %}
                                                                <img src="{{ im.url }}" alt="{{ item.course.name }}" class="avatar-img rounded-circle">
                                                                {% endthumbnail %}
                                                            {% else %}
                                                                {% thumbnail item.course.image "80x70" format="WEBP" as im %}
                                                                <img src="{{ im.url }}" alt="{{ item.course.name }}" class="avatar-img rounded-circle">
                                                                {% endthumbnail %}
                                                            {% endif %}
                                                        {% else %}
                                                            <img src="{% static 'educasta/assets/images/256_rsz_1andy-lee-642320-unsplash.jpg' %}" alt="{{ item.course.name }}" class="avatar-img rounded-circle">
                                                        {% endif %}
                                                        </div>


                                                        <strong class="text-15pt mr-1">{{ item.course.name }}</strong>
                                                    </div>
                                                    <small class="text-muted">{{ item.date_of_subscription|timesince }} ago</small>
                                                </div>
                                                <div>&#8377; {{ item.total }}</div>

                                            </div>
                                        {% endfor %}
                                        </div>








                                    </div>
                                </div>
                                <!-- END ACTIVITY -->

                                <!-- START SKILLS -->

                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-header__title">Course Completion</h4>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-unstyled list-skills">
                                        {% for item in student_courses %}
                                            <li>
                                                <div>{{ item.course.name }}</div>
                                                <div class="flex">
                                                    <div class="progress" style="height: 4px;">
                                                        <div class="progress-bar" role="progressbar" style="width: {{ item.getting_course_completion_percentage }}%;" aria-valuenow="{{ item.getting_course_completion_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <div class="text-dark-gray"><strong>{{ item.getting_course_completion_percentage|floatformat:2 }}%</strong></div>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="card-footer text-center border-0">
                                        <a href="{% url 'courses:my_course_list' %}">
                                            <span class="text-muted">View All</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- END SKILLS -->
                            </div>
                        </div>
                    </div>


                </div>
                <!-- // END header-layout__content -->

{% endblock %}
