{% load static %}
{% load thumbnail %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ankr Global | {% block title %} Home {% endblock %}</title>
    <meta name="description" content="{{ seo.MetaDescription|safe }}">

    <meta name="keywords" content="{% for item in seo.FocusKeyword.all %}{{ item.name }},{% endfor %}"/>
    <meta name="robots" content="INDEX,FOLLOW" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
    
    <!-- CSS
	============================================ -->
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/icons.min.css' %}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>

     <!-- Primary Menu -->
    <link href="{% static 'assets/css/primary_menu.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'toaster/css/toastr.min.css' %}" type="text/css" />

     <!-- Sweet Alert -->
    <link href="{% static 'sweetalert/css/sweetalert.css' %}" rel="stylesheet">

    <style type="text/css">
            button.dim {
              display: inline-block;
              text-decoration: none;
              text-transform: uppercase;
              text-align: center;
              padding-top: 6px;
              margin-right: 10px;
              position: relative;
              cursor: pointer;
              border-radius: 5px;
              font-weight: 600;
              margin-bottom: 20px !important;
            }
            button.dim:active {
              top: 3px;
            }
            button.btn-warning.dim {
              box-shadow: inset 0 0 0 #f79d3c, 0 5px 0 0 #f79d3c, 0 10px 5px #999999 !important;
            }
            button.dim:before {
              font-size: 50px;
              line-height: 1em;
              font-weight: normal;
              color: #fff;
              display: block;
              padding-top: 10px;
            }
            button.dim:active:before {
              top: 7px;
              font-size: 50px;
            }
            .dropdown-submenu {
              position: relative;
            }

            .dropdown-submenu .dropdown-menu {
              top: 0;
              left: 100%;
              margin-top: -1px;
            }
            @media (max-width: 768px) {
            .carousel-inner .carousel-item > div {
                display: none;
            }
            .carousel-inner .carousel-item > div:first-child {
                display: block;
            }
            }

            .carousel-inner .carousel-item.active,
            .carousel-inner .carousel-item-next,
            .carousel-inner .carousel-item-prev {
                display: flex;
            }

            /* display 3 */
            @media (min-width: 768px) {
                
                .carousel-inner .carousel-item-right.active,
                .carousel-inner .carousel-item-next {
                  transform: translateX(33.333%);
                }
                
                .carousel-inner .carousel-item-left.active, 
                .carousel-inner .carousel-item-prev {
                  transform: translateX(-33.333%);
                }
            }

            .carousel-inner .carousel-item-right,
            .carousel-inner .carousel-item-left{ 
              transform: translateX(0);
            }


    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-176395410-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-176395410-1');
    </script>

    {% block css %}

    {% endblock %}

</head>

<body>

{% block header %}
<header class="header-area">
    <div class="header-top bg-img" style="background-image:url({% static 'assets/img/icon-img/header-shape.png' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-12 col-sm-8">
                    <div class="header-contact">
                        <ul>
                        {% if user.is_authenticated %}
                            <li><i class="fa fa-user"></i> {{ user.username }}</li>
                        {% endif %}
                            <li><i class="fa fa-phone"></i> {{ common_info.phone_no }}</li>
                            <li><i class="fa fa-envelope-o"></i><a href="mailto:{{ common_info.email }}">{{ common_info.email }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-12 col-sm-4">
                    <div class="login-register">
                        <ul>
                            {% if order_count > 0 %}
                                <li><a href="{% url 'ecommerce_cart:user_order_list' %}">Your Orders</a></li>
                            {% endif %}
                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                                <li><a href="{% url 'accounts:signup' %}">Register</a></li>
                            {% else %}
                                {% if user.profile.user_type == 'STUDENT' %}
                                    <li><a href="{% url 'index_student' %}">Student Dashboard</a></li>
                                {% elif user.is_superuser %}
                                    <li><a href="{% url 'index_admin' %}">Admin Dashboard</a></li>
                                {% endif %}
                                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="{% url 'index' %}">
                        {% if common_info.logo %}
                            <img alt="Ankr Global Logo" src="{{ common_info.logo.url }}" title="Ankr Global Logo" height="200%" width="200%" style="margin-bottom: 10px;">
                        {% else %}
                            <img alt="Ankr Global Logo" src="{% static 'assets/img/logo/logo.png' %}" title="Ankr Global Logo">
                        {% endif %}
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-6 col-8">
                    <div class="menu-cart-wrap">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a href="{% url 'index' %}"> HOME </a>
                                        
                                    </li>                                    
                                    <li><a href="{% url 'about_us:about_ankr' %}">About Us</a></li>

                                    <li><a href="{% url 'consultancy:services' %}"> Consulting <i class="fa fa-angle-down"></i> </a>
                                        <ul class="submenu">
                                        {% for item in service_list %}
                                            <li><a href="{% url 'consultancy:service-detail' service_slug=item.slug %}">{{ item.name }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </li>

                                    <li><a href="{% url 'technology:technology_list' %}"> Technology <i class="fa fa-angle-down"></i> </a>
                                        <ul class="submenu">
                                        {% for item in tech_list %}
                                            <li><a href="{% url 'technology:technology-details' technology_slug=item.slug %}">{{ item.name }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </li>


                                    <li class="mega-menu-position top-hover"><a href="{% url 'courses:skills_list' %}"> SKILLS <i class="fa fa-angle-down"></i> </a>
                                        <ul class="mega-menu">
                                        {% for item in course_category_list %}
                                            <li>
                                                <ul>
                                                {% if item.slug == 'corporate-skill-development' %}
                                                    <li class="mega-menu-title"><a href="{% url 'consultancy:service-detail' service_slug=item.slug %}"><strong>{{ item.name }}</strong></a></li>
                                                {% else %}
                                                    <li class="mega-menu-title"><a href="{% url 'courses:course_category_details' category_slug=item.slug %}"><strong>{{ item.name }}</strong></a></li>
                                                {% endif %}
                                                    {% for obj in item.course_category.all %}
                                                            <li><a href="{% url 'courses:course_sub_category_details' sub_category_slug=obj.slug %}">{{ obj.name }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </li>

                                        {% endfor %}

                                        </ul>
                                    </li>



                                    <li><a href="{% url 'jobs:job_list' %}">Jobs</a></li>
                                    <li><a href="{% url 'blog:blog_list' %}">Blogs</a></li>
                                    <li><a href="{% url 'contact_us:contact_us_form' %}">Contact Us</a></li>

                                </ul>
                            </nav>

                        </div>
                        <div class="cart-search-wrap">
                            <div class="cart-wrap">
                                <button class="icon-cart">
                                    <i class="fa fa-cart-plus"></i>
                                    <span class="count-style">{{ cart_count }}</span>
                                </button>
                                <div class="shopping-cart-content">
                                    <ul>
                                    {% for item in cart_items %}
                                        {% if item.course %}
                                            <li class="single-shopping-cart">
                                                <div class="shopping-cart-img">
                                                    <a href="{% url 'courses:course_details' course_slug=item.course.slug %}">
                                                        {% if item.course.image %}
                                                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                                {% thumbnail item.course.image "82x82" as im %}
                                                                <img src="{{ im.url }}" alt="{{ item.course.name }}">
                                                                {% endthumbnail %}
                                                            {% else %}
                                                                {% thumbnail item.course.image "82x82" format="WEBP" as im %}
                                                                <img src="{{ im.url }}" alt="{{ item.course.name }}">
                                                                {% endthumbnail %}
                                                            {% endif %}
                                                        {% else %}
                                                            <img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.course.name }}">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="{% url 'courses:course_details' course_slug=item.course.slug %}">{{ item.course.name|truncatewords:"3" }} </a></h4>
                                                    <span>&#8377; {{ item.course.course_total }}</span>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="{% url 'ecommerce_cart:delete_item' item_id=item.id  %}" onclick="return confirm('Are you sure you want to delete this item from cart?');"><i class="fa fa-times-circle"></i></a>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="single-shopping-cart">
                                                <div class="shopping-cart-img">
                                                    <a href="{% url 'courses:package_details' package_slug=item.packages.slug %}">
                                                        {% if item.packages.image %}
                                                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                                {% thumbnail item.packages.image "82x82" as im %}
                                                                <img src="{{ im.url }}" alt="{{ item.packages.package_name }}">
                                                                {% endthumbnail %}
                                                            {% else %}
                                                                {% thumbnail item.packages.image "82x82" format="WEBP" as im %}
                                                                <img src="{{ im.url }}" alt="{{ item.packages.package_name }}">
                                                                {% endthumbnail %}
                                                            {% endif %}
                                                        {% else %}
                                                            <img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.packages.package_name }}">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="shopping-cart-title">
                                                    <h4><a href="{% url 'courses:package_details' package_slug=item.packages.slug %}">{{ item.packages.package_name|truncatewords:"3" }} </a></h4>
                                                    <span>&#8377; {{ item.packages.package_total }}</span>
                                                </div>
                                                <div class="shopping-cart-delete">
                                                    <a href="{% url 'ecommerce_cart:delete_item' item_id=item.id  %}" onclick="return confirm('Are you sure you want to delete this item from cart?');"><i class="fa fa-times-circle"></i></a>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                    <div class="shopping-cart-total">
                                        <h4>Total : <span class="shop-total">&#8377; {{ cart_total }}</span></h4>
                                    </div>
                                    <div class="shopping-cart-btn">
                                        <a class="default-btn btn-hover" href="{% url 'ecommerce_cart:cart_view' %}">view cart</a>
                                        <!-- <a class="default-btn btn-hover" href="checkout.html">checkout</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="header-search">
                                <button class="search-toggle">
                                    <i class="fa fa-search"></i>
                                </button>
                                <div class="search-content">
                                    <form action="{% url 'courses:search_courses' %}" method="GET">
                                        <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Courses">
                                        <button type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="{% url 'index' %}">HOME</a>
                            </li>
                            <li><a href="{% url 'about_us:about_ankr' %}">About Us</a></li>
                            <li><a href="{% url 'consultancy:services' %}">Consulting</a></li>
                            <li><a href="{% url 'technology:technology_list' %}">Technology</a></li>


                            <li><a href="#">SKILLS</a>
                                <ul>
                                {% for item in course_category_list %}
                                    <li><a href="{% url 'courses:course_category_details' category_slug=item.slug %}">{{ item.name }}</a>
                                        <ul>
                                        {% for obj in item.course_category.all %}
                                            <li><a href="{% url 'courses:course_sub_category_details' sub_category_slug=obj.slug %}">{{ obj.name }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}

                                    <li><a href="{% url 'courses:package_list' %}">Packages</a>
                                        <ul>
                                        {% for obj in package_list %}
                                            <li><a href="{% url 'courses:package_details' package_slug=obj.slug %}">{{ obj.package_name }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li><a href="{% url 'courses:package_list' %}">PACKAGES</a>
                                <ul>
                                {% for item in package_list %}
                                    <li><a href="{% url 'courses:package_details' package_slug=item.slug %}">{{ item.package_name }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>


                            <li><a href="{% url 'jobs:job_list' %}">Jobs</a></li>
                            <li><a href="{% url 'blog:blog_list' %}">Blogs</a></li>
                            <li><a href="{% url 'contact_us:contact_us_form' %}">Contact Us</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

{% endblock %}

<!-- <div class="social-icons" id="s-icons">
    <ul class="navbar-nav" style="margin: 0 0px;">
        <li><a href="https://api.whatsapp.com/send?phone=919819146671" class="icon-button whatsapp" target="_blank"><i class="fa fa-whatsapp" ></i><span></span></a></li>
        <li><a href="tel:+91 9819146671" class="icon-button teligram" ><i class="fa fa-fw fa-phone"></i><span></span></a></li>
        <li><a href="mailto:support@myluckystones.com" class="icon-button pinterest" ><i class="icon-envelope4"></i><span></span></a></li>
    </ul>
    <button class="btn btn-primary btn-social" id="btn-share" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-comments fa-2x"></i></button>
</div>
 -->
{% block footer %}
<footer class="footer-area">
    <div class="footer-top bg-img default-overlay pt-130 pb-80" 
    {% if common_info.footer_image %}
        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
            {% thumbnail common_info.footer_image "1920x506" as im %}
                style="background-image:url('{{ im.url }}');"
            {% endthumbnail %}
        {% else %}
            {% thumbnail common_info.footer_image "1920x506" format="WEBP" as im %}
                style="background-image:url('{{ im.url }}');"
            {% endthumbnail %}
        {% endif %}
    {% else %}
        style="background-image:url({% static 'assets/img/bg/bg-4.jpg' %});"
    {% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title">
                            <h4>ABOUT US</h4>
                        </div>
                        <div class="footer-about">
                            {{ common_info.footer_about_us_text|safe }}
                            <div class="f-contact-info">
                                <div class="single-f-contact-info">
                                    <i class="fa fa-home"></i>
                                    <span>{{ common_info.address|safe|striptags }}</span>
                                </div>
                                <div class="single-f-contact-info">
                                    <i class="fa fa-envelope-o"></i>
                                    <span><a href="mailto:{{ common_info.email }}">{{ common_info.email }}</a></span>
                                </div>
                                <div class="single-f-contact-info">
                                    <i class="fa fa-phone"></i>
                                    <span> {{ common_info.phone_no }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="footer-widget mb-40">
                        <div class="footer-title">
                            <h4>QUICK LINK</h4>
                        </div>
                        <div class="footer-list">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about_us:about_ankr' %}">About Us</a></li>
                                <li><a href="{% url 'jobs:job_list' %}">Jobs</a></li>
                                <li><a href="{% url 'faq:faq_list' %}">FAQs</a></li>
                                <li><a href="{% url 'terms_view' %}">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12" style="padding-right: 300px;">
                    <div class="footer-widget mb-40">
                    {% if request.user_agent.is_mobile %}
                        <iframe src="https://cdn.forms-content.sg-form.com/f2041b31-e791-11ea-b005-c64d7b896e3c" width="330" height="390"></iframe>
                        
                    {% else %}
                        <iframe src="https://cdn.forms-content.sg-form.com/f2041b31-e791-11ea-b005-c64d7b896e3c" width="550" height="390"></iframe>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom pt-15 pb-15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="copyright">
                        <p>
                            Copyright ©
                            <a href="#">ANKR</a>
                            . All Right Reserved.
                        </p>
                        <p>Created and Managed by <a href="https://bracketline.com/" target="_blank">Bracketline Pvt Ltd.</a></p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="footer-menu-social">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="{% url 'privacy_policy' %}">Privacy & Policy</a></li>
                                <li><a href="{% url 'terms_view' %}">Terms & Conditions of Use</a></li>
                            </ul>
                        </div>
                        <div class="footer-social">
                            <ul>
                            {% if common_info.facebook_link %}
                                <li><a class="facebook" href="{{ common_info.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            {% endif %}

                            {% if common_info.youtube_link %}
                                <li><a class="youtube" href="{{ common_info.youtube_link }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                            {% endif %}

                            {% if common_info.twitter_link %}
                                <li><a class="twitter" href="{{ common_info.twitter_link }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            {% endif %}

                            {% if common_info.linkedin_link %}
                                <li><a class="facebook" href="{{ common_info.linkedin_link }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            {% endif %}

                            {% if common_info.instagram_link %}
                                <li><a class="instagram" href="{{ common_info.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            {% endif %}

                            {% if common_info.google_link %}
                                <li><a class="google-plus" href="{{ common_info.google_link }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            {% endif %}

                            {% if common_info.whatsapp_link %}
                                <li><a class="whatsapp" href="{{ common_info.whatsapp_link }}" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                            {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}







<div class="modal inmodal" id="media_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                
                <h4 id="myModalTitle">{{ item.name }}</h4>
                <small class="font-bold">{{ item.type }}</small>
            </div>
            <div class="modal-body" id="myModalBody">
                <div class="row">
                    <div class="col-md-6">
                    {% if opening_modal.image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail opening_modal.image "500x500" as im %}
                            <img alt="Modal-image" title="Modal-Image" id="media_image" class="img-fluid" src="{{ im.url }}" id="ModalImage" height="200">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail opening_modal.image "500x500" format="WEBP" as im %}
                            <img alt="Modal-image" title="Modal-Image" id="media_image" class="img-fluid" src="{{ im.url }}" id="ModalImage" height="200">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img alt="Modal-image" title="Modal-Image" id="media_image" class="img-fluid" src="{% static 'modal_image.jpg' %}" id="ModalImage" height="200">
                    {% endif %}
                    </div>
                        
                    <div class="col-md-6">
                        <!-- <div class="filename"><strong>File name:</strong> <span id="image_filename"></span></div> -->
                        <div class="filename">
                            <h3>{{ opening_modal.header_text }}</h3> 
                        </div>

                        <div class="filename">
                            <p>{{ opening_modal.text }}</p> 
                        </div>
                        
                        <hr>
                        <div id="media_html">

                           <form method="POST">
                            {% csrf_token %}
                            <style type="text/css">
                                .errorlist {
                                    color: red;
                                }
                            </style>



                                <div class="col-lg-12 col-md-12">
                                    {{ news_form.email }}
                                    {{ news_form.email.errors }}
                                </div>

                                <br>



                                <div class="col-lg-12 col-md-12">
                                    <button class="btn btn-outline btn-warning  dim" type="submit" style="width: 180px;">Submit<i
                                        class="fa fa-long-arrow-right"></i> </button>

                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>




<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- Popper JS -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'assets/js/plugins.js' %}"></script>
<!-- Ajax Mail -->
<script src="{% static 'assets/js/ajax-mail.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>

<script src="{% static 'toaster/js/toastr.min.js' %}"></script>

<!-- Sweet alert -->
<script src="{% static 'sweetalert/js/sweetalert.min.js' %}"></script>




{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <script type="text/javascript">
                $(document).ready(function () {
                  swal({
                    title: "Alert!",
                    text: "{{ message }}",
                    type: "error"
                  });
                });
              </script>
        {% else %}
            <script type="text/javascript">
                $(document).ready(function () {
                    setTimeout(function () {
                        toastr.options = {
                            closeButton: true,
                            progressBar: true,
                            showMethod: 'slideDown',
                            timeOut: 12000
                        };
                        toastr.success('', '{{ message }}');

                    }, 1300);
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
$(document).ready(function(){
  $('.dropdown-submenu a.test').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});
</script>

{% block scripts %}

{% endblock %}

</body>

</html>