{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}


{% block content %}
<div class="slider-area">
    <div class="slider-active owl-carousel">
        {% for item in header_sliders %}
        <div class="single-slider slider-height-1 bg-img" 
        {% if item.background_image %}
            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                {% thumbnail item.background_image "1920x700" as im %}
                style="background-image:url('{{ im.url }}');"
                {% endthumbnail %}
            {% else %}
                {% thumbnail item.background_image "1920x700" format="WEBP" as im %}
                style="background-image:url('{{ im.url }}');"
                {% endthumbnail %}
            {% endif %}
        {% else %}
            style="background-image:url({% static 'assets/img/slider/slider-1.jpg' %});"
        {% endif %}>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-7 col-12 col-sm-12">
                        <div class="slider-content slider-animated-1 pt-230">
                            <h1 class="animated">{{ item.header_text }}</h1>
                            <p class="animated">{{ item.description|safe }} </p>
                            <div class="slider-btn">
                                <a class="animated default-btn btn-green-color" href="{% url 'about_us:about_ankr' %}">ABOUT US</a>
                                <a class="animated default-btn btn-white-color" href="{% url 'contact_us:contact_us_form' %}">CONTACT US</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-single-img slider-animated-1">
                {% if item.display_image %}
                    {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                        {% thumbnail item.display_image "500x700" format="PNG" as im %}
                        <img class="animated" src="{{ im.url }}" alt="Header Display Image" title="Header Display Image">
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail item.display_image "500x700" format="WEBP" as im %}
                        <img class="animated" src="{{ im.url }}" alt="Header Display Image" title="Header Display Image">
                        {% endthumbnail %}
                    {% endif %}

                {% else %}
                    <img class="animated" src="{% static 'assets/img/slider/single-slide-1.png' %}
                        " alt="Header Display Image" title="Header Display Image">
                {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="choose-us section-padding-1">
    <div class="container-fluid">
        <div class="row no-gutters choose-negative-mrg">
            <div class="col-lg-3 col-md-6">
                <div class="single-choose-us choose-bg-light-blue">
                    <div class="choose-img">
                    {% if landing.scholarship_image_1 %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail landing.scholarship_image_1 "60x67" format="PNG" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ landing.scholarship_heading_1 }}" title="{{ landing.scholarship_heading_1 }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail landing.scholarship_image_1 "60x67" format="WEBP" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ landing.scholarship_heading_1 }}" title="{{ landing.scholarship_heading_1 }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img class="animated" src="{% static 'assets/img/icon-img/service-1.png' %}" alt="{{ landing.scholarship_heading_1 }}" title="{{ landing.scholarship_heading_1 }}">
                    {% endif %}
                    </div>
                    <div class="choose-content">
                        <h3>{{ landing.scholarship_heading_1 }}</h3>
                        {{ landing.scholarship_text_1|safe }}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-choose-us choose-bg-yellow">
                    <div class="choose-img">
                    {% if landing.scholarship_image_2 %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail landing.scholarship_image_2 "60x67" format="PNG" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ landing.scholarship_heading_2 }}" title="{{ landing.scholarship_heading_2 }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail landing.scholarship_image_2 "60x67" format="WEBP" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ landing.scholarship_heading_2 }}" title="{{ landing.scholarship_heading_2 }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img class="animated" src="{% static 'assets/img/icon-img/service-1.png' %}" alt="{{ landing.scholarship_heading_2 }}" title="{{ landing.scholarship_heading_2 }}">
                    {% endif %}
                    </div>
                    <div class="choose-content">
                        <h3>{{ landing.scholarship_heading_2 }}</h3>
                        {{ landing.scholarship_text_2|safe }}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-choose-us choose-bg-blue">
                    <div class="choose-img">
                    {% if landing.scholarship_image_3 %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail landing.scholarship_image_3 "60x67" format="PNG" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ landing.scholarship_heading_3 }}" title="{{ landing.scholarship_heading_3 }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail landing.scholarship_image_3 "60x67" format="WEBP" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ landing.scholarship_heading_3 }}" title="{{ landing.scholarship_heading_3 }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img class="animated" src="{% static 'assets/img/icon-img/service-1.png' %}" alt="{{ landing.scholarship_heading_3 }}" title="{{ landing.scholarship_heading_3 }}">
                    {% endif %}
                    </div>
                    <div class="choose-content">
                        <h3>{{ landing.scholarship_heading_3 }}</h3>
                        {{ landing.scholarship_text_3|safe }}
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-choose-us choose-bg-green">
                    <div class="choose-img">
                    {% if landing.scholarship_image_4 %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail landing.scholarship_image_4 "60x67" format="PNG" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ landing.scholarship_heading_4 }}" title="{{ landing.scholarship_heading_4 }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail landing.scholarship_image_4 "60x67" format="WEBP" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ landing.scholarship_heading_4 }}" title="{{ landing.scholarship_heading_4 }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img class="animated" src="{% static 'assets/img/icon-img/service-1.png' %}" alt="{{ landing.scholarship_heading_4 }}" title="{{ landing.scholarship_heading_4 }}">
                    {% endif %}
                    </div>
                    <div class="choose-content">
                        <h3>{{ landing.scholarship_heading_4 }}</h3>
                        {{ landing.scholarship_text_4|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-us pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="about-content">
                    <div class="section-title section-title-green mb-30">
                        <h2>About <span>Us</span></h2>
                        
                    </div>
                    <p>{{ about.about_description|safe|striptags|truncatewords:"165" }}</p>
                    <div class="about-btn mt-45">
                        <a class="default-btn" href="{% url 'about_us:about_ankr' %}">ABOUT US</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about-img default-overlay">
                {% if about.image %}
                    {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                        {% thumbnail about.image "550x360" as im %}
                        <img src="{{ im.url }}" alt="About Image" title="About Image">
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail about.image "550x360" format="WEBP" as im %}
                        <img src="{{ im.url }}" alt="About Image" title="About Image">
                        {% endthumbnail %}
                    {% endif %}
                {% else %}
                    <img src="{% static 'assets/img/banner/banner-1.jpg' %}" alt="About Image" title="About Image">
                {% endif %}

                {% if about.about_video_link_in_landing %}
                    <a class="video-btn video-popup" href="{{ about.about_video_link_in_landing }}">
                        <img class="animated" src="{% static 'assets/img/icon-img/video.png' %}" alt="Youtube Image" title="Youtube Image"> 
                    </a>
                {% else %}
                  <a class="video-btn video-popup" href="https://www.youtube.com/watch?v=vSrrT1g4lG0">
                        <img class="animated" src="{% static 'assets/img/icon-img/video.png' %}" alt="Youtube Image" title="Youtube Image"> 
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="choose-area bg-img" 
    {% if about.scholar_background %}
        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
            {% thumbnail about.scholar_background "1600x1000" as im %}
            style="background-image:url('{{ im.url }}');"
            {% endthumbnail %}
        {% else %}
            {% thumbnail about.scholar_background "1600x1000" format="WEBP" as im %}
            style="background-image:url('{{ im.url }}');"
            {% endthumbnail %}
        {% endif %}
    {% else %}
        style="background-image:url({% static 'assets/img/bg/bg-8.jpg' %});"
    {% endif %}
            >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-chose-us pt-120">


                                <div class="container text-center my-3">
                                    <h2 class="font-weight-light">Our Services</h2>
                                    <div class="row mx-auto my-auto">
                                        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                                            <div class="carousel-inner w-100" role="listbox">
                                            {% for item in skills_list %}
                                                <div {% if forloop.first %}class="carousel-item active"{% else %} class="carousel-item" {% endif %}>
                                                    <div class="col-md-4 mb-4">

                                                    <h2 class="my-5 h2">{{ item.name }}</h2>

                                                    {% if item.image %}
                                                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                            {% thumbnail item.image "200x200" as im %}
                                                            <img class="rounded-circle" alt="{{ item.service_name }}" title="{{ item.service_name }}" height="200" width="200" src="{{ im.url }}" data-holder-rendered="true">
                                                            {% endthumbnail %}
                                                        {% else %}
                                                            {% thumbnail item.image "200x200" format="WEBP" as im %}
                                                            <img class="rounded-circle" alt="{{ item.service_name }}" title="{{ item.service_name }}" height="200" width="200" src="{{ im.url }}" data-holder-rendered="true">
                                                            {% endthumbnail %}
                                                        {% endif %}
                                                    {% else %}
                                                        <img class="rounded-circle" alt="{{ item.service_name }}" title="{{ item.service_name }}" height="200" width="200" src="{% static 'default_image.jpg' %}" data-holder-rendered="true">
                                                    {% endif %}

                                                    <hr style="border-style: dotted;margin-bottom: 5px;color: #000000;" />
                                                    <hr style="margin-top: 10px;color: #000000;">

                                                    <p>{{ item.text|safe|striptags|truncatewords:"25" }}</p>
                                                    {% if item.button_name %}
                                                    <a href="{{ item.button_url }}" class="btn btn-outline-secondary btn-sm">{{ item.button_name }}</a>
                                                    {% endif %}

                                                  </div>
                                                </div>
                                            {% endfor %}
                                                
                                            </div>
                                            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                </div>
            </div>
        </div>
    </div>
</div>



{% if course_list %}
<div class="course-area bg-img pt-130 pb-10" 
    {% if landing.course_background %}
        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
            {% thumbnail landing.course_background "1900x900" as im %}
            style="background-image:url('{{ im.url }}');"
            {% endthumbnail %}
        {% else %}
            {% thumbnail landing.course_background "1900x900" format="WEBP" as im %}
            style="background-image:url('{{ im.url }}');"
            {% endthumbnail %}
        {% endif %}
    {% else %}
        style="background-image:url({% static 'assets/img/bg/bg-1.jpg' %});"
    {% endif %}>

    <div class="container">
        <div class="section-title mb-75">
            <h2> <span>{{ landing.course_heading|make_list|slice:':3'|join:'' }}</span> {{ landing.course_heading|make_list|slice:'3:'|join:'' }}</h2>

            {{ landing.course_sub_heading|safe }}
        </div>
        <div class="course-slider-active nav-style-1 owl-carousel">
            {% for item in course_list %}
            <div class="single-course" style="margin-right: 20px;margin-bottom: 80px;">
                <div class="course-img">
                    <a href="{% url 'courses:course_details' course_slug=item.slug %}">
                    {% if item.image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.image "290x270" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.image "290x270" format="WEBP" as im %}
                            <img class="animated" src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img class="animated" src="{% static 'assets/img/course/course-1.jpg' %}" alt="{{ item.name }}" title="{{ item.name }}">
                    {% endif %}
                    </a>
                    {% if item.action_text %}
                    <span>{{ item.action_text }}</span>{% endif %}
                </div>
                <div class="course-content">
                    <h4><a href="{% url 'courses:course_details' course_slug=item.slug %}">{{ item.name }}</a></h4>
                    {{ item.description|safe }}
                </div>
                <div class="course-position-content">
                    <div class="credit-duration-wrap">
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Price : INR <del>{{ item.course_price }}</del></span>
                                </div>
                                <div class="sin-credit-duration">
                                    <i class="fa fa-inr"></i>
                                    <span>Discounted Price : {{ item.course_total }}</span>
                                </div>
                                
                            </div>
                            <div class="credit-duration-wrap">
                                
                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Duration : {{ item.duration }}</span>
                                </div>

                                <div class="sin-credit-duration">
                                    <i class="fa fa-clock-o"></i>
                                    <span>Mode : {{ item.mode_of_delivery }}</span>
                                </div>
                            </div>
                    <div class="course-btn">
                    {% if user in item.subscribed_users.all %}
                            <a class="applied-btn" href="#">Already Applied</a>
                    {% elif item.course_in_demo.all and user.user_demo_items.all %}
                        <a class="cart-btn" href="{% url 'ecommerce_cart:cart_view' %}">GO TO CART</a>
                    {% else %}
                        <a class="default-btn" href="{% url 'ecommerce_cart:add_to_cart' course_id=item.id %}">ADD TO CART</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}


<div class="achievement-area pt-130 pb-115">
    <div class="container">
        <div class="section-title mb-75">
            <h2>{{ landing.achievement_heading|make_list|slice:':3'|join:'' }} <span>{{ landing.achievement_heading|make_list|slice:'3:'|join:'' }}</span></h2>
            
            {{ landing.achievement_sub_heading|safe }}
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-one">
                    <div class="count-img">
                        <img src="{% static 'assets/img/icon-img/achieve-2.png' %}" alt="Student Icon" title="Student Icon">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{ landing.achievement_count_1 }}</h2>
                        <span>{{ landing.achievement_text_1 }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-two">
                    <div class="count-img">
                        <img src="{% static 'assets/img/icon-img/achieve-1.png' %}" alt="Course Count" title="Course Count">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{ landing.achievement_count_2 }}</h2>
                        <span>{{ landing.achievement_text_2 }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-three">
                    <div class="count-img">
                        <img src="{% static 'assets/img/icon-img/achieve-3.png' %}" alt="Recommendation Count" title="Recommendation Count">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{ landing.achievement_count_3 }}</h2>
                        <span>{{ landing.achievement_text_3 }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
                <div class="single-count mb-30 count-four">
                    <div class="count-img">
                        <img src="{% static 'assets/img/icon-img/achieve-4.png' %}" alt="Faculties Count" title="Faculties Count">
                    </div>
                    <div class="count-content">
                        <h2 class="count">{{ landing.achievement_count_4 }}</h2>
                        <span>{{ landing.achievement_text_4 }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-slider-wrap mt-45">
            <div class="testimonial-text-slider">
            {% for item in review_list %}
                <div class="testi-content-wrap">
                    <div class="testi-big-img">
                    {% if item.client_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.client_image "580x450" as im %}
                            <img alt="{{ item.name }}" src="{{ im.url }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.client_image "580x450" format="WEBP" as im %}
                            <img alt="{{ item.name }}" src="{{ im.url }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img alt="{{ item.name }}" src="{% static 'assets/img/testimonial/testi-b1.jpg' %}" title="{{ item.name }}">
                    {% endif %}
                    </div>
                   <div class="row no-gutters">
                       <div class="ml-auto col-lg-6 col-md-12">
                           <div class="testi-content bg-img default-overlay" 
                            {% if item.background_image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail item.background_image "580x450" format="PNG" as im %}
                                    style="background-image:url('{{ im.url }}');"
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.background_image "580x450" format="WEBP" as im %}
                                    style="background-image:url('{{ im.url }}');"
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                style="background-image:url({% static 'assets/img/bg/testi.png' %});"
                            {% endif %}
                                    >
                                <div class="quote-style quote-left">
                                   <i class="fa fa-quote-left"></i>
                                </div>
                                {{ item.review|safe }}
                                <div class="testi-info">
                                   <h5>{{ item.name }}</h5>
                                  <!--  <span>Students Of AMMT Department</span> -->
                                </div>
                                <div class="quote-style quote-right">
                                   <i class="fa fa-quote-right"></i>
                                </div>
                                <div class="testi-arrow">
                                    <img alt="Arrow Image" src="{% static 'assets/img/icon-img/testi-icon.png' %}" title="Arrow Image">
                                </div>
                           </div>
                       </div>
                   </div>
                </div>
            {% endfor %}
            </div>
            <div class="testimonial-image-slider">
                {% for item in review_list %}
                <div class="sin-testi-image">
                    {% if item.client_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                            {% thumbnail item.client_image "120x100" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.client_image "120x100" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/testimonial/testi-s2.jpg' %}" alt="{{ item.name }}" title="{{ item.name }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="testimonial-text-img">
            <img alt="People Image" src="{% static 'assets/img/icon-img/testi-text.png' %}" title="People Image">
        </div>
    </div>
</div>

{% if video_list %}
<div class="course-area bg-img pt-130" style="padding-top: 2px;">
    <div class="container">
        <div class="section-title mb-75 course-mrg-small">
            <h2> <span>Testimonial</span> Videos</h2>
            
        </div>
        <div class="course-slider-active-3">
        {% for item in video_list %}
            <div class="single-course" style="padding-right: 8px;">
                <div class="course-img">
                    <a href="#">
                        
                        {% video item.youtube_video_link as my_video %}
                        <iframe width="100%" height="40%" src="{{ my_video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endvideo %}
                    </a>
                </div>

            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<div class="teacher-area pt-130 pb-100" {% if landing.course_background %}
        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
            {% thumbnail landing.course_background "1900x900" as im %}
            style="background-image:url('{{ im.url }}');"
            {% endthumbnail %}
        {% else %}
            {% thumbnail landing.course_background "1900x900" format="WEBP" as im %}
            style="background-image:url('{{ im.url }}');"
            {% endthumbnail %}
        {% endif %}
    {% else %}
        style="background-image:url({% static 'assets/img/bg/bg-1.jpg' %});"
    {% endif %}>
    <div class="container">
        <div class="section-title mb-75">
            <h2>{{ landing.teacher_heading|make_list|slice:':3'|join:'' }} <span>{{ landing.teacher_heading|make_list|slice:'3:'|join:'' }}</span></h2>

            {{ landing.teacher_sub_heading|safe }}
        </div>
        <div class="custom-row">
        {% for item in trainers_list %}
            <div class="custom-col-5" onclick="showModal('{{ item.id }}','{{ item.name }}','{{ item.description|safe }}','{{ item.past_experience|safe }}')">
                <div class="single-teacher mb-30">
                    <div class="teacher-img">
                        {% if item.image %}
                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                {% thumbnail item.image "200x250" as im %}
                                <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail item.image "200x250" format="WEBP" as im %}
                                <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                                {% endthumbnail %}
                            {% endif %}
                        {% else %}
                            <img src="{% static 'assets/img/teacher/teacher-1.jpg' %}" alt="{{ item.name }}" title="{{ item.name }}">
                        {% endif %}
                    </div>
                    <div class="teacher-content-visible">
                        <h4>{{ item.name }}</h4>
                        <h5>{{ item.designation }}</h5>
                    </div>
                    <div class="teacher-content-wrap">
                        <div class="teacher-content">
                            <h4>{{ item.name }}</h4>
                            <h5>{{ item.designation }}</h5>
                            {% if item.description %}
                                {{ item.description|safe }}
                            {% endif %}
                            <div class="teacher-social">
                                <ul>
                                {% if item.facebook_link %}
                                    <li><a class="facebook" href="{{ item.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                {% endif %}
                                {% if item.youtube_link %}
                                    <li><a class="youtube-play" href="{{ item.youtube_link }}" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                                {% endif %}
                                {% if item.twitter_link %}
                                    <li><a class="twitter" href="{{ item.youtube_link }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                {% endif %}

                                {% if item.google_link %}
                                    <li><a class="google-plus" href="{{ item.youtube_link }}" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div class="blog-event-area pt-130 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title-3 mb-45 mrg-bottom-small">
                    <h2>Our <span>Blog</span></h2>
                </div>
                <div class="blog-active">
                {% for item in blog_list %}
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">
                            {% if item.blog_image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
                                    {% thumbnail item.blog_image "260x200" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.blog_title }}" title="{{ item.blog_title }}">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.blog_image "260x200" format="WEBP" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.blog_title }}" title="{{ item.blog_title }}">
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="{{ item.blog_title }}" title="{{ item.blog_title }}">
                            {% endif %}

                            </a>
                        </div>
                        <div class="blog-content-wrap">
                            <span>{{ item.category.title }}</span>
                            <div class="blog-content">
                                <h4><a href="{% url 'blog:blogdetail' blog_slug=item.slug %}">{{ item.blog_title }}</a></h4>
                                {{ item.description|safe|truncatewords:"10" }}
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> {{ item.blogs_comment.count }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-date">
                                <a href="#"><i class="fa fa-calendar-o"></i> {{ item.date|date }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-title-3 mb-45 ml-70">
                    <h2><span>Up Coming</span> Event</h2>
                    <p>List Of Some Of Our Upcoming Events </p>
                </div>
                <div class="event-active-2 ml-70">
                {% for item in upcoming_events %}
                    <div class="single-event single-event-2">
                        <div class="event-img">
                            <a href="{% url 'events:event-details' event_slug=item.slug %}">
                            {% if item.event_image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail item.event_image "480x200" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.event_name }}" title="{{ item.event_name }}">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.event_image "480x200" format="WEBP" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.event_name }}" title="{{ item.event_name }}">
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                <img src="{% static 'assets/img/event/event-4.jpg' %}" alt="{{ item.event_name }}" title="{{ item.event_name }}">
                            {% endif %}
                            </a>
                            <div class="event-date-wrap">
                                <span class="event-date">{{ item.event_date|date:"d" }}</span>
                                <span>{{ item.event_date|date:"M" }}</span>
                            </div>
                        </div>
                        <div class="event-content">
                            <h3><a href="{% url 'events:event-details' event_slug=item.slug %}">{{ item.event_name }}</a></h3>
                            {{ item.event_description|safe|truncatewords:"10" }}
                            <div class="event-meta-wrap">
                            {% if item.place_of_event %}
                                <div class="event-meta">
                                    <i class="fa fa-location-arrow"></i>
                                    <span>{{ item.place_of_event }}</span>
                                </div>
                            {% endif %}
                                <div class="event-meta">
                                    <i class="fa fa-clock-o"></i>
                                    <span>{{ item.event_date|date:"g" }}:{{ item.event_date|date:"i" }} {{ item.event_date|date:"A" }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>
                <a class="default-btn" href="{% url 'events:all_events' %}" style="margin-left: 200px;">View All</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="brand-logo-area pb-130">
    <div class="container">
    <div class="section-title mb-75">
            <h2>Our <span>Students</span></h2>
            <p>Working in leading Companies </p>
        </div>
        {% if not client_list %}
            <div class="course-slider-active-5 owl-carousel">
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/1.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/2.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/3.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/4.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/5.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/6.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/2.png' %}" alt=""></a>
                </div>
            </div>
        {% else %}
            <div class="brand-logo-active owl-carousel">
                {% for item in client_list %}
                <div class="single-brand-logo">
                    <a href="#">
                    {% if item.logo_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
                            {% thumbnail item.logo_image "78x84" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.logo_image "78x84" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}" title="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/brand-logo/1.png' %}" alt="{{ item.name }}" title="{{ item.name }}">
                    {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>




<div class="modal inmodal" id="trainers_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h1 id="myModalTitle">Trainers Name</h1>
            </div>
            <div class="modal-body" id="myModalBody">
                <h3>Descriptions</h3>
                <div id="myModalParagraph"></div>
                <br>
                <hr>
                <h3>Past Experience</h3>
                <div id="myModalParagraphExperience"></div>
                        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}

{% if opening_modal %}
<script>
    $(document).ready(function(){
        $("#media_modal").modal('show');

    });
</script>
{% endif %}

<script type="text/javascript">
function showModal(id ,myTitle, myBodyHtml, myExp) {
    var number = parseInt(id)

    $('#myModalTitle').empty().html(myTitle).end();

    $('#myModalBody #myModalParagraph').empty().html(myBodyHtml).end();

    $('#myModalBody #myModalParagraphExperience').empty().html(myExp).end();

    $('#trainers_modal').modal('show');
}
</script>

<script type="text/javascript">
    $('#recipeCarousel').carousel({
          interval: 10000
        })

        $('.carousel .carousel-item').each(function(){
            var minPerSlide = 3;
            var next = $(this).next();
            if (!next.length) {
            next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
            
            for (var i=0;i<minPerSlide;i++) {
                next=next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                
                next.children(':first-child').clone().appendTo($(this));
              }
        });

</script>
{% endblock %}