{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Privacy Policy {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Privacy Policy</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a>  <span><i class="fa fa-angle-double-right"></i>Privacy Policy</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog-details-wrap mr-40">
                    <div class="blog-details-top">
                        <div class="blog-details-content-wrap">


                            {{ privacy_details.text|safe }}


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}