{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} {{ event_details.event_name }} {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>{{ event_details.event_name }}</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p> -->
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i><a href="{% url 'events:all_events' %}">All Events</a></span> <span><i class="fa fa-angle-double-right"></i>{{ event_details.event_name }}</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="event-details-area pt-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-1 col-xl-2">
                
            </div>
            <div class="col-xl-9 col-lg-8">
                <div class="event-left-wrap mr-40">
                    <div class="event-description">
                        <div class="description-date-social mb-45">
                            <div class="description-date-time">
                                <div class="description-date">
                                    <span class="event-date">{{ event_details.event_date|date:"d" }}</span>
                                    <span>{{ event_details.event_date|date:"M" }}</span>
                                </div>
                                <div class="description-meta-wrap">
                                {% if event_details.place_of_event %}
                                    <div class="description-meta">
                                        <i class="fa fa-location-arrow"></i>
                                        <span>{{ event_details.place_of_event }}</span>
                                    </div>
                                {% endif %}
                                    <div class="description-meta">
                                        <i class="fa fa-clock-o"></i>
                                        <span>{{ event_details.event_date|date:"g" }}:{{ event_details.event_date|date:"i" }} {{ event_details.event_date|date:"A" }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="description-social-wrap">
                                <div class="description-social">
                                    <ul>
                                    {% if event_details.facebook_link %}
                                        <li><a class="facebook" href="{{ event_details.facebook_link }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    {% endif %}

                                    {% if event_details.instagram_link %}
                                        <li><a class="instagram" href="{{ event_details.instagram_link }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    {% endif %}

                                    {% if event_details.google_link %}
                                        <li><a class="google" href="{{ event_details.google_link }}"><i class="fa fa-google-plus"></i></a></li>
                                    {% endif %}
                                    </ul>
                                </div>
                                <!-- <div class="description-btn">
                                    <a href="#"><i class="fa fa-share-alt"></i></a>
                                </div> -->
                            </div>
                        </div>
                        {% if event_details.event_image %}
                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                {% thumbnail event_details.event_image "830x320" as im %}
                                <img src="{{ im.url }}" alt="{{ event_details.event_name }}">
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail event_details.event_image "830x320" format="WEBP" as im %}
                                <img src="{{ im.url }}" alt="{{ event_details.event_name }}">
                                {% endthumbnail %}
                            {% endif %}
                        {% else %}
                            <img src="{% static 'assets/img/event/event-4.jpg' %}" alt="{{ event_details.event_name }}">
                        {% endif %}


                        <h3>{{ event_details.event_name }}</h3>
                        {{ event_details.event_description|safe }}

                         <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8">
                                <div class="course-tab-list nav pt-10 pb-10 mb-35">
                                {% for item in tab_list %}
                                    <a {% if forloop.first %}class="active"{% endif %} href="#{{ item.slug }}" data-toggle="tab" >
                                        <h4>{{ item.name }}</h4>
                                    </a>
                                {% endfor %}
                                </div>
                                <div class="tab-content jump">
                                {% for item in tab_list %}
                                    <div class="tab-pane active" id="{{ item.slug }}">
                                        <div class="over-view-content">
                                            {{ item.text|safe }}
                                            
                                        </div>
                                    </div>
                                {% endfor %}

                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-4">
                                <div class="sidebar-category mb-40">
                                    <div class="sidebar-title mb-40">
                                        <h4>Course Categorys</h4>
                                    </div>
                                    <div class="category-list">
                                        <ul>
                                            {% for item in category_list %}
                                                <li><a href="{% url 'courses:course_category_details' category_slug=item.slug %}">{{ item.name }}<span>{{ item.get_courses_count }}</span></a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="text-center">
                            <a href="{% url 'events:events_enquiry' event_slug=event_details.slug %}" class="btn btn-success">Enquire Now</a>
                        </div>
                    <br>
                    <br>
                    

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}