{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block title %} All Events {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>All Events</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore .</p> -->
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>All Events</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="event-area pt-130 pb-130">
    <div class="container">
        <div class="row">
        {% for item in event_list %}
            <div class="col-lg-4 col-md-6">
                <div class="single-event mb-55 event-gray-bg">
                    <div class="event-img">
                        <a href="{% url 'events:event-details' event_slug=item.slug %}">
                            {% if item.event_image %}
                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                    {% thumbnail item.event_image "370x227" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.event_name }}">
                                    {% endthumbnail %}
                                {% else %}
                                    {% thumbnail item.event_image "370x227" format="WEBP" as im %}
                                    <img src="{{ im.url }}" alt="{{ item.event_name }}">
                                    {% endthumbnail %}
                                {% endif %}
                            {% else %}
                                <img src="{% static 'assets/img/event/event-4.jpg' %}" alt="{{ item.event_name }}">
                            {% endif %}
                        </a>
                        <div class="event-date-wrap">
                            <span class="event-date">{{ item.event_date|date:"d" }}</span>
                            <span>{{ item.event_date|date:"M" }}</span>
                        </div>
                    </div>
                    <div class="event-content">
                        <h3><a href="{% url 'events:event-details' event_slug=item.slug %}">{{ item.event_name }}</a></h3>
                        {{ item.event_description|safe|truncatewords:"10" }}
                        <div class="event-meta-wrap">
                            <div class="event-meta">
                                <i class="fa fa-location-arrow"></i>
                                <span>{{ item.place_of_event }}</span>
                            </div>
                            <div class="event-meta">
                                <i class="fa fa-clock-o"></i>
                                <span>{{ item.event_date|date:"g" }}:{{ item.event_date|date:"i" }} {{ item.event_date|date:"A" }}</span>
                            </div>
                        </div>
                        
                        {% if item.button_url %}
                        <br>
                        <div class="text-center">
                            <a href="{{ item.button_url }}" class="btn btn-success">{{ item.button_name }}</a>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        {% endfor %}
            
        </div>


        {% if is_paginated %}
            <div class="pro-pagination-style text-center mt-25">
                <ul>
                {% if page_obj.has_previous %}
                    <li><a class="prev" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li><a class="active" href="#">{{ i }}</a></li>
                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a class="next" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}