{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Enquiry {% endblock %}

{% block content %}


<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-5 pt-100 pb-95" 
    	{% if contact_background.image %}
    		{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
    			{% thumbnail contact_background.image "1900x330" as im %}
    			style="background-image:url('{{ im.url }}');"
    			{% endthumbnail %}
    		{% else %}
    			{% thumbnail contact_background.image "1900x330" format="WEBP" as im %}
    			style="background-image:url('{{ im.url }}');"
    			{% endthumbnail %}
    		{% endif %}
    	{% else %}
    		style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});"
    	{% endif %}
    			>
        <div class="container">
            <h2>Enquiry For {{ events_details.event_name }}</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>Enquiry For {{ events_details.event_name }}</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-area pt-130 pb-130">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2">
                <!-- <div class="contact-map mr-70">
                    <div id="map"></div>
                </div> -->
            </div>

            <div class="col-lg-8">
                <div class="contact-form">
                    <div class="contact-title mb-45">
                        <h2>Enquiry For <span>{{ events_details.event_name }}</span></h2>
                    </div>
                    <form method="POST">
                    	{% csrf_token %}

                    	
                        {{ form.name }}
                         {{ form.name.errors }}

                        {{ form.email }}
                         {{ form.email.errors }}

                         {{ form.phone_no }}
                          {{ form.phone_no.errors }}

                        {{ form.subject }}
                         {{ form.subject.errors }}

                        {{ form.message }}
                                    {{ form.message.errors }}
                        <button class="submit btn-style" type="submit">SEND MESSAGE</button>
                    </form>
                </div>
            </div>

            <div class="col-lg-2">
                <!-- <div class="contact-map mr-70">
                    <div id="map"></div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="contact-info-area bg-img pt-180 pb-140 default-overlay" 
        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
            style="background-image:url({% static 'assets/img/bg/contact-info.jpg' %});"
        {% else %}
            style="background-image:url({% static 'assets/img/bg/contact-info.webp' %});"
        {% endif %}
        >
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-contact-info mb-30 text-center">
                    <div class="contact-info-icon">
                        <span><i class="fa fa-calendar-o"></i></span>
                    </div>
                    <p>{{ common_info.address|safe|striptags }}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-contact-info mb-30 text-center">
                    <div class="contact-info-icon">
                        <span><i class="fa fa-calendar-o"></i></span>
                    </div>
                    <div class="contact-info-phn">
                        <div class="info-phn-title">
                            <span>Phone : </span>
                        </div>
                        <div class="info-phn-number">
                            <p>{{ common_info.phone_no }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="single-contact-info mb-30 text-center">
                    <div class="contact-info-icon">
                        <span><i class="fa fa-calendar-o"></i></span>
                    </div>
                    <a href="mailto:{{ common_info.email }}">{{ common_info.email }}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<div class="brand-logo-area pb-130">
    <div class="container">
    <div class="section-title mb-75">
            <h2>Our <span>Students</span></h2>
            <p>Working in leading Companies </p>
        </div>
        {% if not client_list %}
            <div class="brand-logo-active owl-carousel">
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/1.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/2.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/3.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/4.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/5.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/6.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/2.png' %}" alt=""></a>
                </div>
            </div>
        {% else %}
            <div class="brand-logo-active owl-carousel">
                {% for item in client_list %}
                <div class="single-brand-logo">
                    <a href="#">
                    {% if item.logo_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
                            {% thumbnail item.logo_image "78x84" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.logo_image "78x84" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/brand-logo/1.png' %}" alt="{{ item.name }}">
                    {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}