{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} About Us {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img pt-100 pb-95" 
    	{% if about.background_image %}
    		{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
    			{% thumbnail about.background_image "1900x330" as im %}
    			style="background-image:url('{{ im.url }}');"
    			{% endthumbnail %}
    		{% else %}
    			{% thumbnail about.background_image "1900x330" format="WEBP" as im %}
    			style="background-image:url('{{ im.url }}');"
    			{% endthumbnail %}
    		{% endif %}
    	{% else %}
    		style="background-image:url({% static 'assets/img/bg/breadcrumb-bg.jpg' %});"
    	{% endif %}
    		>
        <div class="container">
            <h2>About Us</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i> About Page</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="event-area pt-130 pb-130">
	<div class="container">

        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="blog-details-wrap mr-40">
                    {{ about.about_description|safe }}
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="blog-details-wrap mr-40">
                {% if about.about_image %}
                    {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                        {% thumbnail about.about_image "500x500" as im %}
                        <img class="animated" src="{{ im.url }}" alt="Owner Image" title="Owner Image">
                        {% endthumbnail %}
                    {% else %}
                        {% thumbnail about.about_image "500x500" format="WEBP" as im %}
                        <img class="animated" src="{{ im.url }}" alt="Owner Image" title="Owner Image">
                        {% endthumbnail %}
                    {% endif %}
                {% else %}
                    <img class="animated" src="{% static 'assets/img/course/course-1.jpg' %}" alt="Owner Image" title="Owner Image">
                {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>



<div class="choose-area bg-img" 
	{% if about.scholar_background %}
		{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
			{% thumbnail about.scholar_background "1600x1000" as im %}
			style="background-image:url('{{ im.url }}');"
			{% endthumbnail %}
		{% else %}
			{% thumbnail about.scholar_background "1600x1000" format="WEBP" as im %}
			style="background-image:url('{{ im.url }}');"
			{% endthumbnail %}
		{% endif %}
	{% else %}
		style="background-image:url({% static 'assets/img/bg/bg-8.jpg' %});"
	{% endif %}
			>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="about-chose-us pt-120">


                                <div class="container text-center my-3">
                                    <h2 class="font-weight-light">Our Services</h2>
                                    <div class="row mx-auto my-auto">
                                        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                                            <div class="carousel-inner w-100" role="listbox">
                                            {% for item in skills_list %}
                                                <div {% if forloop.first %}class="carousel-item active"{% else %} class="carousel-item" {% endif %}>
                                                    <div class="col-md-4 mb-4">

                                                    <h2 class="my-5 h2">{{ item.name }}</h2>

                                                    {% if item.image %}
                                                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                            {% thumbnail item.image "200x200" as im %}
                                                            <img class="rounded-circle" alt="{{ item.service_name }}" title="{{ item.service_name }}" height="200" width="200" src="{{ im.url }}" data-holder-rendered="true">
                                                            {% endthumbnail %}
                                                        {% else %}
                                                            {% thumbnail item.image "200x200" format="WEBP" as im %}
                                                            <img class="rounded-circle" alt="{{ item.service_name }}" title="{{ item.service_name }}" height="200" width="200" src="{{ im.url }}" data-holder-rendered="true">
                                                            {% endthumbnail %}
                                                        {% endif %}
                                                    {% else %}
                                                        <img class="rounded-circle" alt="{{ item.service_name }}" title="{{ item.service_name }}" height="200" width="200" src="{% static 'default_image.jpg' %}" data-holder-rendered="true">
                                                    {% endif %}

                                                    <hr style="border-style: dotted;margin-bottom: 5px;color: #000000;" />
                                                    <hr style="margin-top: 10px;color: #000000;">

                                                    <p>{{ item.text|safe|striptags|truncatewords:"25" }}</p>
                                                    {% if item.button_name %}
                                                    <a href="{{ item.button_url }}" class="btn btn-outline-secondary btn-sm">{{ item.button_name }}</a>
                                                    {% endif %}

                                                  </div>
                                                </div>
                                            {% endfor %}
                                                
                                            </div>
                                            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="teacher-area pt-130 pb-100">
    <div class="container">
        <div class="section-title mb-75">
            <h2>{{ landing.teacher_heading|make_list|slice:':3'|join:'' }} <span>{{ landing.teacher_heading|make_list|slice:'3:'|join:'' }}</span></h2>

            {{ landing.teacher_sub_heading|safe }}
        </div>
        <div class="custom-row">
        {% for item in trainers_list %}
            <div class="custom-col-5">
                <div class="single-teacher mb-30">
                    <div class="teacher-img">
                        {% if item.image %}
                            {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                {% thumbnail item.image "200x250" as im %}
                                <img src="{{ im.url }}" alt="{{ item.name }}">
                                {% endthumbnail %}
                            {% else %}
                                {% thumbnail item.image "200x250" format="WEBP" as im %}
                                <img src="{{ im.url }}" alt="{{ item.name }}">
                                {% endthumbnail %}
                            {% endif %}
                        {% else %}
                            <img src="{% static 'assets/img/teacher/teacher-1.jpg' %}" alt="{{ item.name }}">
                        {% endif %}
                    </div>
                    <div class="teacher-content-visible">
                        <h4>{{ item.name }}</h4>
                        <h5>{{ item.designation }}</h5>
                    </div>
                    <div class="teacher-content-wrap">
                        <div class="teacher-content">
                            <h4>{{ item.name }}</h4>
                            <h5>{{ item.designation }}</h5>
                            {% if item.description %}
                                {{ item.description|safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<br>
<br>
<div class="brand-logo-area pb-130">
    <div class="container">
    <div class="section-title mb-75">
            <h2>Our <span>Students</span></h2>
            <p>Working in leading Companies </p>
        </div>
        {% if not client_list %}
            <div class="brand-logo-active owl-carousel">
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/1.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/2.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/3.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/4.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/5.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/6.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/2.png' %}" alt=""></a>
                </div>
            </div>
        {% else %}
            <div class="brand-logo-active owl-carousel">
                {% for item in client_list %}
                <div class="single-brand-logo">
                    <a href="#">
                    {% if item.logo_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
                            {% thumbnail item.logo_image "78x84" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.logo_image "78x84" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/brand-logo/1.png' %}" alt="{{ item.name }}">
                    {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $('#recipeCarousel').carousel({
          interval: 10000
        })

        $('.carousel .carousel-item').each(function(){
            var minPerSlide = 3;
            var next = $(this).next();
            if (!next.length) {
            next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
            
            for (var i=0;i<minPerSlide;i++) {
                next=next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                
                next.children(':first-child').clone().appendTo($(this));
              }
        });

</script>

{% endblock %}