{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Submit Resume {% endblock %}

{% block css %}

<link href="{% static 'select2/css/select2.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Submit Resume</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>Submit Resume</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="cart-main-area pt-130 pb-130" style="padding-top: 5px;">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
				<div class="seat-book-wrap bg-img mt-80 " style="background-image:url({% static 'assets/img/event/seat-book.jpg' %});">
					<div class="seat-book-title text-center">
					    <h3>Submit Your Resume Here</h3>
					    <p> Our Team will get back to you once your application is verified</p>
					</div>
					<div class="seat-book-form">
					    <form method="POST" enctype="multipart/form-data">
					        <div class="row">
					        	{% csrf_token %}
					            <div class="col-lg-6 col-md-6">
					                {{ form.name }}
					                {{ form.name.errors }}
					            </div>
					            <div class="col-lg-6 col-md-6">
					                {{ form.email }}
					                {{ form.email.errors }}
					            </div>
					            <div class="col-lg-6 col-md-6">
					                {{ form.phone_no }}
					                {{ form.phone_no.errors }}
					            </div>
					            <div class="col-lg-6 col-md-6">
					                {{ form.work_experience }}
					                {{ form.work_experience.errors }}
					            </div>
					            <div class="col-lg-6 col-md-6">
					                {{ form.current_ctc }}
					                {{ form.current_ctc.errors }}
					            </div>
					            <div class="col-lg-6 col-md-6">
					                {{ form.expected_ctc }}
					                {{ form.expected_ctc.errors }}
					            </div>

					            <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;">
					            <label style="color: white;"> Your Qualification</label>
					                {{ form.qualification }}
					                {{ form.qualification.errors }}
					            </div>
					            <br>
					            <br>

					            <div class="col-lg-12 col-md-12">
					            	

					                <div class="col-lg-10 col-md-10">
					            			<label style="color: white;"> Are you open to relocate?</label>
					            		</div>
						            	
					            	<div class="col-lg-10 col-md-10">
					            		{{ form.open_to_relocate }}
					                	{{ form.open_to_relocate.errors }}
					            	</div>
					            </div>

				            	<div class="col-lg-12 col-md-12">
				            		<div class="col-lg-10 col-md-10">
				            			<label style="color: white;"> Are you open to work on Secondment basis?</label>
				            		</div>
					            	
					            	<div class="col-lg-10 col-md-10">
					            		{{ form.open_to_work_secondment_basis }}
					                	{{ form.open_to_work_secondment_basis.errors }}
					            	</div>
					                	
					            </div>

						        <div class="col-lg-12" style="margin-bottom: 20px;">
					            	<label style="color: white;"> Select Your Skills</label>
					                {{ form.skills }}
					                {{ form.skills.errors }}
					            </div>

					            <div class="col-lg-12">
					                {{ form.description }}
					                {{ form.description.errors }}
					            </div>
					            <div class="col-lg-12">
					            	<label style="color: white;"> Upload Resume*</label>
					                {{ form.resume }}
					                {{ form.resume.errors }}
					            </div>
					            <div class="col-lg-12">
					                <button class="seat-book-btn" type="submit">SUBMIT NOW</button>
					            </div>
					        </div>
					    </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}

<script src="{% static 'select2/js/select2.full.min.js' %}"></script>

<script>
  $(document).ready(function () {
    $(".select2_demo_3").select2({
      placeholder: "Your Qualification",
      allowClear: true,
      width: '100%'
    });

    $(".select2_demo_4").select2({
      placeholder: "Your Work Experience",
      allowClear: true,
      width: '100%'
    });

    $(".select2_demo_2").select2({
      placeholder: "Select Your Skills",
      allowClear: true,
    });
  });

</script>

{% endblock %}