{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} View All Jobs {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>View All Jobs</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>View All Jobs</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="cart-main-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <h3 class="cart-page-title">View All Jobs</h3>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                 <a class="animated default-btn btn-green-color pull-right" href="{% url 'jobs:submit_resume' %}">Send Resume</a>

            </div>
            </div>
        <br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Company Name</th>
                                    <th>Job Title</th>
                                    <th>Employment Type</th>
                                    <th>Seniority</th>
                                    <th>Apply</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for item in job_list %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#">
                                        {% if item.job_image %}
                                        	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                        		{% thumbnail item.job_image "78x84" as im %}
                                        		<img src="{{ im.url }}" alt="{{ item.company_industry }}">
                                        		{% endthumbnail %}
                                        	{% else %}
                                        		{% thumbnail item.job_image "78x84" format="WEBP" as im %}
                                        		<img src="{{ im.url }}" alt="{{ item.company_industry }}">
                                        		{% endthumbnail %}
                                        	{% endif %}
                                        {% else %}
                                        	<img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.company_industry }}">
                                        {% endif %}
                                        </a>
                                    </td>
                                    <td class="product-name"><a href="#">{{ item.company_industry }}</a></td>
                                    <td class="product-name">{{ item.job_title }}</td>
                                    <td class="product-subtotal">{{ item.employment_type }}</td>
                                    <td class="product-subtotal">{{ item.seniority }}</td>
                                    <td class="product-subtotal">
                                    {% if not user in item.applied_users.all %}
                                        <a href="{% url 'jobs:apply_job' job_pk=item.pk %}" class="btn btn-warning">Apply Now</a>
                                    {% else %}
                                        <button class="btn btn-primary" style="margin-right: 4px;">Already Applied</button>
                                    {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if job_list.has_other_pages %}
                        <div class="pro-pagination-style text-center mt-25">
                            <ul>
                                {% if job_list.has_previous %}
                                <li><a class="prev" href="?page={{ job_list.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
                                {% endif %}

                                {% for i in job_list.paginator.page_range %}
                                    {% if job_list.number == i %}
                                        <li><a class="active" href="#">{{ i }}</a></li>
                                    {% elif i > job_list.number|add:'-3' and i < job_list.number|add:'3' %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if job_list.has_next %}
                                    <li><a class="next" href="?page={{ job_list.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}