{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Cart {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Cart</h2>
            <p>The price and availability of items at ankr.co.in are subject to change. The shopping cart is a temporary place to store a list of your items and reflects each item's most recent price.</p>

			<p>Do you have a promotional code? We'll ask you to enter your claim code when it's time to pay.</p>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>Cart</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="cart-main-area pt-130 pb-130">
    <div class="container">
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Item Name</th>
                                    <th>Valid Till</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Subtotal</th>
                                    <th>action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in existing_orders %}
                                {% if item.course %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="{% url 'courses:course_details' course_slug=item.course.slug %}">
                                            {% if item.course.image %}
                                            	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                            		{% thumbnail item.course.image "82x82" as im %}
                                            		<img src="{{ im.url }}" alt="{{ item.course.name }}">
                                            		{% endthumbnail %}
                                            	{% else %}
                                            		{% thumbnail item.course.image "82x82" format="WEBP" as im %}
                                            		<img src="{{ im.url }}" alt="{{ item.course.name }}">
                                            		{% endthumbnail %}
                                            	{% endif %}
                                            {% else %}
                                            	<img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.course.name }}">
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td class="product-name"><a href="{% url 'courses:course_details' course_slug=item.course.slug %}">{{ item.course.name }}</a></td>
                                        <td class="product-subtotal">{{ item.course.course_valid_till_months }} Months</td>
                                        <td class="product-subtotal">&#8377; {{ item.course.course_price }}</td>
                                        <td class="product-subtotal">{{ item.course.discount }}%</td>
                                        <td class="product-subtotal">&#8377; {{ item.cart_total|floatformat:2 }}
                                        {% if item.coupon_discount != 0 %}
                                        <span class="badge badge-success">(-) &#8377; {{ item.coupon_discount|floatformat:2 }}</span>
                                        {% endif %}
                                        </td>
                                        <td class="product-remove">
                                            <a href="{% url 'ecommerce_cart:delete_item' item_id=item.id  %}" onclick="return confirm('Are you sure you want to delete this item from cart?');"><i class="fa fa-times"></i></a>
                                       </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="{% url 'courses:package_details' package_slug=item.packages.slug %}">
                                            {% if item.packages.image %}
                                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                    {% thumbnail item.packages.image "82x82" as im %}
                                                    <img src="{{ im.url }}" alt="{{ item.packages.package_name }}">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    {% thumbnail item.packages.image "82x82" format="WEBP" as im %}
                                                    <img src="{{ im.url }}" alt="{{ item.packages.package_name }}">
                                                    {% endthumbnail %}
                                                {% endif %}
                                            {% else %}
                                                <img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.packages.package_name }}">
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td class="product-name"><a href="{% url 'courses:package_details' package_slug=item.packages.slug %}">{{ item.packages.package_name }}</a></td>
                                        <td class="product-subtotal">According to courses </td>
                                        <td class="product-subtotal">&#8377; {{ item.packages.package_price }}</td>
                                        <td class="product-subtotal">{{ item.packages.discount }}%</td>
                                        <td class="product-subtotal">&#8377; {{ item.cart_total }}
                                            {% if item.coupon_discount != 0 %}
                                                <span class="badge badge-success">(-) &#8377; {{ item.coupon_discount|floatformat:2 }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="product-remove">
                                            <a href="{% url 'ecommerce_cart:delete_item' item_id=item.id  %}" onclick="return confirm('Are you sure you want to delete this item from cart?');"><i class="fa fa-times"></i></a>
                                       </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <!-- <a href="#">Continue Shopping</a> -->
                                </div>
                                <div class="cart-clear">
                                    <a href="{% url 'ecommerce_cart:clear_items' %}" onclick="return confirm('Are you sure you want to delete all items from cart?');">Clear Shopping Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="discount-code-wrapper">
                            <div class="title-wrap">
                               <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4> 
                            </div>
                            {% if not user_applied_coupon %}
                            <div class="discount-code">
                                <p>Enter your coupon code if you have one.</p>
                                <form>
                                    <input type="text" required="" name="q" value="{{request.GET.q}}">
                                    <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                </form>
                            </div>
                            {% else %}
                            <div class="discount-code">
                                <h5>Applied Coupon : {{ user_applied_coupon.coupon.coupon_code }}</h5>
                                    Discount Percentage = {{ user_applied_coupon.coupon.discount_percentage }} %
                                    <br>
                                    {% if user_applied_coupon.coupon.coupon_type == 'ON SUBTOTAL' %}
                                        Discount :&#8377; {{ coupon_discount }} 
                                    {% else %}
                                        <p><strong>Applied On:</strong></p>
                                        
                                            
                                            <ul class="list-group">
                                            {% for item in existing_orders %}
                                                {% for obj in user_applied_coupon.coupon.courses.all %}
                                                    {% if item.course.id == obj.id %}
                                                      <li class="list-group-item">{{ item.course.name }} - (-) &#8377; {{ item.coupon_discount }}</li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% for dem in user_applied_coupon.coupon.packages.all %}
                                                    {% if item.packages.id == dem.id %}
                                                      <li class="list-group-item">{{ item.packages.package_name }} - (-) &#8377; {{ item.coupon_discount }}</li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                            </ul>
                                    {% endif %}
                                           
                                    <br>
                                    <br>
                                    <a href="{% url 'ecommerce_cart:clear_coupon' coupon_pk=user_applied_coupon.coupon.pk %}" class="btn btn-danger" type="submit">Remove Coupon</a>
                                        
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            <h5>Cart Total <span>&#8377; {{ cart_total }}</span></h5>
                            {% if coupon_discount %}
                                <h5>Coupon Discount({{ user_applied_coupon.coupon.discount_rate }} %) <span>(-) &#8377; {{ coupon_discount }}</span></h5>
                            {% endif %}
                            <h4 class="grand-totall-title">Grand Total  <span>&#8377; {{ grand_total }}</span></h4>
                            <a href="{% url 'ecommerce_cart:check_out' %}">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<div class="brand-logo-area pb-130">
    <div class="container">
    <div class="section-title mb-75">
            <h2>Our <span>Students</span></h2>
            <p>Working in leading Companies </p>
        </div>
        {% if not client_list %}
            <div class="brand-logo-active owl-carousel">
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/1.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/2.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/3.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/4.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/5.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/6.png' %}" alt=""></a>
                </div>
                <div class="single-brand-logo">
                    <a href="#"><img src="{% static 'assets/img/brand-logo/2.png' %}" alt=""></a>
                </div>
            </div>
        {% else %}
            <div class="brand-logo-active owl-carousel">
                {% for item in client_list %}
                <div class="single-brand-logo">
                    <a href="#">
                    {% if item.logo_image %}
                        {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone'  %}
                            {% thumbnail item.logo_image "78x84" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}">
                            {% endthumbnail %}
                        {% else %}
                            {% thumbnail item.logo_image "78x84" format="WEBP" as im %}
                            <img src="{{ im.url }}" alt="{{ item.name }}">
                            {% endthumbnail %}
                        {% endif %}
                    {% else %}
                        <img src="{% static 'assets/img/brand-logo/1.png' %}" alt="{{ item.name }}">
                    {% endif %}
                    </a>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}