{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Check Out {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Cart</h2>
            <p>After you've reviewed the items in your Shopping Cart, you're ready to proceed to checkout and complete your order.</p>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>CheckOut</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="checkout-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Course Name</th>
                                    <th>Valid Till</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in existing_orders %}
                                {% if item.course %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="{% url 'courses:course_details' course_slug=item.course.slug %}">
                                            {% if item.course.image %}
                                            	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                            		{% thumbnail item.course.image "82x82" as im %}
                                            		<img src="{{ im.url }}" alt="{{ item.course.name }}">
                                            		{% endthumbnail %}
                                            	{% else %}
                                            		{% thumbnail item.course.image "82x82" format="WEBP" as im %}
                                            		<img src="{{ im.url }}" alt="{{ item.course.name }}">
                                            		{% endthumbnail %}
                                            	{% endif %}
                                            {% else %}
                                            	<img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.course.name }}">
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td class="product-name"><a href="{% url 'courses:course_details' course_slug=item.course.slug %}">{{ item.course.name }}</a></td>
                                        <td class="product-subtotal">{{ item.course.course_valid_till_months }} Months</td>
                                        <td class="product-subtotal">&#8377; {{ item.cart_total }}
                                            {% if item.coupon_discount != 0 %}
                                                <span class="badge badge-success">(-) &#8377; {{ item.coupon_discount|floatformat:2 }}</span>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="{% url 'courses:package_details' package_slug=item.packages.slug %">
                                            {% if item.packages.image %}
                                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                    {% thumbnail item.packages.image "82x82" as im %}
                                                    <img src="{{ im.url }}" alt="{{ item.packages.package_name }}">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    {% thumbnail item.packages.image "82x82" format="WEBP" as im %}
                                                    <img src="{{ im.url }}" alt="{{ item.packages.package_name }}">
                                                    {% endthumbnail %}
                                                {% endif %}
                                            {% else %}
                                                <img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.packages.package_name }}">
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td class="product-name"><a href="{% url 'courses:package_details' package_slug=item.packages.slug %">{{ item.packages.package_name }}</a></td>
                                        <td class="product-subtotal">According to courses</td>
                                        <td class="product-subtotal">&#8377; {{ item.cart_total }}
                                            {% if item.coupon_discount != 0 %}
                                                <span class="badge badge-success">(-) &#8377; {{ item.coupon_discount|floatformat:2 }}</span>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="col-lg-5">
                <div class="your-order-area">
                    <h3>Your order</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                        	<div class="your-order-top">
                        		<ul>
                                    <li>Sub Total</li>
                                    <li> &#8377; {{ cart_total }}</li>
                                </ul>
                        	</div>
                        	{% if user_applied_coupon.coupon.coupon_type == 'ON SUBTOTAL' %}
                            <div class="your-order-bottom">
                                <ul>
                                    <li>Coupon Discount ({{ user_applied_coupon.coupon.discount_percentage }}%)</li>
                                    <li>(-) &#8377; {{ discount }}</li>
                                </ul>
                            </div>
                            {% endif %}
                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">Total</li>
                                    <li>&#8377; {{ grand_total }}</li>
                                </ul>
                            </div>
                        </div>
<!--                         <div class="payment-method">
                            <div class="payment-accordion element-mrg">
                                <div class="panel-group" id="accordion">
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-one">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#method1">
                                                    Direct bank transfer
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method1" class="panel-collapse collapse show">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-two">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#method2">
                                                    Check payments
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-three">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#method3">
                                                    Cash on delivery
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="Place-order mt-25">
                    {% if grand_total > 0 %}
                        <form action="{% url 'ecommerce_cart:place_order' %}" method="POST">
                            <script 
                                src="https://checkout.razorpay.com/v1/checkout.js"
                                data-key="{{ RAZORPAY_KEY }}",
                                data-amount="{{ razorpay_order_amount }}"
                                data-currency="INR"
                                data-order_id="{{ razorpay_order_id }}"
                                data-buttontext="Make Payment"
                                data-name="ANKR LEARNING" ,
                                data-description="{{ order_description }}"
                                data-image="{% static 'logo_ankr_new.png' %}"
                                data-prefill.name="{{ user.profile.username }}"
                                data-prefill.email="{{ user.profile.email }}"
                                data-prefill.contact="{{ user.profile.phone_no }}"
                                data-theme.color="#263949">
                            </script>
                            {% csrf_token %}
                        </form>
                    {% elif grand_total == 0%}
                        <a class="btn-hover" href="{% url 'ecommerce_cart:finish_submit_view' %}">Make Payment</a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}