{% if coupon_list %}

<div class="wrapper wrapper-content animated fadeInRight ecommerce" id="coupon_autocomplete">

<table class="table mb-0 thead-border-top-0">
    <thead>
        <tr>

            <th style="width: 37px;">Coupon Code</th>

            <th style="width: 37px;">Coupon Type</th>
            <th style="width: 37px;">Discount Type</th>
            <th style="width: 120px;">Discount Percentage/ Amount</th>
            <th style="width: 37px;">Valid Till</th>
            <th style="width: 37px;">View Details</th>
            <th style="width: 50px;">Update Coupon</th>
            <th style="width: 120px;">Delete Coupon</th>
        </tr>
    </thead>
    <tbody class="list" id="staff02">
        {% for item in coupon_list %}
        <tr>

            <td>

                <span class="js-lists-values-employee-name">{{ item.coupon_code }}</span>

            </td>

             <td>
                {{ item.coupon_type }}
            </td>


            <td>
                {{ item.discount_type }}
            </td>

            {% if item.discount_percentage %}
                <td><small class="text-muted">{{ item.discount_percentage }} %</small></td>
            {% else %}
                <td><small class="text-muted">&#8377; {{ item.discount_amount }} </small></td>
            {% endif %}

            <td>
                {{ item.valid_till|date }}
            </td>

            <td><a href="{% url 'ecommerce_cart:coupon_details' coupon_pk=item.pk %}" class="btn btn-success">View</a></td>

            <td><a href="{% url 'ecommerce_cart:coupon_update' coupon_pk=item.pk %}" class="btn btn-warning">Update</a></td>

            <td><a href="{% url 'ecommerce_cart:coupon_delete' coupon_pk=item.pk %}" onclick="return confirm('Are you sure you want to delete this coupon?');" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

</div>
{% else %}

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissable" id="limit-alert">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
              <strong>No Coupons Found</strong>
            </div>
        </div>
    </div>
</div>

{% endif %}