{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load l10n %}
{% load mathfilters %}
{% load poll_extras %}

{% block title %} Items For {{ order_details.coupon_applied.coupon_code }} {% endblock %}


{% block content %}

<!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">





                    <div class="page__heading">
                        <div class="container-fluid page__container">
                            <h1 class="mb-0">{{ order_details.user.username }} used the following items while billing using Coupon Code {{ order_details.coupon_applied.coupon_code }}</h1>
                        </div>
                        
                        
                    </div> 

                    <div class="container-fluid page__container">
                        <div class="tab-content">
                            <div class="tab-pane active show fade">
                                <!-- FIRST TAB CONTENT -->




                            </div>


                                    <div class="card">
                                        <div class="card-header card-header-large bg-white">
                                            <h4 class="card-header__title">All Items
                                            <button onclick="goBack()" class="btn btn-warning" style="margin-left: 700px;">Go Back</button>
                                            </h4>
                                        </div>


                                        <div class="table-responsive border-bottom" data-toggle="lists" data-lists-values='["js-lists-values-employee-name"]'>

                                            <table class="table mb-0 thead-border-top-0" id="book-table">
                                                <thead>
                                                    <tr>

                                                        <th style="width: 150px;">Item Name</th>
                                                        <th style="width: 150px;">Valid Till</th>
                                                        <th style="width: 150px;">Price</th>
                                                        <th style="width: 57px;">Discount</th>
                                                        <th style="width: 57px;">Subtotal</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list" id="staff">
                                                    {% for item in cart_items %}
                                                        {% if item.course %}
                                                            <tr>

                                                                <td>

                                                                    <span class="js-lists-values-employee-name">{{ item.course.name }}</span>

                                                                </td>

                                                                 <td>
                                                                    {{ item.course.course_valid_till_months }} Months
                                                                </td>


                                                                <td>
                                                                    &#8377; {{ item.course.course_price }}
                                                                </td>

                                                               

                                                                <td>
                                                                    {{ item.course.discount }}%
                                                                </td>

                                                                <td class="product-subtotal">&#8377; {{ item.cart_total|floatformat:2 }}
                                                                    {% if item.coupon_discount != 0 %}
                                                                    <span class="badge badge-success">(-) &#8377; {{ item.coupon_discount|floatformat:2 }}</span>
                                                                    {% endif %}
                                                                    </td>
                                                            </tr>
                                                        {% else %}
                                                            <tr>

                                                                <td>

                                                                    <span class="js-lists-values-employee-name">{{ item.packages.package_name }}</span>

                                                                </td>

                                                                 <td>
                                                                    According to courses
                                                                </td>


                                                                <td>
                                                                   &#8377; {{ item.packages.package_price }}
                                                                </td>

                                                               

                                                                <td>
                                                                    {{ item.packages.discount }}%
                                                                </td>

                                                                <td class="product-subtotal">&#8377; {{ item.cart_total }}
                                                                    {% if item.coupon_discount != 0 %}
                                                                        <span class="badge badge-success">(-) &#8377; {{ item.coupon_discount|floatformat:2 }}</span>
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- <div class="card-body text-right">
                                            15 <span class="text-muted">of 1,430</span> <a href="#" class="text-muted-light"><i class="material-icons ml-1">arrow_forward</i></a>
                                        </div> -->


                                    </div>

                        </div>
                    </div>


                </div>
                <!-- // END header-layout__content -->

                
{% endblock %}

{% block js %}

<!-- Project scripts -->
<script src="{% static 'course_update/plugin.js' %}"></script>

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}