{% extends "educasta/base.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block title %} {% if not form.instance.pk %} Create Coupon {% else %} Update Coupon {% endif %}{% endblock %}

{% block css %}

<!-- Select 2 Css -->
<link href="{% static 'select2/css/select2.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}


                <!-- Header Layout Content -->
                <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable page" style="padding-top: 60px;">




                    <div class="page__heading border-bottom">
                        <div class="container-fluid page__container d-flex align-items-center">
                            <h1 class="mb-0">{% if not form.instance.pk %} Create Coupon {% else %} Update Coupon {% endif %}</h1>
                        </div>
                    </div>

                    <div class="container-fluid page__container">

                        <form method="POST" enctype="multipart/form-data">
                        <div class="card card-form">
                            <div class="row no-gutters">
                                <div class="col-lg-4 card-body">
                                    <p><strong class="headings-color">{% if not form.instance.pk %} Create Coupon {% else %} Update Coupon {% endif %}</strong></p>

                                    <p class="text-muted mb-0">Enter Coupon Data</p>
                                </div>
                                <div class="col-lg-8 card-form__body card-body">
                                    {% csrf_token %}
                                    {{ form|crispy }}

                                   
                                </div>  
                            </div>
                        </div>

                        <div class="text-right mb-5">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>

                        </form>


                    </div>


                </div>
                <!-- // END header-layout__content -->
                
{% endblock %}

{% block js %}

<script src="{% static 'select2/js/select2.full.min.js' %}"></script> 

<script>
  $(document).ready(function () {
    $(".select2_demo_1").select2({ 
        placeholder: "Select Coupon Type",
        width: '100%'
    });

    $(".select2_demo_4").select2({ 
        placeholder: "Select Discount Type",
        width: '100%'
    });

    $(".select2_demo_2").select2({ 
        placeholder: "Select Packages",
        width: '100%'
    });

    $(".select2_demo_3").select2({
      placeholder: "Select Courses",
      width: '100%'
    });
  });

</script>

{% if form.instance.coupon_type == 'ON SUBTOTAL' %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#div_id_courses").hide();
            $("#div_id_packages").hide();
        });
    </script>
{% else %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#div_id_courses").show();
            $("#div_id_packages").show();
        });
    </script>
{% endif %}

{% if form.instance.discount_type == 'ON PERCENTAGE' %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#div_id_discount_amount").hide();
            $("#div_id_discount_percentage").show();
        });
    </script>
{% else %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#div_id_discount_amount").show();
            $("#div_id_discount_percentage").hide();
        });
    </script>
{% endif %}

<script type="text/javascript">
    function coupon_type_change(sel) {
    //document.getElementById("id_name").value = document.getElementById("id_LedgerGroup_Name").value;
    var txt = sel.options[sel.selectedIndex].text;

    if (txt == "ON SUBTOTAL") {
        document.getElementById("div_id_courses").style = "display:none";
        document.getElementById("div_id_packages").style = "display:none";
    } else {
        document.getElementById("div_id_courses").style = "display:unset";
        document.getElementById("div_id_packages").style = "display:unset";
    }

    }
</script>

<script type="text/javascript">
    function discount_type_change(sel) {
    //document.getElementById("id_name").value = document.getElementById("id_LedgerGroup_Name").value;
    var txt = sel.options[sel.selectedIndex].text;

    if (txt == "ON PERCENTAGE") {
        document.getElementById("div_id_discount_percentage").style = "display:unset";
        document.getElementById("div_id_discount_amount").style = "display:none";
    } else {
        document.getElementById("div_id_discount_percentage").style = "display:none";
        document.getElementById("div_id_discount_amount").style = "display:unset";
    }

    }
</script>

{% endblock %}