{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Your Orders {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Your Orders</h2>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>Your Orders</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="checkout-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Order ID</th>
                                    <th>Order Total</th>
                                    <th>DATE ORDERED</th>
                                    <th>VIEW ORDERED</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in order_list %}
                                <tr>
                                    <td class="product-thumbnail">
                                        {{ forloop.counter }}
                                    </td>
                                    <td class="product-name">{{ item.ref_code }}</td>
                                    <td class="product-subtotal">&#8377; {{ item.grand_total }}</td>
                                    <td class="product-subtotal">{{ item.date_ordered|date }}</td>
                                    <td><a href="{% url 'ecommerce_cart:order_details' user_order_slug=item.slug %}" class="btn btn-success">View Order</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}