{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %} Order Comfirmed {% endblock %}

{% block content %}

<div class="breadcrumb-area">
    <div class="breadcrumb-top default-overlay bg-img breadcrumb-overly-3 pt-100 pb-95" style="background-image:url({% static 'assets/img/bg/breadcrumb-bg-3.jpg' %});">
        <div class="container">
            <h2>Order Comfirmed</h2>
            <p>Thank You for your order! Please give your valuable feedback on successful completion of every courses. Thank You</p>
        </div>
    </div>
    <div class="breadcrumb-bottom">
        <div class="container">
            <ul>
                <li><a href="{% url 'index' %}">Home</a> <span><i class="fa fa-angle-double-right"></i>Order Comfirmed</span></li>
            </ul>
        </div>
    </div>
</div>


<div class="checkout-area pt-130 pb-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
            	<div class="alert alert-success alert-dismissable" id="limit-alert">
				      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
				      <strong>Your order is confirmed successfully! Thank You</strong>
				   	</div>
                <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Course Name</th>
                                    <th>Valid Till</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in orders.courses.all %}
                                {% if item.course %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="{% url 'courses:course_details' course_slug=item.course.slug %}">
                                            {% if item.course.image %}
                                            	{% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                            		{% thumbnail item.course.image "82x82" as im %}
                                            		<img src="{{ im.url }}" alt="{{ item.course.name }}">
                                            		{% endthumbnail %}
                                            	{% else %}
                                            		{% thumbnail item.course.image "82x82" format="WEBP" as im %}
                                            		<img src="{{ im.url }}" alt="{{ item.course.name }}">
                                            		{% endthumbnail %}
                                            	{% endif %}
                                            {% else %}
                                            	<img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.course.name }}">
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td class="product-name"><a href="{% url 'courses:course_details' course_slug=item.course.slug %}">{{ item.course.name }}</a></td>
                                        <td class="product-subtotal">{{ item.course.course_valid_till_months }} Months</td>
                                        <td class="product-subtotal">&#8377; {{ item.cart_total }}</td>

                                    </tr>
                                {% else %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="{% url 'courses:package_details' package_slug=item.packages.slug %}">
                                            {% if item.packages.image %}
                                                {% if request.user_agent.browser.family in browser_family or request.user_agent.device.family == 'iPhone' %}
                                                    {% thumbnail item.packages.image "82x82" as im %}
                                                    <img src="{{ im.url }}" alt="{{ item.packages.package_name }}">
                                                    {% endthumbnail %}
                                                {% else %}
                                                    {% thumbnail item.packages.image "82x82" format="WEBP" as im %}
                                                    <img src="{{ im.url }}" alt="{{ item.packages.package_name }}">
                                                    {% endthumbnail %}
                                                {% endif %}
                                            {% else %}
                                                <img src="{% static 'assets/img/cart/cart-1.png' %}" alt="{{ item.packages.package_name }}">
                                            {% endif %}
                                            </a>
                                        </td>
                                        <td class="product-name"><a href="{% url 'courses:package_details' package_slug=item.packages.slug %}}">{{ item.packages.package_name }}</a></td>
                                        <td class="product-subtotal">According to courses</td>
                                        <td class="product-subtotal">&#8377; {{ item.cart_total }}</td>

                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class="col-lg-5">
                <div class="your-order-area">
                    <h3>Order Id : {{ orders.ref_code }}</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                        	<div class="your-order-top">
                        		<ul>
                                    <li>Sub Total</li>
                                    <li> &#8377; {{ orders.sub_total }}</li>
                                </ul>
                        	</div>
                        	{% if orders.coupon_applied %}
                            <div class="your-order-bottom">
                                <ul>
                                    <li>Coupon Discount ({{ orders.promo_per }}%)</li>
                                    <li>(-) &#8377; {{ orders.promo_amount }}</li>
                                </ul>
                            </div>
                            {% endif %}
                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">Total</li>
                                    <li>&#8377; {{ orders.grand_total }}</li>
                                </ul>
                            </div>
                        </div>
<!--                         <div class="payment-method">
                            <div class="payment-accordion element-mrg">
                                <div class="panel-group" id="accordion">
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-one">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#method1">
                                                    Direct bank transfer
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method1" class="panel-collapse collapse show">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-two">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#method2">
                                                    Check payments
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel payment-accordion">
                                        <div class="panel-heading" id="method-three">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#method3">
                                                    Cash on delivery
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="method3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}